<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {{include "/app/meta.html" .}}
    <title>Rss/github</title>
</head>
<body>
<div id="app" v-cloak>
    {{include "/app/top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div id="main">
                {{include "/app/nav.html" .}}
                <div class="box" id="page-title">
                    <div class="box-title">
                        {{include "/app/box_title.html" .}}
                    </div>
                    <form id="search" class="box-action">
                        <label class="input">排名类型<select v-model="search.type" @change="getList()" style="width: 120px">
                            <option value="">全部</option>
                            <option value="fiction">虚构</option>
                            <option value="nonfiction">非虚构</option>
                        </select></label>
                    </form>
                </div>
                <div class="box" id="news" v-loading="loading">
                    <div class="news-cell" v-for="i in list">
                        <el-tooltip
                                effect="light"
                                :content="i.description"
                                :show-after="300"
                                raw-content
                                placement="bottom-start">
                            <a class="news-title" v-text="i.title" target="_blank" :href="i.link"></a>
                        </el-tooltip>
                        <div class="news-time">
                            <span class="news-node" v-text="title"></span>
                            &nbsp;•&nbsp;
                            <a class="author-info" :href="link" target="_blank" v-text="'from'"></a>
                            &nbsp;•&nbsp;
                            <span v-text="timeago(lastBuildDate)"></span>
                        </div>
                    </div>
                </div>
                {{include "/app/nav_bottom.html" .}}
            </div>
        </div>
    </div>
    {{include "/app/footer.html" .}}
</div>
</body>
<!-- import JavaScript -->
<script>
    const app = Vue.createApp({
        data() {
            return {
                list: [], loading: false, total: 0, search: {page: 1, size: 15, status: '', type: ''},
                title: '',
                description: '',
                link: '',
                lastBuildDate: '',
                page: {name: "Rss/豆瓣阅读", desc: "豆瓣热门图书",},
                menus: JSON.parse(localStorage.getItem('menus')),
                dark: Cookies.get('dark'),
            }
        },
        watch: {
            dark() { // dark 变动后刷新一下从服务获取dark的css
                location.reload()
            }
        },
        created() {
            this.getList();
        },
        methods: {
            setDark() {
                Cookies.set('dark', this.dark);
            },
            timeago(t) {
                return jQuery.timeago(new Date(t))
            },
            async getList(page) {
                this.search.page = page;
                this.loading = true;
                let url = `https://rsshub.app/douban/book/rank/${this.search.type}`
                let res = await $.get('/rss/fetch?url=' + url);
                this.loading = false
                if (res.code != 0) {
                    noticeError(res.msg);
                    return
                }
                const {title, lastBuildDate, link, item, description} = res.data.channel;
                this.list = item
                this.title = title;
                this.description = description;
                this.link = link;
                this.lastBuildDate = lastBuildDate
            },
        }
    })
    app.config.warnHandler = () => null
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>