<div id="footer">
    <div class="w">
        <div class="footer-utils  flex-center" style="flex-wrap: wrap">
            <a class="mr-12" href="/sys/path?path=/app/z.other_info.html" onclick="window.open(this.href,'','top=0,left=0,width=650,height=440,scrollbars=yes,resizable=no');return false;" target="_blank">Other Info</a>
            <a class="mr-12" href="/sys/path?path=/app/z.other_info.html" target="_blank">导航</a>
            <a class="mr-12" href="/sys/path?path=/app/z.quotations.html" target="_blank">语录</a>

        </div>
        <div class="mt-10 fs-12">
            <p class="fs-13">感觉还没熟悉，重头再来，熟能生巧。</p>
            <p class="mt-3">越简单的事情越难做到。</p>
            <p class="mt-3">少则得，多则惑。 </p>
        </div>
    </div>
</div>