<div id="footer">
    <div class="w">
        <p>Copyright © 2018-2022 <a href="http://www.ciel.com">CIEL</a> All Rights Reserved.</p>
    </div>
</div>
<script src="//unpkg.com/element-plus"></script>
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="/resource/js/notify.min.js"></script>
<script src="/resource/js/app.js"></script>
<script>
    function logout() {
        $.ajax({
            url: '/admin/logout',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.code == 0) {
                    window.location.href = '/login';
                }
            }
        });
    }

    function updatePwd() {
        let old = prompt('Input your old pwd');
        if (!old) {
            return
        }
        let newPwd = prompt('Input your new pwd');
        if (!newPwd) {
            return
        }
        $.post("/admin/updatePwd", {oldPwd: old, newPwd: newPwd}, (res) => {
            res.code === 0 ? noticeOkEle($(this), 'Success') : noticeErrorEle($(this), res.msg);
        });
    }
</script>