<div id="footer">
    <div class="w">
        <ul class="footer-utils">
            <!--            <li><a href="#" title="还没写呢">关于</a></li>-->
            <!--            <li><a href="#" title="这个也还没有哦">帮助文档</a></li>-->
            <li><a href="/sys/path?path=/sys/utils/server.html">服务端工具</a></li>
            <li><a href="/sys/path?path=/sys/utils/html.html">HTML</a></li>
            <li><a href="/sys/path?path=/sys/utils/css.html">CSS</a></li>
            <li><a href="/sys/path?path=/sys/utils/js.html">JavaScript</a></li>
            <!--            <li><a href="#">音乐</a></li>-->
            <!--            <li><a href="#">电影</a></li>-->
            <!--            <li><a href="#">阅读</a></li>-->
            <!--            <li><a href="#">英语</a></li>-->
        </ul>
        <div class="footer-desc">
            <p>感觉还没熟悉，重头再来，熟能生巧。</p>
            <p>越简单的事情越难做到。</p>
            <p>少则得，多则惑。 </p>
        </div>
    </div>
</div>
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="/resource/js/element-plus.js"></script>
<script src="/resource/js/toastr.min.js"></script>
<script src="/resource/js/app.js"></script>
<script src="/resource/js/timeago.js"></script>
<script src="/resource/js/js.cookie.min.js"></script>
