<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link rel="stylesheet" href="/resource/css/element-plus.css"/>
<link rel="stylesheet" href="/resource/css/toastr.min.css"/>
{{if eq .Cookie.dark 1}}
<link rel="stylesheet" href="/resource/css/dark-element/button.css"/>
<link rel="stylesheet" href="/resource/css/dark-element/tag.css"/>
<link rel="stylesheet" href="/resource/css/base-dark.css"/>
{{else}}
<link rel="stylesheet" href="/resource/css/base.css"/>
{{end}}
<script src="/resource/js/vue.js"></script>
<style>
    [v-cloak] {
        display: none;
    }
</style>
