<div class="page-header-info">
    <img class="page-log" src="/resource/image/golang.png" alt="img">
    <div class="title-main">
        <div>
            <a href="/">CIEL ADMIN</a>
            <span class="chevron">&nbsp;›&nbsp;</span>
            <span v-text="page.name"></span>
        </div>
        <div class="title-desc" v-text="page.desc"></div>
    </div>
    <div class="title-right-tool">
        <el-button-group>
            <el-button type="danger" size="small" round>{{.Session.adminInfo.Admin.uname}}</el-button>
            <el-button type="success" round size="small" onclick="updatePwd()">修改密码</el-button>
            <el-button type="info" round size="small" onclick="logout()">退出</el-button>
        </el-button-group>
    </div>
</div>