<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Other Info</title>
    <style>
        /*ul {*/
        /*    column-count: 3;*/
        /*}*/
        .wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .box {
            margin: 12px;
        }
    </style>
</head>
<body>
<h1>Other Info</h1>
<div class="wrapper">
    <div class="box">
        <b>program</b>
        <ul>
            <li><a href="https://v2ex.com/" target="_blank">v2ex</a></li>
            <li><a href="https://news.ycombinator.com/news" target="_blank">ycombinators</a></li>
            <li><a href="https://goframe.org/pages/viewpage.action?pageId=1114409" target="_blank">gf</a></li>
            <li><a href="https://github.com/1211ciel">github</a></li>
            <li><a href="https://www.google.com/" target="_blank">google</a></li>
            <li><a href="https://www.runoob.com/" target="_blank">菜鸟教程</a></li>
            <li><a href="https://staging-cn.vuejs.org/" target="_blank">vue</a></li>
            <li><a href="https://github.com/senghoo/golang-design-pattern" target="_blank">设计模式</a></li>
        </ul>
    </div>
    <div class="box">
        <b>阅读</b>
        <ul>
            <li><a href="https://www.kanunu8.com/" target="_blank">怒努书坊</a></li>
        </ul>
    </div>
</div>
</body>
</html>