<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Other Info</title>
    {{template "quotations_css"}}
</head>
<body>
<b>Other Info</b>
<div class="video_wrapper">
    <video muted="" playsinline="" loop autoplay>
        <source src="/resource/video/shiro_long.mp4" type="video/mp4">
    </video>
</div>
<div class="wrapper">
    <div class="box">
        <h2>V2EX</h2>
        <dl>
            <dt>随想</dt>
            <dd><a href="https://v2ex.com/t/451790#reply190" target="_blank">人的本质是什么?最近迷茫人活着的意义到底是什么 </a></dd>
        </dl>
    </div>
</div>
</body>
</html>