<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Other Info</title>
    {{template "quotations_css"}}
</head>
<body>
<b>Other Info</b>
<div class="video_wrapper">
    <video muted="" playsinline="" loop autoplay>
        <source src="/resource/video/shiro_long.mp4" type="video/mp4">
    </video>
</div>
<div class="wrapper">
    <div class="box">
        <h2>Program</h2>
        <dl>
            <dt>Backend</dt>
            <dd><a href="https://goframe.org/pages/viewpage.action?pageId=1114409" target="_blank">gf</a></dd>
            <dd><a href="https://goframe.org/pages/viewpage.action?pageId=1114409" target="_blank">gf核心重点</a></dd>
            <dd><a href="https://www.liwenzhou.com/posts/Go/golang-menu/" target="_blank">李文周的博客</a></dd>
            <dd><a href="https://github.com/gorilla/websocket" target="_blank">websocket</a></dd>
            <dd><a href="https://github.com/jobbole/awesome-go-cn" target="_blank">awesome-go-cn</a></dd>
            <dt>Frontend</dt>
            <dd><a href="https://staging-cn.vuejs.org/" target="_blank">vue</a></dd>
            <dt>Utils</dt>
            <dd><a href="https://www.google.com/" target="_blank">google</a></dd>
            <dd><a href="https://github.com/1211ciel">github</a></dd>
            <dd><a href="https://stackoverflow.com/" target="_blank">stackoverflow</a></dd>
            <dd><a href="https://wakatime.com/dashboard" target="_blank">wakatime</a></dd>
            <dd><a href="https://leetcode.cn/" target="_blank">leetcode</a></dd>
            <dt>Tutorial</dt>
            <dd><a href="https://roadmap.sh/" target="_blank">roadmap</a></dd>
            <dd><a href="https://www.runoob.com/" target="_blank">菜鸟教程</a></dd>
            <dd><a href="https://github.com/senghoo/golang-design-pattern" target="_blank">设计模式</a></dd>
        </dl>
    </div>
    <div class="box">
        <h2>Reading</h2>
        <dl>
            <dt>社区</dt>
            <dd><a href="https://v2ex.com/" target="_blank">v2ex</a></dd>
            <dd><a href="https://news.ycombinator.com/news" target="_blank">ycombinators</a></dd>
            <dt>News</dt>
            <dd><a class="mr-12" href="https://cn.wsj.com/" target="_blank">华尔街日报</a></dd>
            <dt>Books</dt>
            <dd><a href="https://www.kanunu8.com/" target="_blank">怒努书坊</a></dd>
        </dl>
    </div>
    <div class="box">
        <h2>Study</h2>
        <dl>
            <dt>English</dt>
            <dd><a href="https://dictionary.cambridge.org/dictionary/english-chinese-simplified/" target="_blank">英语词典</a></dd>
            <dd><a href="https://www.duolingo.com/learn" target="_blank">多邻国</a></dd>
            <dt>逻辑</dt>
            <dd><a href="https://mubu.com/explore/4AJDy5fqhNf" target="_blank">逻辑·语法·修辞</a></dd>
            <dt>语文</dt>
            <dd><a href="http://www.hydcd.com/cy/" target="_blank">成语词典</a></dd>
            <dt>地理</dt>
            <dd><a href="http://map.ps123.net/world/List_1.html" target="_blank">世界地图</a></dd>
        </dl>
    </div>
    <div class="box">
        <h2>Music</h2>
        <dl>
            <dt>Youtube</dt>
            <dd><a href="https://www.youtube.com/channel/UCc9EzBNAtdnNiDrMw5CAxUw" target="_blank">relaxdaily</a></dd>
            <dd><a href="https://www.twitch.tv/miametzmusic" target="_blank">miametzmusic</a></dd>
            <dt>Piano</dt>
            <dd><a href="https://www.youtube.com/watch?v=3JIVt09EHyg&list=PLXgwzCnUOKzpu8VPKZm_HSjNJqyLhVTf3&index=14" target="_blank">Forrest Gump with Relaxing Forest Sound</a></dd>
        </dl>
    </div>
    <div class="box">
        <h2>V2EX</h2>
        <dl>
            <dt>随想</dt>
            <dd><a href="https://v2ex.com/t/451790#reply190" target="_blank">人的本质是什么?最近迷茫人活着的意义到底是什么 </a></dd>
        </dl>
    </div>
</div>
</body>
</html>