<!DOCTYPE html>
<html lang="zh">
<head>
    {{include "/part/meta.html" .}}
    <title>添加菜单 - {{.Config.server.name}}</title>
</head>
<body>
{{include "/part/top.html" .}}
<div id="wrapper">
    <div class="w">
        <div id="wrapper-left">
            <div class="box no-bottom-border">
                <div class="cell flex-center">
                    {{imgSettings}}
                    {{a "ml-12" "/admin/menu" "返回" .Query}}
                </div>
                {{.msg}}
                <div class="cell">
                    {{a "link-2-active" "#" "添加菜单" }}
                </div>
                <form class="cell" method="post" action="/admin/menu/post?{{toUrlParams .Query}}">
                    <table class="table-add">
                        {{editTrRequired "name" "名称" ""}}
                        {{editTrRequired "pid" "PID" 0}}
                        {{editTrRequired "path" "PATH" ""}}
                        {{editTr "icon" "icon" ""}}
                        {{editTr "bg_img" "背景图" ""}}
                        {{editTrTextarea "desc" "说明" ""}}
                        {{editTrNumber "sort" "sort" 0 0.01 -1 300}}
                        {{editTrOptions "type" "类型" .Config.options.menuType 1}}
                        {{editTrOptions "status" "状态" .Config.options.status 1}}
                        {{editTrSubmit}}
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{{include "/part/footer.html" .}}
{{include "/part/endJs.html" .}}
</body>
</html>