<!DOCTYPE html>
<html lang="en">
<head>
    {{include "/part/meta.html" .}}
    <title>添加菜单 - {{.Config.server.name}}</title>
</head>
<body>
{{include "/part/top.html" .}}
<div id="wrapper">
    <div class="w">
        <div id="wrapper-left">
            <div class="box no-bottom-border">
                <div class="cell flex-center">
                    <img src="/resource/image/settings.png" alt="Settings" width="64" height="64">
                    <a class="ml-12" href="/menu/path?{{toUrlParams .Query}}"> <i class="fa fa-hand-o-left" aria-hidden="true"> 返回</i> </a>
                </div>
                {{.msg}}
                <div class="cell">
                    <a class="link-2-active link-2 " href="#">添加菜单</a>
                    <a href="#" class="link-2">添加角色</a>
                    <a href="#" class="link-2">添加API</a>
                </div>
                <form class="cell" method="post" action="/menu/post?{{toUrlParams .Query}}">
                    <table class="table-add" cellspacing="5" cellpadding="0" border="0">
                        <tr>
                            <td width="160" align="right">名称</td>
                            <td width="auto" align="left"><input name="name" required></td>
                        </tr>
                        <tr>
                            <td align="right">pid</td>
                            <td width="auto" align="left"><input type="text" name="pid" value="0"></td>
                        </tr>
                        <tr>
                            <td align="right">icon</td>
                            <td><input type="text" name="icon"></td>
                        </tr>
                        <tr>
                            <td align="right">path</td>
                            <td><input name="path" required></td>
                        </tr>
                        <tr>
                            <td align="right">说明</td>
                            <td><textarea name="desc"></textarea></td>
                        </tr>
                        <tr>
                            <td align="right">sort</td>
                            <td><input type="text" name="sort" value="0"></td>
                        </tr>
                        <tr>
                            <td align="right">type</td>
                            <td><select name="type">
                                <option value="2">分组</option>
                                <option value="1" selected>菜单</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td align="right">状态</td>
                            <td>
                                <select name="status">
                                    <option value="1" selected>开启</option>
                                    <option value="2">关闭</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn-info" type="submit">提交</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{{include "/part/footer.html" .}}
{{include "/part/endJs.html" .}}
</body>
</html>