<!DOCTYPE html>
<html lang="zh">
<head>
    {{include "/part/meta.html" .}} <title>{{.node.Name}} - {{.Config.server.name}} </title>
</head>
<body style="display: none">
{{include "/part/top.html" .}}
<div id="wrapper">
    <div class="w">
        <div id="wrapper-left">
            {{include "/part/nav.html" .}}
            <div class="box no-bottom-border">
                {{include "/part/page_base_info.html" .}}
                <form id="searchForm" class="cell flex-center no-bottom-border" action="{{.node.Path}}" method="get">
                    <a class="tag-info mr-3" href="{{.node.Path}}/add?{{toUrlParams .Query}}"> <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                    <input id="page" name="page" value="1" hidden> <input name="size" value="{{.Query.size}}" hidden>
                    <label class="input">pid<input type="text" name="menu_pid" value="{{.Session.menu_pid}}" onkeydown="if(event.keyCode===13)this.form.submit()"> </label>
                    <label class="input">名称<input type="text" name="menu_name" value="{{.Session.menu_name}}" onkeydown="if(event.keyCode===13)this.form.submit()"></label>
                    <label class="input">路径<input type="text" name="menu_path" value="{{.Session.menu_path}}" onkeydown="if(event.keyCode===13)this.form.submit()"></label>
                </form>
            </div>
            <div class="box no-bottom-border">
                {{.msg}}
                <table class="table-1">
                    <tr>
                        <th>id</th>
                        <th>pid</th>
                        <th>名称</th>
                        <th>图标</th>
                        <th>背景图</th>
                        <th>路径</th>
                        <th>排序</th>
                        <th>类型</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    {{range .list}}
                    <tr class="">
                        <td data-label="ID">{{.id}}</td>
                        <td data-label="PID">{{.pid}}</td>
                        <td data-label="名称">{{.name}}</td>
                        <td data-label="图标">{{img .icon}}</td>
                        <td data-label="背景图">{{img .bg_img}}</td>
                        <td data-label="路径">{{.path}}</td>
                        <td data-label="排序">{{.sort}}</td>
                        <td data-label="类型">{{chooseSpan $.Config.options.menuType .type}}</td>
                        <td data-label="状态">{{chooseSpan $.Config.options.status .status}}</td>
                        <td data-label="创建时间">{{.created_at}}</td>
                        <td data-label="操作" align="center">
                            <a class="tag-info" href="#" onclick=" location.href='{{$.node.Path}}/edit/{{.id}}?{{toUrlParams $.Query}}'"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                            <a class="tag-danger" href="#" onclick="if(confirm('确认删除?')){location.href='{{$.node.Path}}/del/{{.id}}?{{toUrlParams $.Query}}'}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{end}}
                </table>
                {{include "/part/pagination.html" .}}
            </div>
        </div>
    </div>
</div>
{{include "/part/footer.html" .}}
{{include "/part/endJs.html" .}}
</body>
</html>