<!DOCTYPE html>
<html lang="zh">
<head>
    {{include "/part/meta.html" .}}
    <title>{{.node.Name}} - {{.Config.server.name}} </title>
</head>
<body>
{{include "/part/top.html" .}}
<div id="wrapper">
    <div class="w">
        <div id="wrapper-left">
            {{include "/part/nav.html" .}}
            <div class="box-02 no-bottom-border">
                {{include "/part/page_base_info.html" .}}
                <form class="cell flex-center no-bottom-border p-3" action="/admin/menu" method="get">
                    {{a "tag-primary mr-auto" "/admin/menu/add" "添加"}}
                    {{searchPageSize .Query}}
                    {{input "pid" "pid" .Query}}
                    {{input "name" "名称" .Query}}
                    {{input "path" "路径" .Query}}
                </form>
            </div>
            <div class="box-02 no-bottom-border">
                {{.msg}}
                <table class="table-1">
                    <tr>{{th "id,pid,名称,图标,背景图,路径,排序,类型,状态,创建时间,操作"}}</tr>
                    {{range .list}}
                    <tr>
                        {{td "ID" .id}}
                        {{td "PID" .pid}}
                        {{td "名称" .name}}
                        {{tdImg "图标" .icon}}
                        {{tdImg "背景图" .bg_img}}
                        {{td "路径" .path}}
                        {{td "排序" .sort}}
                        {{tdChoose "类型" $.Config.options.menuType .type}}
                        {{tdChoose "状态" $.Config.options.status .status}}
                        {{td "创建时间" .created_at}}
                        <td align="center">
                            {{a "tag-warning" (concat "/admin/menu/edit/" .id) "修改" $.Query}}
                            {{aDel (concat "/admin/menu/del/" .id) $.Query}}
                        </td>
                    </tr>
                    {{end}}
                </table>
                {{include "/part/pagination.html" .}}
            </div>
        </div>
    </div>
</div>
{{include "/part/footer.html" .}}
{{include "/part/endJs.html" .}}
</body>
</html>