/*css FreeKey 修饰先后顺序 dark.css
1. 基础
    - SBase
2. 文本相关
    - SColor
    - SBg background
    - SMsg
3. 其他属性
4. 组件功能
- 4.1 布局
    - SNav .nav
    - SRightNav .right-nav
    - SWrapper .wrapper
    - SFooter .footer
    - SBox .box .box-02 .box-03 .box-04
    - SCell .cell
    - SCellContent .cell-content
    - SCellHover .cell-hover
    - SCellTools .cell-tools
- 4.2 组件
    - SLink  .link
    - STag .tag
    - SBtn .btn
    - STheme .theme
    - SIcon .s-icon
    - SInput .input
    - STable .table-1
    - STableAdd .table-add
    - SProgressBox .progress-box
    - SLoading
    - SContent
- SOther

 */
/*SBase*/
html {
    background-color: var(--steelblue-009);
}

a {
    background-color: transparent;
}

a:active, a:link, a:visited {
    color: var(--white-18);
}

/*SColor*/
.color-gray {
    color: var(--steelblue-001) !important;
}

.color-blue {
    color: var(--blue-006) !important;
}

.color-green {
    color: var(--green-013) !important;
}

.color-red {
    color: var(--red-010) !important;
}

.color-yellow {
    color: var(--yellow-007) !important;
}

.color-white-1 {
    color: var(--white-01) !important;
}

.color-white-4 {
    color: var(--white-11) !important;
}

.color-desc-01 {
    color: var(--steelblue-001);
}

.color-desc-02 {
    color: var(--white-22);
}

.color-desc-03 {
    color: var(--white-15) !important;
}

/*SBg*/
.bg-dark {
    background-color: var(--steelblue-010);
}

.bg-box {
    background-color: var(--steelblue-009) !important;
}

.bg-desc {
    background-color: var(--white-35) !important;
}

/*SMsg*/
.msg-primary {
    background-color: var(--blue-014);
    border-left: 5px solid var(--blue-006);
    border-bottom: 1px solid var(--blue-014);
    color: var(--blue-006);
}

.msg-warning {
    border-left: 5px solid var(--yellow-009);
    border-bottom: 1px solid var(--steelblue-007);
    color: var(--yellow-007);
}


/*SNav*/
.sub-nav {
    background-color: var(--steelblue-010);
    border-bottom: 1px solid var(--steelblue-007);
}

/*SRightNav*/

.right-nav li:hover {
    background-color: var(--steelblue-010);
    /*border-bottom: 1px solid var(--steelblue-007);*/
}

.right-title {
    color: var(--white-23)
}

/*SWrapper*/
.wrapper {
    background-color: var(--steelblue-007);
}

/*SFooter*/
.footer {
    border-top: 1px solid var(--black-02);
    background-color: var(--steelblue-009);
    color: var(--steelblue-001);
}

/*SBox*/
.box, .box-02 {
    background-color: var(--steelblue-009);
}

.box-03 {
    border: 2px dashed rgba(216, 216, 255, .2);
    color: rgba(216, 216, 255, .2)
}

/*SCell*/
.cell, .cell-content, .cell-nowrap {
    border-bottom: 1px solid var(--steelblue-007);
    color: var(--white-11);
}

.cell-content pre {
    background-color: var(--steelblue-011);
}

.cell-content p, .cell-content li {
    color: var(--white-16);
}

.cell-hover:hover {
    background-color: var(--steelblue-011);
    box-shadow: var(--cell-hover-dark-shadow);
}

.cell h1 {
    color: var(--white-08);
}

.cell-flag {
    color: var(--white-10);
    border-right: 1px solid var(--steelblue-007);
}

/*SCellTools*/
.cell-tools {
    background: linear-gradient(to bottom, var(--steelblue-008) 0, var(--steelblue-010) 100%);
    color: var(--white-10);
}

/*SLink*/

.link-1 {
    color: var(--white-18) !important;
}

.link-1:hover {
    color: var(--white-19) !important;
}

.link-2 {
    color: var(--white-18) !important;
}

.link-2:hover {
    color: var(--white-19) !important;
    background-color: var(--steelblue-002);
}

.link-2-active {
    color: var(--white-19) !important;
    background-color: var(--steelblue-002);
}

.link-3 {
    color: var(--white-18);
}

.link-3:hover {
    color: var(--white-19);
}

.link-4:hover {
    color: var(--white-19);
}

.link-6 {
    border-bottom: 3px solid var(--white-18) !important;
}

.link-7:hover {
    color: var(--white-19) !important;
    border-bottom: 3px solid var(--steelblue-007)
}

.link-8:hover {
    background-color: var(--steelblue-010);
}

/*STag*/

.tag, .tag-3 {
    color: var(--white-18) !important;
    background-color: var(--steelblue-002) !important;
}

.tag:hover, .tag-3:hover {
    transition: background-color 0.3s ease;
    color: var(--steelblue-010) !important;
    background-color: #9caec7 !important;
}

.tag-2 {
    color: var(--white-11) !important;
    background-color: var(--steelblue-002);
}

.tag-2:hover {
    background-color: var(--steelblue-007);
}

.tag-3 {
    background-color: var(--steelblue-007);
}

.tag-4 {
    color: var(--white-18);
}

.tag-4:hover {
    color: var(--white-19);
    background-color: var(--steelblue-002);
}

.tag-5 {
    color: var(--white-11) !important;
    text-shadow: none;
    background: linear-gradient(to bottom, #606c88 0, #3f4c6b 100%);
}

.tag-5:hover {
    color: var(--white-10) !important;
    background: linear-gradient(to bottom, #404a62 0, #222630 100%)
}

.tag-info {
    color: var(--white-26) !important;
    background-color: var(--white-37) !important;
    border: 1px solid var(--white-35) !important;
}

.tag-info:hover {
    color: var(--white-26) !important;
    background-color: var(--white-35) !important;
}

.tag-success {
    color: var(--green-007) !important;
    background-color: var(--green-017) !important;
    border: 1px solid var(--green-016) !important;
}

.tag-success:hover {
    color: var(--green-007) !important;
    background-color: var(--green-016) !important;
}

.tag-primary {
    color: var(--blue-006) !important;
    background-color: var(--blue-015) !important;
    border: 1px solid var(--blue-014) !important;
}

.tag-primary:hover {
    background-color: var(--blue-014) !important;
    color: var(--blue-006) !important;
}

.tag-warning {
    background-color: var(--yellow-013) !important;
    color: var(--yellow-007) !important;
    border: 1px solid var(--yellow-012) !important;
}

.tag-warning:hover {
    background-color: var(--yellow-012) !important;
    color: var(--yellow-007) !important;
}


.tag-brown {
    background-color: var(--red-022) !important;
    color: var(--red-013) !important;
    border: 1px solid var(--red-021) !important;
}

.tag-brown:hover {
    background-color: var(--red-021) !important;
    color: var(--red-013) !important;
}

.tag-purple {
    background-color: var(--purple-09) !important;
    color: var(--purple-05) !important;
    border: 1px solid var(--purple-08) !important;
}

.tag-purple:hover {
    background-color: var(--purple-08) !important;
    color: var(--purple-05) !important;
}

.tag-danger {
    background-color: var(--red-023) !important;
    color: var(--red-010) !important;
    border: 1px solid var(--red-011) !important;
}

.tag-danger:hover {
    background-color: var(--red-011) !important;
    color: var(--red-010) !important;
}

.tag-blue {
    background-color: var(--blue-014) !important;
    color: var(--blue-006) !important;
}

.tag-answer {
    border: 2px solid var(--white-24);
    border-bottom: 4px solid var(--white-24);
}

.tag-answer:hover {
    background-color: var(--white-30);
}


.tag-v2ex {
    color: var(--white-18);
    border: 1px solid var(--white-18);
}

.tag-v2ex:hover {
    color: var(--white-19);
    border: 1px solid var(--white-19);
}

/*SBtn*/
.btn-info {
    color: var(--white-15) !important;
    text-shadow: 0 1px 0 var(--white-33);
    background-color: var(--white-37);
    border: 1px solid var(--white-35);
}

.btn-info:hover, .btn-info.btn-disabled:hover {
    color: var(--white-01) !important;
    background-color: var(--white-20);
}

.btn-success {
    color: var(--green-007) !important;
    text-shadow: 0 1px 1px var(--green-018);
    background-color: var(--green-017);
    border: 1px solid var(--green-016);
}

.btn-success:hover {
    color: var(--green-004) !important;
    background-color: var(--green-015);
}

.btn-primary {
    color: var(--blue-007) !important;
    text-shadow: 0 1px 1px var(--blue-017);
    background-color: var(--blue-015);
    border: 1px solid var(--blue-014);
}

.btn-primary:hover {
    color: var(--blue-002) !important;
    background-color: var(--blue-013);
}

.btn-warning {
    color: var(--yellow-007) !important;
    text-shadow: 0 1px 1px var(--red-024);
    background-color: var(--yellow-013);
    border: 1px solid var(--yellow-012);
}

.btn-warning:hover {
    color: var(--yellow-002) !important;
    background-color: var(--yellow-009);
}

.btn-brown {
    background-color: var(--brown-07);
    color: var(--borwn-03) !important;
    text-shadow: 0 1px 1px var(--borwn-08);
    border: 1px solid var(--borwn-06);
}

.btn-brown:hover {
    background-color: var(--borwn-02);
    color: var(--borwn-01) !important;
}


.btn-purple {
    background-color: var(--purple-09);
    color: var(--purple-04) !important;
    text-shadow: 0 1px 1px var(--purple-11);
    border: 1px solid var(--purple-07);
}

.btn-purple:hover {
    background-color: var(--purple-03);
    color: var(--purple-02) !important;
    /*border: 1px solid var(--purple-04);*/
}

.btn-danger {
    color: var(--red-010) !important;
    text-shadow: 0 1px 1px var(--red-025);
    background-color: var(--red-022);
    border: 1px solid var(--red-021);
}

.btn-danger:hover {
    color: var(--red-002) !important;
    background-color: var(--red-015);
}

.btn-disabled {
    cursor: not-allowed !important;
    color: var(--white-27) !important;
    text-decoration: none !important;
}

.btn-info.btn-disabled:hover {
    color: var(--white-27) !important;
    background-color: var(--white-37);
}

.btn-duo-info, .btn-duo-error {
    color: var(--white-10);
    background-color: var(--white-36);
    border: solid var(--white-35);
}

.btn-duo-info, .btn-duo-info-disabled {
    color: var(--white-30);
    border: solid var(--white-35);
    background-color: var(--white-35);
}

.btn-duo-info {
    color: var(--white-15);
    background-color: var(--steelblue-009);
    border: solid var(--steelblue-003);
}

.btn-duo-error {
    color: var(--red-025) !important;
    background-color: var(--red-009);
}

.btn-duo-info:hover {
    background-color: var(--white-36);
}

.btn-duo-success {
    color: var(--green-019) !important;
    border: solid var(--green-009);
    background-color: var(--green-008);
}

.btn-duo-success:hover {
    background-color: var(--green-005);
}

.btn-duo-primary {
    color: var(--blue-016) !important;
    background-color: var(--blue-004);
    border: solid var(--blue-010);
}

.btn-duo-primary:hover {
    background-color: var(--blue-010);
}

.btn-disabled-v2ex {
    background-color: #22303f;
    color: #344251 !important;
    text-shadow: 0 1px 1px rgb(40 51 64);
    border: 1px solid rgb(34 48 63);
}

.btn-disabled-v2ex:hover {
    background-color: #22303f;
    color: #344251 !important;
}

/*STheme*/
.theme-info {
    color: var(--white-15) !important;
    background-color: var(--white-35) !important;
}

.theme-info-2 {
    color: var(--white-10) !important;
    background-color: var(--steelblue-0071) !important;
    border: 2px solid var(--steelblue-003);
}

.textarea-duo-normal {
    color: var(--white-11);
}

.theme-success {
    background-color: var(--green-017);
    color: var(--green-007);
}

.theme-primary {
    background-color: var(--blue-015) !important;
    color: var(--blue-006) !important;
}

.theme-blue {
    background-color: var(--blue-014) !important;
    color: var(--blue-006) !important;
}

.theme-warning {
    background-color: var(--yellow-013) !important;
    color: var(--yellow-007) !important;
}

.theme-brown {
    background-color: var(--red-021) !important;
    color: var(--red-013) !important;
}

.theme-purple {
    background-color: var(--purple-08) !important;
    color: var(--purple-05) !important;
}

.theme-danger {
    background-color: var(--red-023) !important;
    color: var(--red-010) !important;
}

/*SIcon*/
.s-icon-24:hover, .s-icon:hover, .s-icon-64:hover, .s-icon-76:hover, .s-icon-36:hover, .s-icon-83:hover {
    box-shadow: 0 2px 25px var(--white-07);
}

/*SInput*/
.input {
    color: var(--white-16);
}

.input input, .input select, .input textarea {
    color: var(--white-20);
    background-color: var(--steelblue-010);
    border: 1px solid var(--steelblue-010);
}

.input-duo-normal {
    color: var(--white-10) !important;
    background-color: var(--steelblue-0071) !important;
    border-bottom: 2px solid var(--steelblue-003);
}

/*STable*/

.table-1 {
    box-shadow: 0 1px 2px var(--black-02);
    border-color: gray;
    color: var(--white-15)
}

.table-1 tr:nth-child(2n) {
    background-color: var(--steelblue-011);
}

.table-1 tr:hover {
    background-color: var(--steelblue-011);
    box-shadow: 6px 6px 20px var(--white-34) inset;
}

.table-1 td {
    border: 1px solid var(--steelblue-002);
}

.table-2 td {
    color: var(--white-13);
}

.table-2 .h {
    border-right: 1px solid var(--steelblue-007);
    border-bottom: 2px solid var(--steelblue-007);
}

.table-2 .d {
    border-right: 1px solid var(--steelblue-007);
    border-bottom: 1px solid var(--steelblue-007);
}

/*STableAdd*/
.table-add td input, textarea, select {
    color: var(--white-11);
    border: 1px solid var(--steelblue-002);
    background-color: var(--steelblue-009);
}

.table-add td input:focus, textarea:focus, select:focus {
    border: 1px solid var(--steelblue-001) !important;
    background-color: var(--steelblue-010);
}

.table-add td .inputRequired {
    border-color: var(--yellow-010) !important;
}

.table-add td .inputRequired:focus {
    border-color: var(--yellow-007) !important;
    background-color: var(--yellow-009);
}

/*SProgressBox*/
.progress-all {
    background-color: var(--steelblue-003);
}

.progress-current {
    background-color: var(--green-010);
}

/*SLoading*/
.full-screen-loading {
    background-color: var(--steelblue-010);
}

.loading-spinner {
    border: 16px solid var(--white-03);
    border-top: 16px solid var(--blue-007);
}

/*SContent*/
.content h2 {
    border-bottom: 1px solid var(--steelblue-007);
}

blockquote {
    color: var(--steelblue-001);
    border-left: 0.25em solid var(--steelblue-002);
    background-color: var(--steelblue-009);
}

/*SOther*/

.GPageLink {
    color: var(--white-18);
    background-color: transparent;
    border: 1px solid var(--steelblue-002);
}

.GPageSpan, .GPageLink:hover {
    color: var(--white-11);
    background-color: var(--steelblue-002);
    border: 1px solid var(--steelblue-002);
}

.GPageSpan:hover, .GPageLink:hover {
    color: var(--white-01);
}

.time {
    color: var(--steelblue-001);
}

::placeholder {
    color: var(--steelblue-001);
}

.top-mobile-menu {
    box-shadow: 0 2px 25px rgba(200, 200, 255, 0.2);
}


.read-content h2 {
    border-bottom: 1px solid var(--steelblue-007);
}

.read-content pre {
    background-color: var(--steelblue-010);
}

/*theme-read*/
.theme {
    background-color: var(--steelblue-010);
}

.theme-nav-item, .theme-nav-item-current {
    color: var(--white-27);
}

.theme-nav-item:hover, .theme-nav-item-current {
    color: var(--white-11) !important;
    background-color: var(--steelblue-008) !important;
}

.theme-nav-item-current {
    color: var(--white-11) !important;
    background-color: var(--steelblue-009) !important;
}

.theme-article, .theme-box {
    color: var(--white-11);
    background-color: var(--steelblue-009) !important;
}


.theme-right-nav-item {
    color: var(--white-11) !important;
}

.theme-right-nav-item:hover {
    color: var(--white-11) !important;
    background-color: var(--steelblue-008) !important;
}

.theme-article h2 {
    border-bottom: 1px solid var(--steelblue-007);
}

.theme-nav-mobile {
    background-color: var(--steelblue-010);
}

.theme-article pre, code {
    background-color: var(--black-04);
}

/*English*/
/* English*/
.challenge-msg-background {
    border-top: 1px solid var(--steelblue-007);
}
