/*css FreeKey 修饰先后顺序 white.css
1. 基础
    - SBase
2. 文本相关
    - SColor
    - SBg background
    - SMsg
3. 其他属性
4. 组件功能
- 4.1 布局
    - SLog
    - SNav .nav
    - SRightNav .right-nav
    - SWrapper .wrapper
    - SFooter .footer
    - SBox .box .box-02 .box-03 .box-04
    - SCell .cell
    - SCellContent .cell-content
    - SCellHover .cell-hover
    - SCellTools .cell-tools
- 4.2 组件
    - SLink  .link
    - STag .tag
    - SBtn .btn
    - STheme .theme
    - SIcon .s-icon
    - SInput .input
    - STable .table-1
    - STableAdd .table-add
    - SProgressBox .progress-box
    - SLoading
    - SContent
- SOther
- SEnglish
*/
/*SBase*/
html {
    background-color: var(--white-01);
}

a {
    background-color: transparent;
}

a:active, a:link, a:visited {
    color: var(--white-27);
}

/*SColor*/
.color-gray {
    color: var(--white-27) !important;
}

.color-blue {
    color: var(--blue-006) !important;
}

.color-green {
    color: var(--green-013) !important;
}

.color-red {
    color: var(--red-010) !important;
}

.color-yellow {
    color: var(--yellow-007) !important;
}

.color-white-1 {
    color: var(--white-01) !important;
}

.color-desc-01 {
    color: var(--white-13);
}

.color-desc-02 {
    color: var(--white-25);
}

.color-desc-03 {
    color: var(--white-33) !important;
}

/*SBg*/
.bg-dark {
    background-color: var(--steelblue-010) !important;
}

.bg-right {
    background-color: var(--green-003) !important;
}

.bg-error {
    background-color: var(--red-002) !important;
}

.bg-desc {
    background-color: var(--white-12) !important;
}

.bg-box {
    background-color: var(--white-01) !important;
}

/*SMsg*/
.msg-primary, .msg-warning {
    color: var(--white-38);
}

.msg-primary {
    background-color: var(--blue-001);
    border-left: 5px solid var(--blue-002);
    border-bottom: 1px solid var(--white-08);
}

.msg-warning {
    background-color: var(--yellow-003);
    border-left: 5px solid var(--yellow-004);
    border-bottom: 1px solid var(--white-08);
}

/*SLog*/
.logo {
    color: var(--black-01) !important;
}

/*SNav*/
.sub-nav {
    background-color: var(--white-04);
    border-bottom: 1px solid var(--white-08);
}

/*SRightNav*/
.right-nav li:hover {
    background-color: var(--white-02);
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) inset;
}

.right-title {
    color: var(--white-25)
}

/*SWrapper*/
.wrapper {
    background-color: var(--white-08);
}

/*SFooter*/
.footer {
    border-top: 1px solid var(--black-02);
    background-color: var(--white-01);
    color: var(--white-16);
}

/*SBox*/
.box, .box-02 {
    color: var(--steelblue-001);
    background-color: var(--white-01);
    border-bottom: 1px solid var(--white-08);
}


/*SCell*/
.cell, .cell-content, .cell-nowrap {
    border-bottom: 1px solid var(--white-08);
    color: var(--black-01);
    /*color: var(--black-03);*/
    transition: border-bottom-color .3ms ease-out;
}


/*SCellContent*/
.cell-content pre {
    background-color: var(--white-02);
}


/*SCellHover*/
.cell-hover:hover {
    background-color: var(--white-05);
    box-shadow: var(--cell-hover-shadow);
}

.cell h1 {
    color: var(--black-01);
}

.cell-flag {
    color: var(--white-27);
    border-right: 1px solid var(--white-08);
}

/*SCellTools*/
.cell-tools {
    background: linear-gradient(to bottom, var(--white-05) 0, var(--white-13) 100%);
}

.cell-tools span:not(.GPageSpan) {
    text-shadow: 0 1px 0 var(--white-01);
    color: var(--white-26);
}

/*SLink*/
.link-1 {
    color: var(--white-30) !important;
}

.link-1:hover {
    color: var(--white-20) !important;
}

.link-2 {
    color: var(--white-32) !important;
}

.link-2:hover {
    color: var(--black-01) !important;
    background-color: var(--white-02) !important;
}

.link-2-active {
    color: var(--white-01) !important;
    background-color: var(--steelblue-005) !important;
}

.link-2-active:hover {
    color: var(--white-01) !important;
    background-color: var(--steelblue-004) !important;
}

.link-3 {
    color: var(--white-27) !important;
}

.link-3:hover {
    color: var(--white-31) !important;
}

.link-4:hover {
    color: var(--steelblue-006) !important;
}

.link-6 {
    border-bottom: 3px solid var(--black-01) !important;
}

.link-7:hover {
    color: var(--white-26) !important;
    border-bottom: 3px solid var(--white-05) !important;
}

.link-8:hover {
    background-color: var(--white-02);
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) inset;
}

/*STag*/
.tag, .tag-3 {
    color: var(--white-25) !important;
    background-color: var(--white-02) !important;
}

.tag-2 {
    color: var(--white-01) !important;
    background-color: var(--white-21);
}

.tag-2:hover {
    background-color: var(--white-22);
}

.tag-4 {
    color: var(--white-38) !important;
    text-shadow: 0 1px 0 var(--white-01);
    transition: var(--transition);
}

.tag-4:hover {
    color: var(--black-01) !important;
    background-color: var(--white-28);
    text-decoration: none;
}

.tag-5 {
    color: var(--white-29) !important;
    text-shadow: 0 1px 0 var(--white-01);
    background: var(--white-02);
}

.tag-5:hover {
    color: var(--black-01) !important;
    background: var(--white-04);
}

.tag:hover, .tag-3:hover {
    color: var(--white-26) !important;
    background-color: var(--white-08) !important;
}

.tag-info {
    background-color: var(--white-02) !important;
    color: var(--white-26) !important;
    border: 1px solid var(--white-06) !important;
}

.tag-info:hover {
    background-color: var(--white-26) !important;
    color: var(--white-02) !important;
}

.tag-primary {
    background-color: var(--blue-001) !important;
    color: var(--blue-006) !important;
    border: 1px solid var(--blue-002) !important;
}

.tag-primary:hover {
    background-color: var(--blue-006) !important;
    color: var(--blue-001) !important;
}

.tag-warning {
    background-color: var(--yellow-001) !important;
    color: var(--yellow-007) !important;
    border: 1px solid var(--yellow-002) !important;
}

.tag-warning:hover {
    background-color: var(--yellow-007) !important;
    color: var(--yellow-001) !important;
}

.tag-success {
    background-color: var(--green-001) !important;
    color: var(--green-007) !important;
    border: 1px solid var(--green-002) !important;
}

.tag-success:hover {
    background-color: var(--green-007) !important;
    color: var(--green-001) !important;
}

.tag-brown {
    background-color: var(--red-003) !important;
    color: var(--red-013) !important;
    border: 1px solid var(--red-004) !important;
}

.tag-brown:hover {
    background-color: var(--red-013) !important;
    color: var(--red-003) !important;
}

.tag-purple {
    background-color: var(--purple-01) !important;
    color: var(--purple-05) !important;
    border: 1px solid var(--purple-02) !important;
}

.tag-purple:hover {
    background-color: var(--purple-05) !important;
    color: var(--purple-01) !important;
}

.tag-danger {
    background-color: var(--red-001) !important;
    color: var(--red-010) !important;
    border: 1px solid var(--red-005) !important;
}

.tag-danger:hover {
    background-color: var(--red-010) !important;
    color: var(--red-001) !important;
}

.tag-blue {
    background-color: var(--blue-001) !important;
    color: var(--blue-006) !important;
}

.tag-answer {
    border: 2px solid var(--white-09);
    border-bottom: 4px solid var(--white-09);
}

.tag-answer:hover {
    background-color: var(--white-04);
}

.tag-v2ex {
    border: 1px solid #e5e5e5;
    color: var(--white-27);
}

.tag-v2ex:hover {
    color: #333;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgb(0 0 32 / 10%);
}

/*SBtn*/
.btn-info {
    color: var(--white-38) !important;
    text-shadow: 0 1px 0 var(--white-01);
    background-color: var(--white-01);
    box-shadow: 0 1px 0 var(--white-40);
    border: 1px solid var(--white-39);
    border-bottom-color: var(--white-36);
}

.btn-info:hover {
    /*background-image: linear-gradient(var(--white-01), var(--white-08));*/
    background-color: var(--white-06);
}

.btn-success {
    color: var(--green-018) !important;
    text-shadow: 0 1px 1px var(--green-004);
    background-color: var(--green-011);
    box-shadow: 0 1px 2px var(--green-015);
    border: 1px solid var(--green-012);
    border-bottom-color: var(--green-015);
}

.btn-success:hover {
    background-color: var(--green-010);
}

.btn-primary {
    color: var(--blue-017) !important;
    background-color: var(--blue-007);
    text-shadow: 0 1px 1px var(--blue-003);
    box-shadow: 0 1px 2px var(--blue-012);
    border: 1px solid var(--blue-009);
    border-bottom-color: var(--blue-012);
}

.btn-primary:hover {
    background-color: var(--blue-005);
    box-shadow: 0 1px 2px var(--blue-011);
}

.btn-warning {
    background-color: var(--yellow-006);
    color: var(--red-020) !important;
    text-shadow: 0 1px 1px var(--white-17);
    box-shadow: 0 1px 2px var(--yellow-009);
    border: 1px solid var(--yellow-010);
    border-bottom-color: var(--white-36);
}

.btn-warning:hover {
    background-color: var(--yellow-004);
    color: var(--red-024);
    text-shadow: 0 1px 1px var(--white-17);
    box-shadow: 0 1px 2px var(--yellow-011);
    border: 1px solid var(--yellow-008);
}

.btn-brown {
    background-color: var(--borwn-03);
    color: var(--borwn-071) !important;
    text-shadow: 0 1px 1px var(--white-17);
    box-shadow: 0 1px 2px var(--borwn-04);
    border: 1px solid var(--borwn-021);
    border-bottom-color: var(--borwn-051);
}

.btn-brown:hover {
    background-color: var(--borwn-02);
    color: var(--borwn-071) !important;
    border-bottom-color: var(--borwn-05);
}

.btn-purple {
    background-color: var(--purple-03);
    color: var(--purple-10) !important;
    text-shadow: 0 1px 1px var(--white-17);
    box-shadow: 0 1px 2px var(--purple-07);
    border: 1px solid var(--purple-04);
    border-bottom-color: var(--purple-06);
}

.btn-purple:hover {
    background-color: var(--purple-021);
    color: var(--purple-10) !important;
    border-bottom-color: var(--purple-06);
}

.btn-danger {
    color: var(--red-019) !important;
    background-color: var(--red-012);
    text-shadow: 0 1px 1px var(--red-006);
    box-shadow: 0 1px 2px var(--red-014);
    border: 1px solid var(--red-016);
    border-bottom-color: var(--red-017);
}

.btn-danger:hover {
    background-color: var(--red-007);
}

.btn-duo-info-disabled, .btn-duo-success, .btn-duo-primary, .btn-duo-error {
    background-color: var(--white-01);
    border: solid var(--white-35);
    color: var(--white-33);
}

.btn-duo-info {
    background-color: var(--white-01);
    border: solid var(--white-35);
    color: var(--white-141);
}

.btn-duo-info:hover {
    background-color: var(--white-35);
}

.btn-duo-info-disabled {
    color: var(--white-36) !important;
    background-color: var(--white-35);
    border-color: rgb(233 233 234);
}

.btn-duo-success {
    background-color: var(--green-006);
    border: solid var(--green-014);
    color: var(--white-01) !important;
}

.btn-duo-success:hover {
    background-color: var(--green-005);
}

.btn-duo-error {
    background-color: var(--red-015);
    border: solid var(--red-018);
    color: var(--red-001) !important;
}

.btn-duo-error:hover {
    background-color: var(--red-008);
}

.btn-duo-primary {
    color: var(--blue-0071) !important;
    background-color: var(--blue-0011);
    border: solid var(--blue-0031);
}


.btn-disabled {
    cursor: not-allowed !important;
    color: var(--white-13) !important;
}

.btn-disabled-v2ex {
    background-color: var(--white-13);
    color: var(--white-25) !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .6);
    box-shadow: 0 1px 2px rgba(200, 200, 200, .8);;
    border: 1px solid rgba(150, 150, 150, .8);
}

.btn-disabled-v2ex:hover {
    background-color: var(--white-13) !important;
}

/*STheme*/
.theme-info {
    color: var(--white-24) !important;
    background-color: var(--white-15) !important;
}

.theme-info-2 {
    color: var(--black-03) !important;
    background-color: var(--white-04) !important;
    border: 2px solid var(--white-09);
}

.theme-success {
    background-color: var(--green-003) !important;
    color: var(--green-0071) !important;
}

.theme-primary {
    background-color: var(--blue-001) !important;
    color: var(--blue-006) !important;
}

.theme-blue {
    background-color: #479ef8 !important;
    color: #f4fefc !important;
}

.theme-warning {
    background-color: var(--yellow-001) !important;
    color: var(--yellow-007) !important;
}

.theme-brown {
    background-color: var(--red-003) !important;
    color: var(--red-013) !important;
}

.theme-purple {
    background-color: var(--purple-01) !important;
    color: var(--purple-05) !important;
}

.theme-danger {
    background-color: var(--red-003) !important;
    color: var(--red-0171) !important;
}

/*SIcon*/
.s-icon:hover, .s-icon-64:hover, .s-icon-76:hover, .s-icon-36:hover, .s-icon-83:hover {
    box-shadow: var(--elevation-box-shadow-4) !important;
}

/*SInput*/
.input {
    color: var(--white-38);
}

.input input, .input textarea, .input select {
    color: var(--white-20);
    background-color: var(--white-02);
    border: 1px solid var(--white-01);
}

.input input:focus, input:focus-visible {
    border: 1px solid var(--white-20);
}

.input-duo-normal {
    border-bottom: 2px solid var(--white-09);
    color: var(--white-10);
}


.input-duo-normal {
    border-bottom: 2px solid var(--white-09);
    color: var(--black-03);
}


/*STable*/
.table-1 tr:nth-child(2n) {
    background-color: var(--white-02);
}

.table-1 tr:hover {
    background-color: var(--white-05);
    box-shadow: 6px 6px 6px var(--white-12) inset
}

.table-1 td {
    border: 1px solid var(--white-13);
}

.table-2 td {
    color: var(--black-01);
}

.table-2 .h {
    border-right: 1px solid var(--white-13);
    border-bottom: 2px solid var(--white-13);
}

.table-2 .d {
    border-right: 1px solid var(--white-13);
    border-bottom: 1px solid var(--white-13);
}

/*STableAdd*/
.table-add {
    color: var(--white-38) !important;
}

.table-add td input, textarea, select {
    border: 1px solid var(--white-08);
    color: var(--white-38);
}

.table-add td input:focus, textarea:focus, select:focus {
    border: 1px solid var(--white-20) !important;
    background-color: var(--white-05);
}

.table-add td .inputRequired {
    border-color: var(--yellow-010) !important;
    background-color: var(--yellow-001);
}

.table-add td .inputRequired:focus {
    border-color: var(--yellow-002) !important;
    background-color: var(--yellow-005);
    color: var(--white-30);
}

/*SProgressBox*/
.progress-all {
    background-color: var(--white-09);
}

.progress-current {
    background-color: var(--green-006);
}

/*SLoading*/
.full-screen-loading {
    background-color: var(--white-05);
    border-radius: 3px;
}

.loading-spinner {
    border: 13px solid var(--white-03);
    border-top: 13px solid var(--blue-011);
}

/*SContent*/
.content h2 {
    border-bottom: 1px solid var(--white-08);
}

hr {
    color: var(--white-08);
    background-color: var(--white-08);
}

blockquote {
    color: var(--white-24);
    border-left: 0.25em solid var(--white-24);
}


/*SOther*/
.GPageLink {
    background-color: var(--white-01);
    border: 1px solid var(--white-08);
    box-shadow: 0 1px 1px var(--black-02);
}

.GPageSpan, .GPageLink:hover {
    color: var(--white-27);
    background-color: var(--white-02);
    border: 1px solid var(--white-14);
}

.GPageSpan:hover, .GPageLink:hover {
    color: var(--white-31);
}

.time {
    color: var(--white-13);
}

.top-mobile-menu {
    box-shadow: 0 2px 25px var(--black-02);
}


.read-content h2 {
    border-bottom: 1px solid var(--white-08);
}

.read-content pre {
    background-color: var(--white-02);
}

/*theme-read*/
.theme {
    background-color: var(--white-04);
}

.theme-nav-item, .theme-nav-item-current {
    color: var(--white-27);
}

.theme-nav-item:hover, .theme-nav-item-current {
    color: var(--white-38) !important;
    background-color: var(--white-031) !important;
}

.theme-nav-item-current {
    background-color: var(--white-01) !important;
}


.theme-article, .theme-box {
    background-color: var(--white-01) !important;
}


.theme-right-nav-item {
    color: var(--black-01) !important;
}

.theme-right-nav-item:hover {
    background-color: var(--white-031);
}

.theme-article h2 {
    border-bottom: 1px solid var(--white-08);
}

.theme-nav-mobile {
    background-color: var(--white-01);
}

.code {
    display: inline-block;
}

.theme-article pre, code {
    background-color: var(--white-02);
}

/* English*/
.challenge-msg-background {
    border-top: 1px solid var(--white-08);
}

@media screen and (max-width: 700px) {
    .challenge-msg-background {
        border-top: none;
    }
}
