:root {
    --white-001: #fff;
    --white-002: #f5f5f5;
    --white-003: #f9f9f9;
    --white-004: #eee;
    --white-005: #e9e9eb;
    --white-006: #e2e2e2;
    --white-007: #c9d2db;
    --white-008: #d1d5d9;
    --white-009: rgb(224 224 224 / .9);
    --white-010: #ccc;
    --white-011: #bbb;
    --white-012: #cbcbcb;

    --silver-01: silver;
    --silver-02: rgb(255 255 255 / .6);
    --silver-03: #9caec7;
    --silver-04: #a9bcd6;
    --silver-05: #99a;

    --gray-001: #858585;
    --gray-002: #909399;
    --gray-003: #778087;
    --gray-004: rgba(255, 255, 255, .3);

    --dusk-001: #556;
    --dusk-002: #4d5256;
    --dusk-003: rgba(158, 144, 158, .3);
    --dusk-004: rgba(144, 147, 153, 0.2);
    --dusk-005: rgba(80, 80, 90, .35);
    --gray-006: rgba(144, 147, 153, 0.1);
    --dusk-007: rgba(66, 66, 77, .1);
    --dusk-008: #333;
    --dusk-009: rgba(80, 80, 90, .2);

    --steelblue-01: steelblue;
    --steelblue-02: #385f8a;
    --steelblue-03: #506174;
    --steelblue-04: #393f4e;
    --steelblue-05: #22303f;
    --steelblue-06: #18222d;
    --steelblue-07: #04222b;
    --steelblue-08: #001d25;
    --steelblue-09: #334;
    --steelblue-10: #445;
    --steelblue-11: #001D25;


    --black-01: #000;
    --black-02: rgba(0, 0, 0, .2);

    --yellow-01: #fdf6ec;
    --yellow-02: #faecd8;
    --yellow-03: #ffffc0;
    --yellow-04: #ffdf00;
    --yellow-05: #fc0;
    --yellow-06: #e6a23c; /*primary*/
    --yellow-07: #c89600;
    --yellow-08: rgb(233 175 0 / 60%);
    --yellow-09: rgba(200, 150, 0, .8);
    --yellow-10: rgb(233 175 0 / 50%);
    --yellow-11: rgba(230, 162, 60, 0.1);
    --yellow-12: rgba(230, 162, 60, 0.2);

    --blue-01: #ecf5ff;
    --blue-02: #c7e8ff;
    --blue-03: #409eff;
    --blue-04: #253761;
    --blue-05: rgba(0, 173, 255, 0.1);

    --green-01: #f0f9eb;
    --green-02: #e1f3d8;
    --green-03: #67c23a;
    --green-04: #2c8f0c;
    --green-05: rgba(103, 194, 58, 0.2);
    --green-06: rgba(103, 194, 58, 0.1);

    --red-01: #fef0f0;
    --red-02: #fab6b6;
    --red-03: #f56c6c;
    --red-04: #76444a;
    --red-05: #373039;

    --brown-01: #ffe2df;
    --brown-02: #f16d45;
    --brown-03: #f9dbd1;
    --brown-04: rgba(241, 109, 69, 0.1);
    --brown-05: rgba(241, 109, 69, 0.2);
    --brown-06: #5e1905;
    --brown-07: #402112;
    --brown-08: #532b17;

    --purple-01: #f3e5f5;
    --purple-02: #8e24aa;
    --purple-03: #e1bee7;
    --purple-04: rgba(142, 36, 170, 0.1);
    --purple-05: rgba(142, 36, 170, 0.2);

    --transition-time: 0.3s;
    --transition: color var(--transition-time) ease, background-color var(--transition-time) ease;
    --box-spacing: 20px;
    --box-border-radius: 3px;
    --cell-hover-shadow: 6px 12px 37px rgb(224 224 224 / 90%) inset;
    --cell-hover-dark-shadow: 6px 12px 37px rgb(64 79 94) inset;
    --cell-tools-dark-bg: linear-gradient(to bottom, #253345 0, #1a2430 100%);

    --elevation-box-shadow-1: rgba(0, 0, 0, .2) 0 2px 1px -1px, rgba(0, 0, 0, .14) 0px 1px 1px 0px, rgba(0, 0, 0, .12) 0px 1px 3px 0px;
    --elevation-box-shadow-2: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0px 2px 2px 0px, rgba(0, 0, 0, .12) 0px 1px 5px 0px;
    --elevation-box-shadow-3: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0px 3px 4px 0px, rgba(0, 0, 0, .12) 0px 1px 8px 0px;
    --elevation-box-shadow-4: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0px 4px 5px 0px, rgba(0, 0, 0, .12) 0px 1px 10px 0px;
    --elevation-box-shadow-5: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0px 6px 10px 0px, rgba(0, 0, 0, .12) 0px 1px 18px 0px;
    --elevation-box-shadow-6: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0px 8px 10px 1px, rgba(0, 0, 0, .12) 0px 3px 14px 2px;
}

/*base*/
* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
    margin: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


body {
    font-family: "Segoe UI", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", "Apple Logo", sans-serif;
}

h1, h2 {
    margin: 16px 0 16px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0
}

h2, h3 {
    padding-left: 6px;
    font-weight: 600;
}

h2 {
    padding-bottom: .3em;
    font-size: 18px;
    line-height: 1.25;
    word-break: break-word
}

h3 {
    font-size: 16px;
    line-height: 1;
    margin: 20px 0 15px;
    word-break: break-word
}

li {
    list-style: none;
}

hr {
    border: none;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 16px
}

a:active,
a:link,
a:visited {
    word-break: break-all;
    cursor: pointer;
}

a:active,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*base2*/

.w-80 {
    width: 80px !important;
}

.w-90 {
    width: 90px !important;
}


.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.m-3 {
    margin: 3px !important;
}

.m-10 {
    margin: 10px !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.mr-3 {
    margin-right: 3px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mr-auto {
    margin-right: auto !important;
}

.min-w-80 {
    min-width: 80px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-3 {
    padding: 3px !important;
}

.p-10 {
    padding: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

/*font-size*/
.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.strong {
    font-weight: 700 !important;
}

.fr {
    float: right;
    text-align: right;
}

/*flex*/
.flex {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-baseline {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-inline {
    display: inline-flex;
    flex-wrap: wrap;
}

/*box*/
.box {
    border-radius: var(--box-border-radius);
    margin-top: var(--box-spacing);
    box-shadow: var(--elevation-box-shadow-2);
    opacity: 0.99;
}

.box-header {
    height: 26px;
    line-height: 26px;
    padding: 10px;
    font-size: 14px;
    border-radius: var(--box-border-radius) var(--box-border-radius) 0 0;
}

.box-header i {
    font-size: 20px;
}

/*cell*/
.cell, .cell-content {
    border-top-left-radius: var(--box-border-radius);
    border-top-right-radius: var(--box-border-radius);
    line-height: 1.5;
    padding: 10px;
    font-size: 14px;
    min-height: 3px;
}

.cell-content {
    padding: 10px;
}

.cell-content ul {
    margin: 15px 28px;
    padding: 0;
}

.cell-content li {
    list-style: outside;
    margin: 0 3px;
}

.cell-content p {
    text-indent: 2em;
}

.cell-content pre {
    padding: 10px;
    border-radius: 6px;
    overflow: auto;
}

.cell h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 6px;
}

.cell-hover:hover {
    border-radius: 3px;
    transition: all var(--transition-time) ease;
}

.cell-hover:hover .desc {
    cursor: pointer;
    transition: all var(--transition-time) ease;
}

.cell-tools {
    padding: 0 6px;
    border-radius: 0 0 3px 3px;
    line-height: 120%;
    min-height: 16px;
    font-size: 12px;
}

.cell-tools span {
    margin-right: 3px;
}

/*link*/
.link-1 {
    padding: 0 6px;
    word-break: break-word;
    cursor: pointer;
    transition: color var(--transition-time) ease;
}

.link-1:hover {
    text-decoration: none;
}

.link-2, .link-2-active {
    display: inline-block;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition)
}

.link-2:hover, .link-2-active:hover {
    text-decoration: none;
}

.link-3 {
    padding: 0;
    line-height: 1.58;
    word-break: keep-all !important;
    transition: var(--transition);
}

.link-3:hover {
    text-decoration: underline !important;
}

.link-4 {
    transition: var(--transition)
}

.link-4:hover {
    cursor: pointer !important;
    text-decoration: none;
}

.link-5 {
    font-size: 12px;
    line-height: 12px;
    padding: 3px 10px;
}

.link-5:hover {
    border-radius: 15px;
}

.link-6 {
    padding: 8px;
    font-size: 14px;
    display: inline-block;
}

.link-6:hover {
    text-decoration: none
}

.link-7 {
    padding: 8px;
    font-size: 14px;
    display: inline-block;
    transition: var(--transition);
}

.link-7:hover {
    text-decoration: none;
}

/*tag*/
.tag {
    font-size: 12px;
    padding: 3px 4px;
    border-radius: 3px;
    word-break: keep-all;
    line-height: 12px;
    transition: color var(--transition-time) ease, background-color var(--transition-time) ease;
}

.tag:hover {
    text-decoration: none;
}

.tag-2 {
    box-shadow: var(--elevation-box-shadow-2);
    font-weight: 700;
    padding: 2px 8px;
    border-radius: 12px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    transition: var(--transition);
}

.tag-2:hover {
    text-decoration: none !important;
}

.tag-3 {
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    padding: 3px 8px;
    border-radius: 10px;
    word-break: keep-all;
    transition: var(--transition);
}

.tag-3:hover {
    text-decoration: none;
}

.tag-info, .tag-primary, .tag-warning, .tag-success, .tag-brown, .tag-purple, .tag-danger {
    display: inline-flex;
    white-space: break-spaces !important;
    max-width: 156px;
    height: auto !important;
    padding: 4px 10px !important;
    text-align: left;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    margin: 3px;
    transition: var(--transition)
}

.tag-blue {
    font-weight: 500;
    display: inline-flex;
    cursor: pointer;
    border-radius: 9px;
    padding: 3px 12px;
    transition: all var(--transition-time) ease;
    text-align: center;
    word-break: keep-all;
    line-height: 1;
}

.tag-info:hover, .tag-success:hover, .tag-primary:hover, .tag-warning:hover, .tag-brown:hover, .tag-purple:hover, .tag-danger:hover {
    text-decoration: none !important;
}


.tag-blue:hover {
    text-decoration: underline !important;
}

/*theme*/
.theme-info, .theme-success, .theme-primary, .theme-warning, .them-brown, .theme-purple .theme-danger {
    border-radius: 3px;
}

/*msg*/
.msg-primary, .msg-warning {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}


.btn-warning, .btn-info {
    background-image: url(/resource/image/bg_blended_light.png);
    padding: 4px 15px 3px;
    border-radius: 3px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: inline-block;
    line-height: 1.4;
    outline: 0;
    text-decoration: none;
    transition: var(--transition);
}

.btn-info:hover, .btn-warning:hover {
    text-decoration: none;
    cursor: pointer;
}


/*table*/
.table-1 {
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    font-family: "JetBrains Mono", serif;
    border-collapse: collapse;
}

.table-1 tr {
    transition: var(--transition);
}

.table-1 tr th {
    font-weight: 700;
    font-size: 12px;
    padding: 1px 9px;
    text-align: left;
    white-space: nowrap;
}

.table-1 td {
    font-size: 13px;
    margin: 0;
    padding: 1px 9px;
    height: 34px;
    overflow: hidden !important;
    white-space: nowrap;
    max-width: 182px;
}

.table-1 td:hover {
    overflow: auto !important;
}

.table-1 tr td:first-child,
.table-1 tr th:first-child,
.table-1 tr th:last-child {
    text-align: center;
}

.table-1 td:hover {
    overflow: auto;
}

/*table add*/

.table-add td input, textarea, select {
    width: 320px;
    padding: 6px 12px;
    border-radius: 3px;
    /*font-size: 14px !important;*/
    font-family: helvetica neue, luxi sans, Tahoma, hiragino sans gb, microsoft yahei, sans-serif, apple logo;;
    box-sizing: border-box;
    outline: none;
    transition: var(--transition)
}

.table-add td textarea {
    width: 595px;
    height: 196px;
}

.table-add td input:focus, textarea:focus, select:focus {
    outline: none;
}

/* input*/
.input {
    display: inline-block;
    margin: 6px 6px;
    font-size: 13px;
}

.input input, .input textarea, .input select {
    width: 69px;
    margin-left: 6px;
    padding: 3px 9px;
    border-radius: 15px;
    font-size: 10px;
    font-family: helvetica neue, luxi sans, Tahoma, hiragino sans gb, microsoft yahei, sans-serif, apple logo;;
    outline: none;
    transition: all var(--transition-time) ease;
}

.input select {
    width: auto;
}

.input input:focus {
    width: 133px;
}

li .input {
    display: flex !important;
    align-items: flex-start;
    justify-content: flex-start;
}


/*other*/
.hover-underline:hover {
    text-decoration: underline !important;
}

.text-max-width-633 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 633px;
}

/*s-icon*/
.s-icon, .s-icon-large, .s-icon-76 {
    width: 48px;
    height: 48px;
    vertical-align: bottom;
    border-radius: 5px;
    box-shadow: var(--elevation-box-shadow-2);
    transition: all var(--transition-time);
}

.s-icon:hover, .s-icon-large, .s-icon-76 {
    box-shadow: var(--elevation-box-shadow-4);
}

.s-icon-large {
    width: 64px;
    height: 64px;
}

.s-icon-76 {
    width: 76px;
    height: 76px;
}

.no-bottom-border {
    border-bottom: none !important;
}

.hover-underline a:hover {
    text-decoration: underline !important;
}

.fa {
    margin: 0 12px;
}

[v-cloak] {
    display: none;
}

.logo {
    margin-right: 9px;
    font-weight: bolder;
    font-size: 32px;
    white-space: nowrap;
    word-break: keep-all !important;
}

.logo:hover {
    text-decoration: none;
}

.user-info-mobile {
    display: none;
}

::placeholder {
    font-size: 14px;
}

.GPageLink {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 6px;
    border-radius: var(--box-border-radius);
    margin: 0 5px;
    text-decoration: none !important;
}

.GPageSpan {
    font-weight: 700;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: var(--box-border-radius);
    line-height: 12px;
    text-decoration: none;
}

.page-mobile {
    display: none;
    padding: 6px;
    justify-content: start;
    align-items: center;
}

/*---------------------layout------------------------------*/
#top {
    height: 44px;
    line-height: 44px;
    font-weight: 500;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .22);
}

#nav {
    padding: 7px 10px 10px 10px;
    margin-left: 3px;
    border-bottom: none;
}

#nav a {
    margin-right: 3px;
    margin-top: 3px;
}

#sub-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    min-height: 22px;
    border-bottom: none;
    border-radius: 0 0 3px 3px;
}

#sub-nav a {
    margin-right: 12px;
}

#wrapper {
    background-image: url("/resource/image/shadow_light.png");
    background-repeat: repeat-x;
    padding-bottom: var(--box-spacing);
    min-height: 233px;
}

#wrapper-left {
    width: 100%;
}

#wrapper-right {
    margin-left: var(--box-spacing);
}

#footer {
    padding: 10px;
    min-height: 122px;
    font-size: 14px;
}

#footer .w {
    display: block;
}

.w {
    max-width: 1211px;
    margin: 0 auto;
    padding: 0 var(--box-spacing);
    display: flex;
}

@media screen and (max-width: 779px) {
    :root {
        --box-spacing: 12px;
    }

    .wrapper-right {
        display: none;
    }

    #top .w .top-right, .top-pc {
        display: none !important;
    }

    #top .w .top-right-mobile, .top-mobile {
        display: flex !important;
    }

    .user-info-mobile {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --box-spacing: 6px;
    }

    .sub-nav-right, .web, .chapter-desc, .fr.min-w-80 {
        display: none;
    }

    .page-mobile {
        display: flex;
    }

    #wrapper .w .wrapper-left #nav {
        padding: 7px 4px 10px 10px;
    }
}

@media screen and(max-width: 400px) {
    .chapter-last-visitor {
        display: none;
    }
}