:root {
    --white-001: #fff;
    --white-002: #f5f5f5;
    --white-003: #f9f9f9;
    --white-004: #eee;
    --white-005: #e9e9eb;
    --white-006: #e2e2e2;
    --white-007: #c9d2db;
    --white-008: #d1d5d9;
    --white-009: rgb(224 224 224 / .9);
    --white-010: #ccc;
    --white-011: #bbb;
    --white-012: #cbcbcb;
    --white-013: #f7f7f7;

    --silver-01: silver;
    --silver-02: rgb(255 255 255 / .6);
    --silver-03: #9caec7;
    --silver-04: #a9bcd6;
    --silver-05: #99a;
    --silver-06: #aab0c6;
    --silver-07: #969cb1;
    --silver-08: #b2c3d4;

    --gray-001: #858585;
    --gray-002: #909399;
    --gray-003: #778087;
    --gray-004: rgba(255, 255, 255, .3);
    --gray-005: #999;
    --gray-008: #e5e5e5;

    --dusk-001: #556;
    --dusk-002: #4d5256;
    --dusk-003: rgba(158, 144, 158, .3);
    --dusk-004: rgba(144, 147, 153, 0.2);
    --dusk-005: rgba(80, 80, 90, .35);
    --gray-006: rgba(144, 147, 153, 0.1);
    --dusk-007: rgba(66, 66, 77, .1);
    --dusk-008: #333;
    --dusk-009: rgba(80, 80, 90, .2);
    --dusk-010: #444;
    --dusk-011: #555;
    --dusk-012: #666;


    --steelblue-01: steelblue;
    --steelblue-02: #385f8a;
    --steelblue-03: #506174;
    --steelblue-04: #393f4e;
    --steelblue-05: #22303f;
    /*--steelblue-06: #18222d;*/
    --steelblue-06: #171f24;
    --steelblue-07: #04222b;
    --steelblue-08: #001d25;
    --steelblue-09: #334;
    --steelblue-10: #445;
    --steelblue-11: #001D25;
    --steelblue-12: #18222d;
    --steelblue-13: #738292;
    --steelbule-14: #242e35;


    --black-01: #000;
    --black-02: rgba(0, 0, 0, .2);
    --black-03: #4b4b4b;
    --black-04: #3c3c3c;

    --yellow-01: #fdf6ec;
    --yellow-02: #faecd8;
    --yellow-03: #ffffc0;
    --yellow-04: #ffdf00;
    --yellow-05: #fc0;
    --yellow-06: #e6a23c; /*primary*/
    --yellow-07: #c89600;
    --yellow-08: rgb(233 175 0 / 60%);
    --yellow-09: rgba(200, 150, 0, .8);
    --yellow-10: rgb(233 175 0 / 50%);
    --yellow-11: rgba(230, 162, 60, 0.1);
    --yellow-12: rgba(230, 162, 60, 0.2);

    --blue-01: #ecf5ff;
    --blue-02: #c7e8ff;
    --blue-03: #03C8FF;
    --blue-04: #253761;
    --blue-05: rgba(0, 173, 255, 0.1);
    --blue-06: #1484cd;
    --blue-07: #ddf4ff;
    --blue-08: #84d8ff;
    --blue-09: #1899d6;

    --green-01: #f0f9eb;
    --green-02: #e1f3d8;
    --green-03: #67c23a;
    --green-04: #2c8f0c;
    --green-05: rgba(103, 194, 58, 0.2);
    --green-06: rgba(103, 194, 58, 0.1);
    --green-07: #58cc02;
    --green-08: #58a700;
    --green-09: #67d516;
    --green-10: #d7ffb8;

    --red-01: #fef0f0;
    --red-02: #fab6b6;
    --red-03: #f56c6c;
    --red-04: #76444a;
    --red-05: #373039;
    --red-06: #ffdfe0;
    --red-07: #ff4b4b;
    --red-08: #ea2b2b;
    --red-09: #f67373;

    --brown-01: #ffe2df;
    --brown-02: #f16d45;
    --brown-03: #f9dbd1;
    --brown-04: rgba(241, 109, 69, 0.1);
    --brown-05: rgba(241, 109, 69, 0.2);
    --brown-06: #5e1905;
    --brown-07: #402112;
    --brown-08: #532b17;

    --purple-01: #f3e5f5;
    --purple-02: #8e24aa;
    --purple-03: #e1bee7;
    --purple-04: rgba(142, 36, 170, 0.1);
    --purple-05: rgba(142, 36, 170, 0.2);

    --transition-time: 0.3s;
    --transition: color var(--transition-time) ease, background var(--transition-time) ease;
    --box-spacing: 20px;
    --box-border-radius: 3px;
    --cell-hover-shadow: 6px 12px 37px rgb(224 224 224 / 90%) inset;
    --cell-hover-dark-shadow: 6px 12px 37px rgb(64 79 94) inset;
    --cell-tools-dark-bg: linear-gradient(to bottom, #253345 0, #1a2430 100%);
    --content-padding: 12px 54px;
    --content-line-height: 34px;
    --content-font-size: 18px;

    --elevation-box-shadow-1: rgba(0, 0, 0, .2) 0 2px 1px -1px, rgba(0, 0, 0, .14) 0px 1px 1px 0px, rgba(0, 0, 0, .12) 0px 1px 3px 0px;
    --elevation-box-shadow-2: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0px 2px 2px 0px, rgba(0, 0, 0, .12) 0px 1px 5px 0px;
    --elevation-box-shadow-3: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0px 3px 4px 0px, rgba(0, 0, 0, .12) 0px 1px 8px 0px;
    --elevation-box-shadow-4: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0px 4px 5px 0px, rgba(0, 0, 0, .12) 0px 1px 10px 0px;
    --elevation-box-shadow-5: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0px 6px 10px 0px, rgba(0, 0, 0, .12) 0px 1px 18px 0px;
    --elevation-box-shadow-6: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0px 8px 10px 1px, rgba(0, 0, 0, .12) 0px 3px 14px 2px;
    --code-font: "Consolas", "Panic Sans", "Bitstream Vera Sans Mono", "Menlo", "Microsoft Yahei", monospace;
}

/*base*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
!important;
}

body {
    display: none;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0 0 10px;
    padding: 0;
    line-break: anywhere
}

h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
    margin: 24px 0 16px;
    padding-bottom: .3em;
    word-break: break-word
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    margin: 20px 0 15px;
    padding: 0;
    word-break: break-word
}

pre {
    font-family: var(--code-font);
    font-size: 13px;
    letter-spacing: .015em;
    line-height: 120%;
    white-space: pre;
    overflow: auto;
    word-break: normal;
    overflow-wrap: normal;
    padding: .5em;
    margin: .9em;
}

pre a {
    color: inherit;
    text-decoration: underline
}

blockquote {
    margin-left: 6px;
    padding: 0.5em 1em;
    font-size: 12px;
    color: var(--gray-001);
    border-left: 0.25em solid var(--gray-001);
    border-radius: 3px;
}

blockquote p {
    text-indent: 0 !important;
}

code {
    font-family: var(--code-font);
    white-space: pre-wrap
}

li {
    list-style: none;
}

hr {
    border: none;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 16px
}

a:active,
a:link,
a:visited {
    word-break: break-all;
    cursor: pointer;
}

a:active,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ul {
    margin: 15px 0 15px 20px;
    padding: 0
}

ul p {
    text-indent: 0 !important;
}

ol li,
ul li {
    padding: 0;
    margin: 0
}

ol {
    margin: 1em 0 1em 2em;
    padding: 0
}

.width-auto {
    width: auto !important;
    max-width: none !important;
}

.opacity-2 {
    opacity: 0.2 !important;
}

.opacity-9 {
    opacity: 0.9 !important;
}

.sticky-3 {
    position: sticky;
    top: 3px;
}

.z-index-33 {
    z-index: 33;
}

.border-02 {
    border: 2px dashed rgba(0, 0, 0, .15) !important;
    background-color: transparent !important;
}

.background-color-transparent {
    background-color: transparent !important;
}


input:read-only {
    cursor: default;
    color: var(--gray-001) !important;
}

/*base2*/
.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.w-30 {
    width: 30px !important;
}

.w-percent-30 {
    width: 30% !important;
}

.w-80 {
    width: 80px !important;
}

.w-90 {
    width: 90px !important;
}

.w-120 {
    width: 120px !important;
}

.w-180 {
    width: 180px !important;
    min-width: 180px !important;
    max-width: 180px !important;
}

.w-220 {
    width: 220px !important;
}

.w-fifty {
    width: 50% !important;
}

@media screen and (max-width: 768px) {
    .w-fifty {
        width: 100% !important;
    }
}

.w-full {
    width: 100% !important;
}

.h-200 {
    height: 200px !important;
}


.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.m-3 {
    margin: 3px !important;
}

.m-10 {
    margin: 10px !important;
}

.mtb-10 {
    margin: 10px 0 !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.ml-6 {
    margin-left: 6px !important;
}

.ml-9 {
    margin-left: 9px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.mr-3 {
    margin-right: 3px !important;
}

.mr-6 {
    margin-right: 6px !important;
}

.mlr-6 {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.mlr-6 {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-6 {
    margin-top: 6px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-33 {
    margin-top: 33px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mr-auto {
    margin-right: auto !important;
}

.min-w-80 {
    min-width: 80px !important;
}

.min-w-90 {
    min-width: 90px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-3 {
    padding: 3px !important;
}

.p-6 {
    padding: 6px !important;
}

.p-10 {
    padding: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-2 {
    padding-left: 2px !important;
}

.pl-3 {
    padding-left: 3px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-6 {
    padding-bottom: 6px !important;
}

/*font-size*/
.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.strong {
    font-weight: 700 !important;
}

.fr {
    float: right;
    text-align: right;
}

/*flex*/
.flex {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-no-wrap {
    display: flex;
    align-items: center;
    flex-wrap: nowrap !important;
}

.flex-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-baseline {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-between-start {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-inline {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-self-center {
    align-self: center !important;
}

/*grid*/
.grid-2 {
    display: grid !important;
    grid-template-columns: auto auto !important;
}

.grid-3 {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
}

.grid-gap {
    grid-gap: 8px;
    display: grid;
}

.grid-full {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden
}

/*box*/
.box, .box-02, .box-03, .box-04 {
    border-radius: var(--box-border-radius);
    margin-top: var(--box-spacing);
    box-shadow: var(--elevation-box-shadow-2);
    opacity: 0.99;
}

.box-02 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.box-03 {
    box-shadow: none;
    opacity: 0.2;
    background-color: transparent;
    padding-left: 10px;
}

.box-04 {
    background: transparent !important;
    box-shadow: none;
}

.box-header {
    height: 26px;
    line-height: 26px;
    padding: 10px;
    font-size: 14px;
    border-radius: var(--box-border-radius) var(--box-border-radius) 0 0;
}

.box-header i {
    font-size: 20px;
}

/*cell*/
.cell, .cell-content, .cell-nowrap, .cell-02 {
    border-top-left-radius: var(--box-border-radius);
    border-top-right-radius: var(--box-border-radius);
    line-height: 1.5;
    padding: 10px;
    font-size: 14px;
    min-height: 3px;
}

.cell-02 {
    height: 100%;
    /*background-color: red;*/
    display: grid;
}

.cell-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.cell-content {
    padding: 10px;
}

.cell-content ul, .cell-content ol {
    margin: 15px 28px;
    padding: 0;
}

.cell-content ul li {
    list-style: outside !important;
    margin: 12px;
}

.cell-content ol li {
    list-style: auto;
    margin: 12px;
}

.cell-content li p {
    padding: 0;
    line-height: 22px;
    font-size: 15px;
}

.cell-content p {
    text-indent: 2em;
    line-height: 26px;
    font-size: 15px;
    padding: 8px 12px;
}

.cell-content pre {
    padding: 10px;
    border-radius: 6px;
    overflow: auto;
}

.cell-content-02 p {
    text-indent: 2em;
    padding: var(--content-padding);
    line-height: var(--content-line-height);
    font-size: var(--content-font-size);
}


.cell h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 6px;
}

.cell-hover:hover {
    border-radius: 3px;
    transition: all var(--transition-time) ease;
}

.cell-hover:hover .desc {
    cursor: pointer;
    transition: all var(--transition-time) ease;
}

.cell-tools {
    padding: 0 6px;
    border-radius: 0 0 3px 3px;
    line-height: 120%;
    min-height: 16px;
    font-size: 11px;
}

.cell-tools span {
    margin-right: 3px;
}

.cell .GPageSpan {
    margin: 0 3px;
}

.cell-input {
    width: 100%;
    border: none;
    resize: none;
    outline: 0;
    font-size: 16px;
    overflow: hidden;
    overflow-wrap: break-word;
    height: 36px;
    padding: 10px;
    display: block;
    font-family: helvetica neue, hiragino sans gb, microsoft yahei, sans-serif, apple logo;
    box-sizing: border-box;
    line-height: 150%;
}

.cell-input:focus {
    border: none !important;
}

/*link*/
.link-1 {
    padding: 0 6px;
    word-break: break-word;
    cursor: pointer;
    transition: color var(--transition-time) ease;
}

.link-1:hover {
    text-decoration: none;
}

.link-2, .link-2-active {
    display: inline-block;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition)
}

.link-2:hover, .link-2-active:hover {
    text-decoration: none;
}

.link-3 {
    padding: 0;
    line-height: 1.58;
    font-size: 14px;
    word-break: break-all !important;
    transition: var(--transition);
}

.link-3:hover {
    text-decoration: underline !important;
}

.link-4 {
    transition: var(--transition)
}

.link-4:hover {
    cursor: pointer !important;
    text-decoration: none;
}

.link-6 {
    padding: 8px;
    font-size: 14px;
    display: inline-block;
}

.link-6:hover {
    text-decoration: none
}

.link-7 {
    padding: 8px;
    font-size: 14px;
    display: inline-block;
    transition: var(--transition);
    border: 3px solid transparent;
}

.link-7:hover {
    text-decoration: none;
}

.link-8 {
    display: flex;
    align-content: center;
    font-size: 14px;
    padding: 5px 10px 5px 5px;
    transition: var(--transition);
}


/*tag*/
*[class^='tag'] {
    cursor: pointer;
}

.tag {
    font-size: 12px;
    padding: 3px 4px;
    border-radius: 3px;
    word-break: keep-all;
    line-height: 12px;
    transition: color var(--transition-time) ease, background-color var(--transition-time) ease;
}

.tag:hover {
    text-decoration: none;
}

.tag-2 {
    box-shadow: var(--elevation-box-shadow-2);
    font-weight: 700;
    padding: 2px 8px;
    border-radius: 12px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    transition: var(--transition);
}

.tag-2:hover {
    text-decoration: none !important;
}

.tag-3 {
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    padding: 3px 8px;
    border-radius: 10px;
    word-break: keep-all;
    transition: var(--transition);
}

.tag-3:hover {
    text-decoration: none;
}

.tag-4 {
    font-size: 12px;
    line-height: 12px;
    padding: 3px 10px;
    border-radius: 15px;
    transition: var(--transition);
}

.tag-5 {
    font-size: 11px;
    line-height: 16px;
    text-decoration: none !important;
    padding: 5px 10px;
    border-radius: 20px;
    transition: var(--transition);
    display: inline-flex;
}

.tag-5:hover {
    text-decoration: none !important;
}

.text-decoration-none, .text-decoration-none:hover {
    text-decoration: none !important;
}

.tag-4:hover {
    text-decoration: none;
}


.tag-info, .tag-primary, .tag-warning, .tag-success, .tag-brown, .tag-purple, .tag-danger {
    display: inline-flex;
    white-space: break-spaces !important;
    height: auto !important;
    padding: 6px 10px !important;
    text-align: left;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    margin: 3px;
    transition: var(--transition)
}

.tag-blue {
    font-weight: 500;
    display: inline-flex;
    cursor: pointer;
    border-radius: 9px;
    padding: 3px 12px;
    transition: all var(--transition-time) ease;
    text-align: center;
    word-break: keep-all;
    line-height: 1;
}

.tag-info:hover, .tag-success:hover, .tag-primary:hover, .tag-warning:hover, .tag-brown:hover, .tag-purple:hover, .tag-danger:hover {
    text-decoration: none !important;
}


.tag-blue:hover {
    text-decoration: underline !important;
}

.tag-answer {
    padding: 6px 12px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px;
    display: inline-flex;
}


/*title*/
.title-01 {
    font-size: 32px !important;
    font-weight: 700 !important;
    padding: 41px;
    border-radius: 21px;
}

@media screen and (max-width: 768px) {
    .title-01 {
        font-size: 22px !important;
    }
}

/*theme*/
.theme-info, .theme-success, .theme-primary, .theme-warning, .them-brown, .theme-purple .theme-danger {
    border-radius: 3px;
}

/*msg*/
.msg-primary, .msg-warning {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

/*btn*/
.btn-warning, .btn-info {
    background-image: url(/resource/image/bg_blended_light.png);
    padding: 4px 15px 3px;
    border-radius: 3px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: inline-block;
    line-height: 1.4;
    outline: 0;
    text-decoration: none;
    transition: var(--transition);
}

.btn-info:hover, .btn-warning:hover {
    text-decoration: none;
    cursor: pointer;
}

/*btn-02,btn-02-active,btn-duo-info,btn-duo-info-disabled,btn-duo-success,btn-duo-error*/
.btn-02, .btn-02-active, .btn-duo-error {
    border-width: 2px 2px 4px;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 19px;
    line-height: 1.4;
    text-align: center;
    transition: var(--transition);
    transform: translateZ(0);
}

.btn-duo-info, .btn-duo-success, .btn-duo-error, .btn-duo-info-disabled {
    border-radius: 12px;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    transition: var(--transition);
    transform: translateZ(0);
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 600;
    border-width: 1px 1px 4px !important;
    min-width: 153px;
}

.btn-duo-info-disabled {
    cursor: default !important;

}

.btn-duo-success, .btn-duo-error, .btn-duo-info-disabled {
    border-width: 0 1px 4px !important;
}

.btn-duo-info-disabled {
    border-width: 1px !important;
}

.btn-02:active, .btn-02:focus-within, .btn-02:focus, .btn-02-active {
    transform: translateY(2px) translateZ(0);
    border-width: 2px 2px 4px;
}

/*badge*/
.badge-01 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    padding: 1px 3px;
    background: transparent;
    border-radius: 3px;
    cursor: default;
    border: 1px solid var(--blue-06);
    color: var(--blue-06)
}


/*table*/
.table-1 {
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

.table-1 tr {
    transition: var(--transition);
}

.table-1 tr th {
    font-weight: 700;
    padding: 1px 9px;
    text-align: left;
    white-space: nowrap;
    height: 33px;
    font-size: 13px;
}

.table-1 td {
    font-size: 13px;
    margin: 0;
    padding: 1px 9px;
    height: 34px;
    overflow: hidden !important;
    white-space: nowrap;
    max-width: 182px;
}

.table-1 td:hover {
    overflow: auto !important;
}

.table-1 tr td:first-child,
.table-1 tr th:first-child,
.table-1 tr th:last-child {
    text-align: center;
}

.table-1 tr td:last-child,
.table-1 tr th:last-child {
    padding-right: 33px;
}

.table-1 td:hover {
    overflow: auto;
}

.table-2 td {
    font-size: 14px;
}

.table-2 .h {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 6px;
    white-space: nowrap;
}

.table-2 .d {
    font-size: 14px;
    font-weight: 400;
    padding: 9px 7px;
}

/*table add*/
.table-add {
    border-spacing: 6px;
}

.table-add td input, textarea, select {
    width: 320px;
    padding: 6px 12px;
    border-radius: 3px;
    /*font-size: 14px !important;*/
    font-family: helvetica neue, luxi sans, Tahoma, hiragino sans gb, microsoft yahei, sans-serif, apple logo;;
    box-sizing: border-box;
    outline: none;
    transition: var(--transition)
}

.table-add td textarea {
    width: 595px;
    height: 196px;
}

.table-add td input:focus, textarea:focus, select:focus {
    outline: none;
}

/* input*/
.input {
    display: inline-block;
    margin: 6px 6px;
    font-size: 13px;
}

.input input, .input textarea, .input select {
    width: 69px;
    margin-left: 6px;
    padding: 3px 9px;
    border-radius: 15px;
    font-size: 10px;
    font-family: helvetica neue, luxi sans, Tahoma, hiragino sans gb, microsoft yahei, sans-serif, apple logo;;
    outline: none;
    transition: all var(--transition-time) ease;
}

.input select {
    width: auto;
}

.input input:focus {
    width: 133px;
}

li .input {
    display: flex !important;
    align-items: flex-start;
    justify-content: flex-start;
}

.input-01 {
    border-radius: 10px;
    padding: 10px 12px;
    line-height: 24px;
    text-align: initial;
    outline: none !important;
    transition: var(--transition);
    font-size: 16px;
}

/*dialog*/
.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .6;
    z-index: 999;
    background-color: #000;
}

.dialog .content {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -93%);
    z-index: 999;
    /*width: 600px;*/
    /*height: 400px;*/
    overflow: auto;
}

/*other*/
.cursor-pointer {
    cursor: pointer !important;
}

.text-indent-2 {
    text-indent: 2em;
}

.point {
    font-family: lucida grande, "JetBrains Mono", serif;
    font-weight: 500;
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.white-space-nowrap {
    white-space: nowrap !important;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-max-width-633 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 633px;
}

.plan dt {
    font-weight: 700;
    margin: 6px 0;
}

.plan dd {
    padding-left: 6px;
    font-size: 12px;
}

.time {
    font-size: 12px !important;
    margin-left: 3px;
}

/*s-icon*/
.s-icon, .s-icon-64, .s-icon-24, .s-icon-76, .s-icon-36 {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    vertical-align: bottom;
    box-shadow: var(--elevation-box-shadow-2);
    transition: all var(--transition-time);
}

.s-icon:hover, .s-icon-64:hover, .s-icon-76:hover, .s-icon-36:hover {
    box-shadow: var(--elevation-box-shadow-4) !important;
}

.s-icon-48 {

    width: 48px;
    height: 48px;
    border-radius: 4px;
    /*box-shadow: var(--elevation-box-shadow-1);*/
}


.s-icon-64 {
    width: 64px;
    height: 64px;
}

.s-icon-24 {
    width: 24px;
    height: 24px;
}

.s-icon-36 {
    width: 36px;
    height: 36px;
}

.s-icon-76 {
    width: 76px;
    height: 76px;
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;;
}

.no-bottom-border {
    border-bottom: none !important;
}

.hover-underline a:hover {
    text-decoration: underline !important;
}

.fa {
    margin: 0 12px;
}

[v-cloak] {
    display: none;
}

.logo {
    margin-right: 9px;
    font-weight: bolder;
    font-size: 32px;
    white-space: nowrap;
    word-break: keep-all !important;
}

.logo:hover {
    text-decoration: none;
}

.user-info-mobile {
    display: none;
}

::placeholder {
    font-size: 14px;
}

.GPageLink {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 6px;
    border-radius: var(--box-border-radius);
    margin: 0 5px;
    text-decoration: none !important;
}

.GPageSpan {
    font-weight: 700;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: var(--box-border-radius);
    line-height: 12px;
    text-decoration: none;
}

.page-mobile {
    display: none;
    padding: 6px;
    justify-content: start;
    align-items: center;
}

.user-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -7px;
}

.user-status > div {
    width: 33%;
    text-align: center;
}

.user-status > div > a {
    display: block;
}

.user-status > div:nth-child(1), .user-status > div:nth-child(2) {
    border-right: 1px solid rgba(100, 100, 100, 0.33);
}

/*---------------------layout------------------------------*/
#top {
    height: 44px;
    line-height: 44px;
    font-weight: 500;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .22);
}

#nav {
    padding: 7px 10px 10px 10px;
    margin-left: 3px;
    border-bottom: none;
}

#nav a {
    margin-right: 3px;
    margin-top: 3px;
}

#sub-nav {
    display: flex;
    align-items: baseline;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    min-height: 22px;
    border-bottom: none;
    border-radius: 0 0 3px 3px;
}

#sub-nav a {
    margin-right: 12px;
}


#wrapper, .wrapper {
    background-image: url("/resource/image/shadow_light.png");
    background-repeat: repeat-x;
    padding-bottom: var(--box-spacing);
    min-height: 233px;
}

#wrapper-left, .wrapper-left {
    width: 100%;
}

#wrapper-right, .wrapper-right {
    margin-left: var(--box-spacing);
}

.right-title {
    font-size: 12px;
    line-height: 150%;
    text-align: left;
    display: inline-block;
}

.right-nav {
    font-size: 14px;
    margin: 0;
    display: none;
}

.right-nav li {
    display: flex;
    padding: 5px 10px;
    align-items: center;
}

.right-nav li:hover {
    background-color: #f5f5f5;
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) inset;
}

.right-nav img {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 3px;
}


#footer {
    padding: 10px;
    min-height: 122px;
    font-size: 14px;
}

#footer .w {
    display: block;
}

.w {
    max-width: 1233px;
    margin: 0 auto;
    padding: 0 var(--box-spacing);
    display: flex;
}

.mobile {
    display: none;
}

.top-mobile {
    position: relative;
    display: none;
}

.top-mobile-menu {
    display: none;
    position: absolute;
    top: 35px;
    right: -23px;
    width: 161px;
    z-index: 33;
    box-shadow: 0 2px 25px var(--black-02);
}


.in {
    animation: slip_in .4s;
}

.out {
    animation: slip_out .6s;
}

@keyframes slip_in {
    from {
        transform: translateX(6%);
        opacity: 0.3;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slip_out {
    from {
        transform: translateX(0);
        opacity: .3;
    }
    to {
        transform: translateX(-20%);
        opacity: 0;
    }
}


.progress-box {
    padding: 13px;
    width: 76%;
}

.progress-all, .progress-current {
    height: 13px;
    border-radius: 13px;
}

.progress-current {
    background-color: transparent;
    width: 1%;
    transition-duration: 1s;
}


@media screen and (max-width: 966px) {
    .table-1 tr:first-child, #wrapper-right {
        display: none;
    }

    .user-info-mobile {
        display: flex;
    }

    .table-1 tr {
        display: block;
    }

    .table-add td textarea {
        width: 55vw;
    }

    .table-add td input, textarea, select {
        width: 55vw;
    }

    .table-1 td {
        display: flex;
        justify-content: start;
        align-items: center;
        height: auto;
        padding: 10px 0;
        max-width: 93vw;
    }

    .table-1 td::before {
        font-weight: 733;
        min-width: 63px;
        text-align: right;
        margin-right: 13px;
        content: attr(data-label);
    }
}

.right-mobile {
    display: none;
}

@media screen and (max-width: 779px) {
    :root {
        --box-spacing: 12px;
        --content-padding: 10px 34px;
        --content-line-height: 30px;
        --content-font-size: 16px;
    }

    .wrapper-right {
        display: none;
    }

    .right-mobile {
        display: block;
    !important;
    }


    #top .w .top-right, .top-pc {
        display: none !important;
    }

    #top .w .top-right-mobile, .top-mobile {
        display: flex !important;
    }

    .user-info-mobile {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --box-spacing: 6px;
        --content-padding: 10px 12px;
        --content-line-height: 26px;
    }

    .grid-3 {
        grid-template-columns: auto auto !important;
    }

    .s-icon-76 {
        width: 36px;
        height: 36px;
    }

    .sub-nav-right, .web, .chapter-desc, .fr.min-w-80 {
        display: none;
    }

    .page-mobile {
        display: flex;
    }

    #wrapper .w .wrapper-left #nav {
        padding: 7px 4px 10px 10px;
    }
}

@media screen and(max-width: 400px) {
    .chapter-last-visitor {
        display: none;
    }
}



