:root {
  --width: 1200px; // 1660px
  --main-width: 1200px; // 1550px
  --box-spacing: 20px;
  --color-main: #fff;
  --color-main-background: #18222d;
  --color-link-1: #9caec7;
  --color-link-1-hover: #a9bcd6;
  --color-link-2: #778087; // tabs use
  --color-link-2-hover: rgba(62, 71, 79, 0.91); // tabs use
  --color-border-1: #22303f;
  --color-border-2: #c2c2c2;
  --color-box-background: #18222d;
  --color-box-background-hover: #393f4e;
  --color-box-action-background: #18222d;
  --color-desc: #ccc;
  --color-input-1: #B0AFB5;
  --color-input-2: #ABAAB0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
  color: var(--color-main);
  background-color: var(--color-main-background);
}

a:active, a:link, a:visited {
  color: var(--color-link-2);
  text-decoration: none;
  word-break: break-word;
}

li {
  list-style: none;
}

.w {
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 16px;
}

.img {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.box {
  background-color: var(--color-box-background);
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--color-border-1);

  .box-title {
    border-radius: 3px 3px 0 0;
    display: flex;
    background-color: #001D25;
    color: #fff;
    padding: 12px 0 10px 9px;
    font-size: 15px;

    img {
      margin-right: 18px;
      border-radius: 12px;
    }

    .breadcrumb {
      a {
        color: #03C8FF;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .intro {
      margin-top: 6px;
      font-size: 13px;
    }

  }

  .box-title-background-type1 {
    background-color: var(--color-box-background);
    color: inherit;

    .breadcrumb {
      font-size: 16px;
    }

    .intro {
      color: var(--color-desc);
    }
  }


  .box-action {
    display: flex;
    align-items: center;
    padding: 8px 0 12px 12px;
    background-color: var(--color-box-action-background);

    label {
      margin-left: 12px;
    }
  }

  .header {
    padding: 10px;
    font-size: 15px;
    line-height: 120%;
    border-bottom: 1px solid var(--color-border-1);
  }

}


.text-omit {
  max-width: 783px;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
}

.report {
  margin: 22px 0;
}

.input {
  margin: 0 6px;
  color: var(--color-input-1);

  font-size: 13px;

  input, select, textarea {
    height: 19px;
    width: 99px;
    margin-left: 6px;
    padding: 3px 9px;
    background-color: #001d25;
    border: 1px solid #001d25;
    border-radius: 15px;
    outline: none;
    color: var(--color-input-2);
    transition: all 0.6s ease;

    &:focus {
      border: 1px #3e5874 solid;
    }
  }

  select {
  }

  input[type='date'] {
    width: 130px;
  }

  input[type='file'] {
    height: 26px;
  }

  label {
    display: inline-block;
  }

  textarea {
    width: 136px;
    height: 100px;
  }

  select {
    height: 32px;
  }
}

// help cell
.cell {
  padding: 9px 13px 9px 12px;
  display: flex;
  align-content: flex-start;
  border-bottom: 1px solid var(--color-border-1);

  a {
    color: var(--color-link-2);
    font-size: 14px;

    &:hover {
      text-decoration: underline;
      color: var(--color-desc);
    }
  }

  .title {
    margin-right: auto;
    color: var(--color-desc);
    font-size: 14px;

    a {
      color: var(--color-desc);
      font-weight: bold;
    }
  }

  .item-title {
    font-size: 14px;
    color: var(--color-desc);
    width: 86px;
    text-align: right;
    margin-right: 16px;
    align-self: center;
  }

  .item-content {
    width: 96%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
      padding: 6px 16px 6px 0;
    }
  }
}

// planes item
.plane-item {
  margin-top: var(--box-spacing);
  padding: 0;

  .plane-title {
    display: flex;
    align-items: center;
    padding: 6px 9px 6px 9px;
    font-size: 15px;

    img {
      margin-right: 12px;
    }

    .plane-name {
      margin-right: auto;
    }
  }

  .plane-contnet {
    padding: 12px;

    div {
      display: inline;
    }

    a {
      display: inline-block;
      color: var(--color-link-1);
      font-size: 14px;
      line-height: 14px;
      padding: 4px 10px;
      margin: 0 6px 5px 0;
      border-radius: 16px;
      border: 1px solid var(--color-border-1);
      transition: all 0.6s ease;

      &:hover {
        cursor: pointer;
        color: var(--color-main);
        border: 1px solid var(--color-link-1-hover);
        box-shadow: 0 1px 2px var(--color-border-1);
      }
    }
  }
}


#logo {
  color: var(--color-main) !important;
}

#top {
  height: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, .22);
  padding: 0 20px;
  background-color: var(--color-main-background);

  .w {
    display: flex;

    #logo {
      display: inline-block;
      font-size: 32px;
      font-weight: bold;
      line-height: 44px;
      margin-right: auto;

      &:visited {
        color: var(--color-main);
      }
    }

    #tools {
      align-self: flex-end;

      ul {
        display: flex;
        line-height: 44px;

        li {
          padding: 0 6px;

          a {
            font-size: 15px;
            color: var(--color-link-1) !important;

            &:hover {
              color: var(--color-link-1-hover) !important;
            }

            &:visited {
              color: #556;
            }
          }
        }
      }
    }
  }

}

#wrapper {
  padding-top: var(--box-spacing);
  min-height: 566px;
  background-color: var(--color-border-1);
  background-image: url("/resource/image/shadow_light.png");
  background-repeat: repeat-x;

  .w {
    display: flex;

    #main {
      width: var(--main-width);
      margin-bottom: var(--box-spacing);

      #tabs {
        display: flex;
        padding: 10px;
        font-size: 14px;
        line-height: 100%;
        text-align: left;

        a.tab:active, a.tab:link, a.tab:visited {
          display: inline-block;
          font-size: 14px;
          padding: 5px 8px;
          margin-right: 5px;
          border-radius: 3px;
          color: var(--color-link-1);
          transition: background-color .3s ease;
        }

        a.tab:hover {
          background-color: var(--color-box-background-hover);
          color: var(--color-link-1-hover);
        }

        a.tab.tab-current:active, a.tab.tab-current:link, a.tab.tab-current:visited {
          display: inline-block;
          font-size: 14px;
          padding: 5px 8px;
          border-radius: 3px;
          background-color: #334;
          color: var(--color-link-1);
        }
      }

      #secondary-tabs {
        background-color: #001d25;
        min-height: 22px;
        padding: 10px 10px 10px 20px;
        font-size: 14px;
        line-height: 150%;
        text-align: left;

        a {
          display: inline-block;
          padding: 0 20px 0 0;
          color: var(--color-link-1);
          transition: all .3s ease;

          &:hover {
            color: var(--color-link-1-hover);
            text-decoration: underline;
          }
        }
      }

      #page-title {
        margin-top: var(--box-spacing);
        position: sticky;
        top: 12px;
        z-index: 999;
      }

      #data {
        margin: var(--box-spacing) 0;
        border-bottom: none;

        .pagination {
          display: flex;
          align-items: center;
          padding: 6px 0;

          span, a {
            display: inline-block;
            font-size: 13px;
            line-height: 13px;
            padding: 2px 5px;
            margin: 0 6px;
            background-color: var(--color-box-background);
            border: 1px solid var(--color-border-1);
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          }

          span.GPageSpan {
            display: inline-block;
            font-weight: 700;
            background-color: #f0f0f0;
            border-radius: 3px;
            border: 1px solid #bbb;
          }
        }

        #table {
          display: table;
          box-sizing: border-box;
          width: 100%;
          padding: 0;
          box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
          font-family: "JetBrains Mono", serif;
          border-collapse: collapse;
          border-color: gray;

          tr:nth-child(2n) {
            background-color: #001d25;
          }

          tr {
            transition: all .3s ease;

            th {
              font-weight: 700;
              font-size: 12px;
              min-width: 77px;
              padding: 3px 12px;
              text-align: left;
            }

            &:hover {
              background-color: #001d25;
              box-shadow: 6px 6px 6px rgba(158, 144, 158, .3) inset;
            }

            td {
              display: table-cell;
              font-size: 13px;
              vertical-align: inherit;
              border-top: 1px solid #393f4e;
              margin: 0;
              padding: 1px 9px;
              max-width: 176px;
              height: 34px;
              overflow: hidden;
              white-space: nowrap;

              &:hover {
                overflow: auto;
              }

            }
          }

          .table-action {
            a:active, a:link, a:visited {
              font-size: 12px;
              line-height: 120%;
              color: var(--color-link-2);
            }

            a:hover {
              color: #4d5256;
              text-decoration: underline;
            }
          }
        }
      }

      .details-form {
        margin: 20px 0;
        padding: 10px;
        font-size: 14px;
        line-height: 150%;

        ul {
          h2 {
            font-size: 18px;
            font-weight: 600;
            margin: 12px 0 0 50px;
            padding-left: 6px;
            color: #999;
          }

          li {
            display: flex;
            margin: 12px 0;
            align-items: center;

            span {
              width: 120px;
              margin: 0 6px;
              word-break: break-all;
              text-align: right;
            }

            // 修饰desc span 说明样式
            :last-child {
              text-align: left;
              color: #999;
            }

            input, select, textarea {
              width: 320px;
              padding: 5px;
              font-size: 14px;
              border: 1px solid var(--color-border-1);
              border-radius: 3px;
              font-family: helvetica neue, luxi sans, Tahoma, hiragino sans gb, microsoft yahei, sans-serif, apple logo;
              color: #666 !important;
            }

            select {
              background-color: #e8e8e8;
              width: 330px;
              color: red;
            }

            textarea {
              min-height: 160px;
            }
          }
        }

        .form-action {
          margin-left: 131px;
        }
      }
    }

    #news {
      margin: var(--box-spacing) 0;
      min-height: 60vh;

      .news-cell {
        padding: 9px 12px;
        border-bottom: 1px solid var(--color-border-1);

        a:hover {
          color: #4d5256;
          text-decoration: underline;
        }

        .news-title {
          color: var(--color-link-2);
          font-size: 16px;
        }

        .news-time {
          color: var(--color-desc);
          margin-top: 9px;
          font-size: 13px;

          a {
            font-weight: bold;


          }
        }

        .news-node {
          background-color: var(--color-box-background-hover);
          border-radius: 2px;
          padding: 4px;
          color: var(--color-link-1);
          font-size: 12px;
          line-height: 12px;
        }
      }
    }

    #right-bar {
      margin-left: 20px;
      width: 200px;
    }

    #right-nav {
      max-height: 600px;
      overflow: hidden;

      &:hover {
        overflow-y: auto;
      }

      > li {
        padding: 10px;
        font-size: 12px;
        line-height: 120%;
        border-bottom: 1px solid var(--color-border-1);
        color: #999;

        ul {
          li:first-child {
            margin-top: 8px;
          }

          li {
            background-color: transparent;
            padding: 5px 10px 5px 0;
            font-size: 14px;
            display: flex;
            align-items: center;

            div {
              width: 24px;
              height: 24px;
              background-size: 24px 24px;
              background-repeat: no-repeat;
              margin-right: 6px;
              border-radius: 3px;
            }

            &:hover {
              background-color: #f5f5f5;
              box-shadow: 0 1px 4px rgba(0, 0, 0, .1) inset;
              border-radius: 3px;
              cursor: pointer;
            }
          }
        }
      }
    }


  }

  #bottom-nav {
    border-bottom: none;
  }
}

.details {
  display: flex;

  ul {
    margin-top: 12px;
    border-collapse: collapse;

    li {
      margin: 6px 0;
      padding-left: 6px;
      text-align: right;

      label {
        min-width: 224px;
        display: inline-block;
        text-align: -webkit-right;
      }

      input {
        width: 136px;
      }

      select {
        width: 156px;
      }
    }
  }
}

#footer {
  padding: var(--box-spacing);
  background-color: var(--color-main-background);
  min-height: 176.1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2) !important;

  .footer-utils {
    display: flex;

    li {
      margin: 0 32px 0 0;

      a {
        color: #6b7788;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        text-align: left;
        transition: color .3s ease;

        &:hover {
          color: #385f8a;
        }
      }
    }


  }

  .footer-desc {
    margin-top: 13px;

    p {
      font-size: 12px;
      line-height: 190%;
      color: #9099aa;
    }
  }
}

// element ui
.el-dialog {
  border-radius: 12px !important;
  background-color: var(--color-main-background);
  box-shadow: 0 6px 6px rgba(0, 0, 0, .1) inset !important;
  opacity: .96 !important;

  .el-dialog__title {
    color: var(--color-link-1);
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
  }
}

.el-button {
  display: flex;
  transition: all 0.6s ease !important;

  .span {
    height: 100%;
  }
}

.el-popper {
  background-color: var(--color-main-background) !important;
  color: var(--color-main) !important;
  padding: 22px;
  width: 666px;
  max-height: 560px;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;

  img {
    max-width: 60%;
    height: auto;
  }
}

.el-pagination {
  margin-top: 1px;
  padding: 5px !important;
  font-size: 14px;
  line-height: 120%;
  background: linear-gradient(to bottom, var(--box-background-color) 0, var(--box-background-alt-color) 100%);
  border-radius: 0 0 3px 3px;
  border-top: 1px solid var(--color-border-1);

  .el-pagination__total {
    font-size: 11px;
    color: #999;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 15px;
    text-shadow: 0 1px 0 var(--color-box-background);
  }

  .el-pagination__jump {
    font-size: 12px;
    color: var(--color-main);
    padding: 3px 10px;
    display: inline-block;
    border-radius: 15px;
    text-shadow: 0 1px 0 var(--color-box-background);
  }

  input, select {
    background-color: #001d25;
    border: 1px solid #001d25;
    border-radius: 15px;
    outline: none;
    color: var(--color-input-2);
    transition: all 0.6s ease;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      border: 1px #3e5874 solid !important;
      box-shadow: none !important;
    }
  }

  .el-select .el-input.is-focus .el-input__inner, .el-select .el-input__inner:focus {
    border: 1px #3e5874 solid !important;
    box-shadow: none !important;
  }

  .el-select:hover {
    --el-select-border-color-hover: rgba(0, 0, 0, 0);
  }

  .active {
    color: var(--color-link-1) !important;
    background-color: var(--color-box-background-hover) !important;
  }

  button {
    background-color: #001d25 !important;
  }


  --el-pagination-button-bg-color: var(--color-main-background) // 改变el-pagination 的默认样式
}

.el-tag {
  height: 22px;
  display: flex;
}

.el-loading-mask {
  background-color: var(--color-main-background) !important;
}

