.w {
    /*max-width: 1060px;*/
    max-width: 970px;
    margin: 0 auto;
    padding: 0 var(--box-spacing);
    display: flex;
}

#wrapper-left, .wrapper-left {
    /*max-width: 760px;*/
    max-width: 654px;
}

#wrapper-right, .wrapper-right {
    /*width: 270px;*/
    width: 260px;
}

.bottom-nav-right a {
    margin-right: 13px;
}

.s-icon-painting {
    width: 260px;
    border-radius: 3px;
}

.s-icon-painting:hover {
    box-shadow: var(--elevation-box-shadow-6) !important;
}

/*百科开始*/
.cell-nav-box {
    position: absolute;
    left: -188px;
    top: 0;
    height: 100%
}

@media screen and (max-width: 966px) {
    .cell-nav-box {
        display: none;
    }
}

.cell-nav {
    padding: 3px 0;
    width: 173px;
    border-radius: 3px;
    margin-left: 3px;
    position: sticky;
    top: 3px;
}

.cell-nav ul {
    margin: 0 !important;
    padding: 6px;
}

.content {
    padding-left: 9px;
}

.content p {
    text-indent: 2em;
    margin-bottom: 33px;
}

.content ol li, .content ul li {
    list-style: auto;
}

/*百科结束*/

/*english start*/

.morri {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.morri-menu {
    display: block;
    position: absolute;
    top: 106px;
    left: -48px;
    min-width: 220px;
}

.morri-menu-hide {
    display: none;
    position: absolute;
    top: 106px;
    left: 0;
    min-width: 220px;
}


.morri-box {
    position: relative;
    margin: 0;
}

.morri-circle {
    transform-origin: 50px 50px;
    transform: rotate(40deg);
    transition: stroke-dasharray .3s ease-in;
    stroke-width: 7;
    fill: none;
}

.morri-circle-backend {
    stroke-width: 7;
    fill: none;
}

.morri-box > img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 17px;
    right: 17px;
}

.morri-box > .tag-info,
.morri-box > .tag-success,
.morri-box > .tag-primary,
.morri-box > .tag-warning,
.morri-box > .tag-brown,
.morri-box > .tag-purple,
.morri-box > .tag-danger {
    position: absolute;
    top: 62px;
    right: -5px;
    transform: scale(.8);
}


.brik {
    display: inline-block;
    margin: 0 2px;
    width: 25px;
    height: 20px;
}

.brik:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.brik:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*english end*/