@charset "UTF-8";
:root {
  --width: 1200px;
  --main-width: 1200px;
  --box-spacing: 20px;
  --color-main: #fff;
  --color-main-background: #18222d;
  --color-link-1: #9caec7;
  --color-link-1-hover: #a9bcd6;
  --color-link-2: #778087;
  --color-link-2-hover: rgba(62, 71, 79, 0.91);
  --color-border-1: #22303f;
  --color-border-2: #c2c2c2;
  --color-box-background: #18222d;
  --color-box-background-hover: #393f4e;
  --color-box-action-background: #18222d;
  --color-desc: #ccc;
  --color-input-1: #B0AFB5;
  --color-input-2: #ABAAB0; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Segoe UI", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
  color: var(--color-main);
  background-color: var(--color-main-background); }

a:active, a:link, a:visited {
  color: var(--color-link-2);
  text-decoration: none;
  word-break: break-word; }

li {
  list-style: none; }

.w {
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 16px; }

.img {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-radius: 50%; }

.box {
  background-color: var(--color-box-background);
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--color-border-1); }
  .box .box-title {
    border-radius: 3px 3px 0 0;
    display: flex;
    background-color: #001D25;
    color: #fff;
    padding: 12px 0 10px 9px;
    font-size: 15px; }
    .box .box-title img {
      margin-right: 18px;
      border-radius: 12px; }
    .box .box-title .breadcrumb a {
      color: #03C8FF; }
      .box .box-title .breadcrumb a:hover {
        text-decoration: underline; }
    .box .box-title .intro {
      margin-top: 6px;
      font-size: 13px; }
  .box .box-title-background-type1 {
    background-color: var(--color-box-background);
    color: inherit; }
    .box .box-title-background-type1 .breadcrumb {
      font-size: 16px; }
    .box .box-title-background-type1 .intro {
      color: var(--color-desc); }
  .box .box-action {
    display: flex;
    align-items: center;
    padding: 8px 0 12px 12px;
    background-color: var(--color-box-action-background); }
    .box .box-action label {
      margin-left: 12px; }
  .box .header {
    padding: 10px;
    font-size: 15px;
    line-height: 120%;
    border-bottom: 1px solid var(--color-border-1); }

.text-omit {
  max-width: 783px;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important; }

.report {
  margin: 22px 0; }

.input {
  margin: 0 6px;
  color: var(--color-input-1);
  font-size: 13px; }
  .input input, .input select, .input textarea {
    height: 19px;
    width: 99px;
    margin-left: 6px;
    padding: 3px 9px;
    background-color: #001d25;
    border: 1px solid #001d25;
    border-radius: 15px;
    outline: none;
    color: var(--color-input-2);
    transition: all 0.6s ease; }
    .input input:focus, .input select:focus, .input textarea:focus {
      border: 1px #3e5874 solid; }
  .input input[type='date'] {
    width: 130px; }
  .input input[type='file'] {
    height: 26px; }
  .input label {
    display: inline-block; }
  .input textarea {
    width: 136px;
    height: 100px; }
  .input select {
    height: 32px; }

.cell {
  padding: 9px 13px 9px 12px;
  display: flex;
  align-content: flex-start;
  border-bottom: 1px solid var(--color-border-1); }
  .cell a {
    color: var(--color-link-2);
    font-size: 14px; }
    .cell a:hover {
      text-decoration: underline;
      color: var(--color-desc); }
  .cell .title {
    margin-right: auto;
    color: var(--color-desc);
    font-size: 14px; }
    .cell .title a {
      color: var(--color-desc);
      font-weight: bold; }
  .cell .item-title {
    font-size: 14px;
    color: var(--color-desc);
    width: 86px;
    text-align: right;
    margin-right: 16px;
    align-self: center; }
  .cell .item-content {
    width: 96%;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .cell .item-content a {
      padding: 6px 16px 6px 0; }

.plane-item {
  margin-top: var(--box-spacing);
  padding: 0; }
  .plane-item .plane-title {
    display: flex;
    align-items: center;
    padding: 6px 9px 6px 9px;
    font-size: 15px; }
    .plane-item .plane-title img {
      margin-right: 12px; }
    .plane-item .plane-title .plane-name {
      margin-right: auto; }
  .plane-item .plane-contnet {
    padding: 12px; }
    .plane-item .plane-contnet div {
      display: inline; }
    .plane-item .plane-contnet a {
      display: inline-block;
      color: var(--color-link-1);
      font-size: 14px;
      line-height: 14px;
      padding: 4px 10px;
      margin: 0 6px 5px 0;
      border-radius: 16px;
      border: 1px solid var(--color-border-1);
      transition: all 0.6s ease; }
      .plane-item .plane-contnet a:hover {
        cursor: pointer;
        color: var(--color-main);
        border: 1px solid var(--color-link-1-hover);
        box-shadow: 0 1px 2px var(--color-border-1); }

#logo {
  color: var(--color-main) !important; }

#top {
  height: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  padding: 0 20px;
  background-color: var(--color-main-background); }
  #top .w {
    display: flex; }
    #top .w #logo {
      display: inline-block;
      font-size: 32px;
      font-weight: bold;
      line-height: 44px;
      margin-right: auto; }
      #top .w #logo:visited {
        color: var(--color-main); }
    #top .w #tools {
      align-self: flex-end; }
      #top .w #tools ul {
        display: flex;
        line-height: 44px; }
        #top .w #tools ul li {
          padding: 0 6px; }
          #top .w #tools ul li a {
            font-size: 15px;
            color: var(--color-link-1) !important; }
            #top .w #tools ul li a:hover {
              color: var(--color-link-1-hover) !important; }
            #top .w #tools ul li a:visited {
              color: #556; }

#wrapper {
  padding-top: var(--box-spacing);
  min-height: 566px;
  background-color: var(--color-border-1);
  background-image: url("/resource/image/shadow_light.png");
  background-repeat: repeat-x; }
  #wrapper .w {
    display: flex; }
    #wrapper .w #main {
      width: var(--main-width);
      margin-bottom: var(--box-spacing); }
      #wrapper .w #main #tabs {
        display: flex;
        padding: 10px;
        font-size: 14px;
        line-height: 100%;
        text-align: left; }
        #wrapper .w #main #tabs a.tab:active, #wrapper .w #main #tabs a.tab:link, #wrapper .w #main #tabs a.tab:visited {
          display: inline-block;
          font-size: 14px;
          padding: 5px 8px;
          margin-right: 5px;
          border-radius: 3px;
          color: var(--color-link-1);
          transition: background-color .3s ease; }
        #wrapper .w #main #tabs a.tab:hover {
          background-color: var(--color-box-background-hover);
          color: var(--color-link-1-hover); }
        #wrapper .w #main #tabs a.tab.tab-current:active, #wrapper .w #main #tabs a.tab.tab-current:link, #wrapper .w #main #tabs a.tab.tab-current:visited {
          display: inline-block;
          font-size: 14px;
          padding: 5px 8px;
          border-radius: 3px;
          background-color: #334;
          color: var(--color-link-1); }
      #wrapper .w #main #secondary-tabs {
        background-color: #001d25;
        min-height: 22px;
        padding: 10px 10px 10px 20px;
        font-size: 14px;
        line-height: 150%;
        text-align: left; }
        #wrapper .w #main #secondary-tabs a {
          display: inline-block;
          padding: 0 20px 0 0;
          color: var(--color-link-1);
          transition: all .3s ease; }
          #wrapper .w #main #secondary-tabs a:hover {
            color: var(--color-link-1-hover);
            text-decoration: underline; }
      #wrapper .w #main #page-title {
        margin-top: var(--box-spacing);
        position: sticky;
        top: 12px;
        z-index: 999; }
      #wrapper .w #main #data {
        margin: var(--box-spacing) 0;
        border-bottom: none; }
        #wrapper .w #main #data .pagination {
          display: flex;
          align-items: center;
          padding: 6px 0; }
          #wrapper .w #main #data .pagination span, #wrapper .w #main #data .pagination a {
            display: inline-block;
            font-size: 13px;
            line-height: 13px;
            padding: 2px 5px;
            margin: 0 6px;
            background-color: var(--color-box-background);
            border: 1px solid var(--color-border-1);
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
          #wrapper .w #main #data .pagination span.GPageSpan {
            display: inline-block;
            font-weight: 700;
            background-color: #f0f0f0;
            border-radius: 3px;
            border: 1px solid #bbb; }
        #wrapper .w #main #data #table {
          display: table;
          box-sizing: border-box;
          width: 100%;
          padding: 0;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          font-family: "JetBrains Mono", serif;
          border-collapse: collapse;
          border-color: gray; }
          #wrapper .w #main #data #table tr:nth-child(2n) {
            background-color: #001d25; }
          #wrapper .w #main #data #table tr {
            transition: all .3s ease; }
            #wrapper .w #main #data #table tr th {
              font-weight: 700;
              font-size: 12px;
              min-width: 30px;
              padding: 3px 12px;
              text-align: left; }
            #wrapper .w #main #data #table tr:hover {
              background-color: #001d25;
              box-shadow: 6px 6px 6px rgba(158, 144, 158, 0.3) inset; }
            #wrapper .w #main #data #table tr td {
              display: table-cell;
              font-size: 13px;
              vertical-align: inherit;
              border-top: 1px solid #393f4e;
              margin: 0;
              padding: 1px 9px;
              max-width: 300px;
              height: 34px;
              overflow: hidden;
              white-space: nowrap; }
              #wrapper .w #main #data #table tr td:hover {
                overflow: auto; }
          #wrapper .w #main #data #table .table-action a:active, #wrapper .w #main #data #table .table-action a:link, #wrapper .w #main #data #table .table-action a:visited {
            font-size: 12px;
            line-height: 120%;
            color: var(--color-link-2); }
          #wrapper .w #main #data #table .table-action a:hover {
            color: #4d5256;
            text-decoration: underline; }
      #wrapper .w #main .details-form {
        margin: 20px 0;
        padding: 10px;
        font-size: 14px;
        line-height: 150%; }
        #wrapper .w #main .details-form ul h2 {
          font-size: 18px;
          font-weight: 600;
          margin: 12px 0 0 50px;
          padding-left: 6px;
          color: #999; }
        #wrapper .w #main .details-form ul li {
          display: flex;
          margin: 12px 0;
          align-items: center; }
          #wrapper .w #main .details-form ul li span {
            width: 120px;
            margin: 0 6px;
            word-break: break-all;
            text-align: right; }
          #wrapper .w #main .details-form ul li :last-child {
            text-align: left;
            color: #999; }
          #wrapper .w #main .details-form ul li input, #wrapper .w #main .details-form ul li select, #wrapper .w #main .details-form ul li textarea {
            width: 320px;
            padding: 5px;
            font-size: 14px;
            border: 1px solid var(--color-border-1);
            border-radius: 3px;
            font-family: helvetica neue, luxi sans, Tahoma, hiragino sans gb, microsoft yahei, sans-serif, apple logo;
            color: #666 !important; }
          #wrapper .w #main .details-form ul li select {
            background-color: #e8e8e8;
            width: 330px;
            color: red; }
          #wrapper .w #main .details-form ul li textarea {
            min-height: 160px; }
        #wrapper .w #main .details-form .form-action {
          margin-left: 131px; }
    #wrapper .w #news {
      margin: var(--box-spacing) 0;
      min-height: 60vh; }
      #wrapper .w #news .news-cell {
        padding: 9px 12px;
        border-bottom: 1px solid var(--color-border-1); }
        #wrapper .w #news .news-cell a:hover {
          color: #4d5256;
          text-decoration: underline; }
        #wrapper .w #news .news-cell .news-title {
          color: var(--color-link-2);
          font-size: 16px; }
        #wrapper .w #news .news-cell .news-time {
          color: var(--color-desc);
          margin-top: 9px;
          font-size: 13px; }
          #wrapper .w #news .news-cell .news-time a {
            font-weight: bold; }
        #wrapper .w #news .news-cell .news-node {
          background-color: var(--color-box-background-hover);
          border-radius: 2px;
          padding: 4px;
          color: var(--color-link-1);
          font-size: 12px;
          line-height: 12px; }
    #wrapper .w #right-bar {
      margin-left: 20px;
      width: 200px; }
    #wrapper .w #right-nav {
      max-height: 600px;
      overflow: hidden; }
      #wrapper .w #right-nav:hover {
        overflow-y: auto; }
      #wrapper .w #right-nav > li {
        padding: 10px;
        font-size: 12px;
        line-height: 120%;
        border-bottom: 1px solid var(--color-border-1);
        color: #999; }
        #wrapper .w #right-nav > li ul li:first-child {
          margin-top: 8px; }
        #wrapper .w #right-nav > li ul li {
          background-color: transparent;
          padding: 5px 10px 5px 0;
          font-size: 14px;
          display: flex;
          align-items: center; }
          #wrapper .w #right-nav > li ul li div {
            width: 24px;
            height: 24px;
            background-size: 24px 24px;
            background-repeat: no-repeat;
            margin-right: 6px;
            border-radius: 3px; }
          #wrapper .w #right-nav > li ul li:hover {
            background-color: #f5f5f5;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset;
            border-radius: 3px;
            cursor: pointer; }
  #wrapper #bottom-nav {
    border-bottom: none; }

.details {
  display: flex; }
  .details ul {
    margin-top: 12px;
    border-collapse: collapse; }
    .details ul li {
      margin: 6px 0;
      padding-left: 6px;
      text-align: right; }
      .details ul li label {
        min-width: 224px;
        display: inline-block; }
      .details ul li input {
        width: 136px; }
      .details ul li select {
        width: 156px; }

#footer {
  padding: var(--box-spacing);
  background-color: var(--color-main-background);
  min-height: 176.1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2) !important; }
  #footer .footer-utils {
    display: flex; }
    #footer .footer-utils li {
      margin: 0 32px 0 0; }
      #footer .footer-utils li a {
        color: #6b7788;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        text-align: left;
        transition: color .3s ease; }
        #footer .footer-utils li a:hover {
          color: #385f8a; }
  #footer .footer-desc {
    margin-top: 13px; }
    #footer .footer-desc p {
      font-size: 12px;
      line-height: 190%;
      color: #9099aa; }

.el-dialog {
  border-radius: 12px !important;
  background-color: var(--color-main-background);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1) inset !important;
  opacity: .96 !important; }
  .el-dialog .el-dialog__title {
    color: var(--color-link-1); }
  .el-dialog .dialog-footer {
    display: flex;
    justify-content: flex-end; }

.el-button {
  display: flex;
  transition: all 0.6s ease !important; }
  .el-button .span {
    height: 100%; }

.el-popper {
  background-color: var(--color-main-background) !important;
  color: var(--color-main) !important;
  padding: 22px;
  width: 666px;
  max-height: 560px;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word; }
  .el-popper img {
    max-width: 60%;
    height: auto; }

.el-pagination {
  margin-top: 1px;
  padding: 5px !important;
  font-size: 14px;
  line-height: 120%;
  background: linear-gradient(to bottom, var(--box-background-color) 0, var(--box-background-alt-color) 100%);
  border-radius: 0 0 3px 3px;
  border-top: 1px solid var(--color-border-1);
  --el-pagination-button-bg-color: var(--color-main-background) // 改变el-pagination 的默认样式 ; }
  .el-pagination .el-pagination__total {
    font-size: 11px;
    color: #999;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 15px;
    text-shadow: 0 1px 0 var(--color-box-background); }
  .el-pagination .el-pagination__jump {
    font-size: 12px;
    color: var(--color-main);
    padding: 3px 10px;
    display: inline-block;
    border-radius: 15px;
    text-shadow: 0 1px 0 var(--color-box-background); }
  .el-pagination input, .el-pagination select {
    background-color: #001d25;
    border: 1px solid #001d25;
    border-radius: 15px;
    outline: none;
    color: var(--color-input-2);
    transition: all 0.6s ease;
    box-shadow: none; }
    .el-pagination input:hover, .el-pagination select:hover {
      box-shadow: none; }
    .el-pagination input:focus, .el-pagination select:focus {
      border: 1px #3e5874 solid !important;
      box-shadow: none !important; }
  .el-pagination .el-select .el-input.is-focus .el-input__inner, .el-pagination .el-select .el-input__inner:focus {
    border: 1px #3e5874 solid !important;
    box-shadow: none !important; }
  .el-pagination .el-select:hover {
    --el-select-border-color-hover: rgba(0, 0, 0, 0); }
  .el-pagination .active {
    color: var(--color-link-1) !important;
    background-color: var(--color-box-background-hover) !important; }
  .el-pagination button {
    background-color: #001d25 !important; }

.el-tag {
  height: 22px;
  display: flex; }

.el-loading-mask {
  background-color: var(--color-main-background) !important; }

/*# sourceMappingURL=base-dark.css.map */
