.cell-nav {
    background-color: var(--steelblue-08);
}

/*english */
.morri-circle {
    stroke: #ffc800;
}

.morri-circle-backend {
    stroke: var(--dusk-003);
}

.brik {
    background-color: var(--green-04);
}
