html {
    background-color: var(--steelblue-06);
}

a {
    background-color: transparent;
}

a:active, a:link, a:visited {
    color: var(--silver-03);
}

h2 {
    border-bottom: 1px solid var(--steelblue-05);
}

hr {
    color: var(--white-05);
    background-color: var(--white-05);
}

/*------set ---------------------*/
.bg-1 {
    background-color: var(--steelblue-06);
}

.bg-2 {
    background-color: var(--steelblue-07);
}

.bg-3 {
    background-color: var(--steelblue-05);
}

/*form*/
.form {
    color: var(--white-05);
}

.form-group input {
    border: 1px solid var(--steelblue-05);
    background-color: var(--steelblue-06);
    color: var(--white-05);
}

/*box*/
.box {
    background-color: var(--steelblue-06);
}

/* cell*/
.cell, .cell-content {
    border-bottom: 1px solid var(--steelblue-05);
    color: var(--white-05);
}

.cell-content pre {
    background-color: var(--steelblue-07);
}

.cell h1 {
    color: var(--white-05);
}

.cell-hover:hover {
    background-color: var(--steelblue-07);
    box-shadow: var(--cell-hover-dark-shadow);
}


.cell-flag {
    color: var(--white-06);
    border-right: 1px solid var(--steelblue-05);
}

.cell-tools {
    background: var(--cell-tools-dark-bg);
    color: var(--white-06);
}

/*link*/
.link-1 {
    color: var(--silver-03) !important;
}

.link-1:hover {
    color: var(--silver-04) !important;
}

.link-2 {
    color: var(--silver-03) !important;
}

.link-2:hover {
    color: var(--silver-04) !important;
    background-color: var(--steelblue-04);
}

.link-2-active {
    color: var(--silver-04) !important;
    background-color: var(--steelblue-04);
}

.link-3 {
    color: var(--silver-03);
}

.link-3:hover {
    color: var(--silver-04);
}

.link-4:hover {
    color: var(--steelblue-02);
}

.link-5 {
    color: var(--silver-03);
}

.link-5:hover {
    color: var(--silver-04);
    background-color: var(--steelblue-03);
}

.link-6 {
    border-bottom: 3px solid var(--silver-03) !important;
}

.link-7:hover {
    color: var(--silver-04) !important;
    border-bottom: 3px solid var(--steelblue-05)
}

/*tag*/
.tag, .tag-3 {
    color: var(--silver-03) !important;
    background-color: #273749 !important;
}

.tag:hover, .tag-3:hover {
    transition: background-color 0.3s ease;
    color: var(--silver-01) !important;
    background-color: #33485f !important;
}

.tag-2 {
    color: var(--white-07) !important;
    background-color: var(--steelblue-03);
}

.tag-2:hover {
    background-color: var(--steelblue-05);
}

.tag-3 {
    background-color: var(--steelblue-05);
}

.tag-normal {
    color: var(--silver-03) !important;
    background-color: var(--steelblue-05) !important;
}

.tag-rare {
    color: var(--white-01) !important;
    background-image: linear-gradient(#40c914, #2c8f0c);
}

.tag-rare .tag-3 {
    color: var(--white-01) !important;
    background-color: #39ac14 !important;
}

.tag-rare .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: var(--white-01) !important;
    background-color: #45bc1f !important;
}

.tag-only {
    color: #fff8e1 !important;
    background-image: linear-gradient(#fdd835, #fbc02d);
}

.tag-only .tag-3 {
    color: #fff8e1 !important;
    background: #e2910f !important;
}

.tag-only .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: #fff8e1 !important;
    background: #e9a83f !important;
}


.tag-inherited {
    color: var(--white-01) !important;
    background-image: linear-gradient(var(--blue-03), var(--blue-03));
}

.tag-inherited .tag-3 {
    color: #e3f2fd !important;
    background-color: #1976d2 !important;
}

.tag-inherited .tag-3:hover {
    transition: all 0.3s ease;
    color: #e3f2fd !important;
    background-color: #1e88e5 !important;
}

.tag-epic {
    color: #fff8e1 !important;
    background-image: linear-gradient(#ff7043, #d84315);
}

.tag-epic .tag-3 {
    color: #fbe9e7 !important;
    background: #bf360c !important;
}

.tag-epic .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: #fff8e1 !important;
    background: #5e1905 !important;
}


.tag-legend {
    color: #fff8e1 !important;
    background-image: linear-gradient(#ab47bc, #8e24aa);
}

.tag-legend .tag-3 {
    color: #fbe9e7 !important;
    background: #7b1fa2 !important;
}

.tag-legend .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: #fff8e1 !important;
    background-color: #ab47bc !important;
}


.tag-myth {
    color: #fff8e1 !important;
    background-image: linear-gradient(var(--brown-03), var(--brown-05));
}

.tag-myth .tag-3 {
    color: #fbe9e7 !important;
    background: var(--brown-05) !important;
}

.tag-myth .tag-3:hover {
    color: #fff8e1 !important;
    background: var(--brown-03) !important;
}


.tag-info {
    color: var(--gray-01) !important;
    background-color: var(--gray-03) !important;
    border: 1px solid var(--gray-04) !important;
}

.tag-info:hover {
    color: var(--gray-01) !important;
    background-color: var(--gray-04) !important;
}

.tag-primary {
    background-color: var(--blue-05) !important;
    color: var(--blue-03) !important;
    border: 1px solid var(--blue-04) !important;
}

.tag-primary:hover {
    background-color: var(--blue-04) !important;
    color: var(--blue-03) !important;
}

.tag-warning {
    background-color: var(--yellow-11) !important;
    color: var(--yellow-06) !important;
    border: 1px solid var(--yellow-12) !important;
}

.tag-warning:hover {
    background-color: var(--yellow-12) !important;
    color: var(--yellow-06) !important;
}

.tag-success {
    background-color: var(--green-06) !important;
    color: var(--green-03) !important;
    border: 1px solid var(--green-05) !important;
}

.tag-success:hover {
    background-color: var(--green-05) !important;
    color: var(--green-03) !important;
}

.tag-brown {
    background-color: var(--brown-04) !important;
    color: var(--brown-02) !important;
    border: 1px solid var(--brown-05) !important;
}

.tag-brown:hover {
    background-color: var(--brown-05) !important;
    color: var(--brown-02) !important;
}

.tag-purple {
    background-color: var(--purple-04) !important;
    color: var(--purple-02) !important;
    border: 1px solid var(--purple-05) !important;
}

.tag-purple:hover {
    background-color: var(--purple-05) !important;
    color: var(--purple-02) !important;
}

.tag-danger {
    background-color: var(--red-05) !important;
    color: var(--red-03) !important;
    border: 1px solid var(--red-04) !important;
}

.tag-danger:hover {
    background-color: var(--red-04) !important;
    color: var(--red-03) !important;
}

.tag-blue {
    background-color: var(--blue-04) !important;
    color: var(--blue-03) !important;
}

.table-1 {
    box-shadow: 0 1px 2px var(--black-01-2);
    border-color: gray;
    color: #fff
}

.table-1 tr:nth-child(2n) {
    background-color: var(--steelblue-07);
}

.table-1 tr:hover {
    background-color: var(--steelblue-07);
    box-shadow: 6px 6px 20px var(--dusk-03) inset;
}

.table-1 td {
    border-top: 1px solid var(--steelblue-04);
}

/*table add*/
.table-add td input, textarea, select {
    color: var(--white-07);
    border: 1px solid var(--steelblue-04);
    background-color: var(--steelblue-06);
}

.table-add td input:focus, textarea:focus, select:focus {
    border: 1px solid var(--steelblue-03) !important;
    background-color: var(--steelblue-08);
}

/*msg*/
.msg-primary, .msg-warning {
    border-left: 5px solid var(--yellow-08);
    border-bottom: 1px solid var(--steelblue-05);
    color: var(--yellow-06);
}

/*btn*/
.btn-info {
    background: linear-gradient(to bottom, var(--silver-03) 0, var(--gray-02) 100%);
    border: 1px solid #697585;
}

.btn-info:hover {
    background-image: linear-gradient(var(--silver-03) 0, var(--gray-02) 60%);
}

.btn-warning {
    background-color: var(--yellow-05);
    color: var(--brown-08);
    text-shadow: 0 1px 1px var(--silver-02);
    box-shadow: 0 1px 2px var(--yellow-08);
    border: 1px solid var(--yellow-09);
    border-bottom-color: var(--dusk-04);
}

.btn-warning:hover {
    background-color: var(--yellow-04);
    color: var(--brown-07);
    text-shadow: 0 1px 1px var(--silver-02);
    box-shadow: 0 1px 2px var(--yellow-10);
    border: 1px solid var(--yellow-07);
}

/* input*/
.input {
    color: var(--silver-01);
}

.input input, .input select, .input textarea {
    color: var(--silver-05);
    background-color: var(--steelblue-08);
    border: 1px solid var(--steelblue-08);
}

.input input:focus, input:focus-visible {
    border: 1px solid var(--steelblue-02);
}


/* --------------------part -------------------*/
.top-right-mobile-menu {
    background-color: var(--steelblue-06);
    box-shadow: 0 2px 25px var(--black-01-2);
}

/*color*/
.color-gray {
    color: var(--steelblue-03) !important;
}

.color-blue {
    color: var(--blue-03) !important;
}

.color-green {
    color: var(--green-04) !important;
}

.color-red {
    color: var(--red-03) !important;
}

.color-white-4 {
    color: var(--white-07) !important;
}

.color-desc {
    color: var(--steelblue-03);
}

.bg-dark {
    background-color: var(--steelblue-07);
}


/*theme*/
.theme-gray {
    color: var(--gray-06) !important;
    background-color: var(--gray-04) !important;
}

.theme-warning {
    background-color: var(--yellow-11) !important;
    color: var(--yellow-06) !important;
}

.theme-success {
    background-color: var(--green-06) !important;
    color: var(--green-03) !important;
}

.theme-primary {
    background-color: var(--blue-05) !important;
    color: var(--blue-03) !important;
}

.theme-danger {
    background-color: var(--red-05) !important;
    color: var(--red-03) !important;
}

.color-white-1 {
    color: var(--white-01) !important;
}

.color-box-color-bg {
    color: var(--white-01);
}

::placeholder {
    color: var(--steelblue-03);
}

/*---------------------layout------------------------------*/
.GPageLink {
    color: var(--silver-03);
    background-color: transparent;
    border: 1px solid var(--steelblue-04);
}

.GPageSpan, .GPageLink:hover {
    color: var(--white-07);
    background-color: var(--steelblue-04);
    border: 1px solid var(--steelblue-04);
}

.GPageSpan:hover, .GPageLink:hover {
    color: var(--white-01);
}

/*layout*/
#sub-nav {
    background-color: var(--steelblue-07);
}

#wrapper {
    background-color: var(--steelblue-05);
}

#footer {
    border-top: 1px solid var(--black-01-2);
    background-color: var(--steelblue-06);
    color: var(--steelblue-03);
}