html {
    background-color: var(--bg-1-dark);
}

a {
    background-color: rgba(255, 0, 0, 0);
}

a:active, a:link, a:visited {
    color: var(--link-1-dark);
}

h2 {
    border-bottom: 1px solid var(--box-dark-border);
}

/*------set ---------------------*/
.bg-1 {
    background-color: var(--bg-1-dark);
}

.bg-2 {
    background-color: var(--bg-2-dark);
}

.bg-3 {
    background-color: var(--bg-3-dark);
}

/*form*/
.form {
    color: var(--box-dark);
}


.form-group input {
    border: 1px solid var(--box-dark-border);
    background-color: var(--box-dark-bg);
    color: var(--box-dark);
}

/*box*/
.box {
    background-color: var(--box-dark-bg);
}

/* cell*/
.cell {
    border-bottom: 1px solid var(--box-dark-border);
    color: var(--cell-dark);
}

.cell h1 {
    color: var(--box-dark);
}

.cell-hover:hover {
    background-color: var(--cell-hover-dark);
    box-shadow: var(--cell-hover-dark-shadow);
}

.cell-hover:hover .desc-1 {
    color: var(--cell-hover-desc-dark) !important;
}

.cell-flag {
    color: var(--cell-flag-dark);
    border-right: 1px solid var(--box-dark-border);
}

.cell-tools {
    background: var(--cell-tools-dark-bg);
    color: var(--cell-flag-dark);
}

/*link*/
.link-1 {
    color: var(--link-1-dark) !important;
}

.link-1:hover {
    color: var(--link-1-dark-hover) !important;
}

.link-2 {
    color: var(--link-1-dark) !important;
}

.link-2:hover {
    color: var(--link-1-dark-hover) !important;
    background-color: var(--link-2-dark-hover-bg);
}

.link-2-active {
    color: var(--link-2-dark-active);
    background-color: var(--link-2-dark-active-bg);
}

.link-3 {
    color: var(--link-3-dark);
}

.link-3:hover {
    color: var(--link-3-dark-hover);
}


.link-4:hover {
    color: var(--link-4-dark-hover);
}

.link-5 {
    color: var(--link-5-dark);
}

.link-5:hover {
    color: var(--link-5-dark-hover);
    background-color: var(--link-5-dark-hover-bg);
}

.link-6 {
    border-bottom: 3px solid var(--link-6-dark-border) !important;
}

.link-7:hover {
    color: var(--link-7-dark-hover) !important;
    border-bottom: 3px solid var(--link-7-dark-hover-border)
}

/*tag*/
.tag, .tag-3 {
    color: var(--tag-1-dark) !important;
    background-color: #273749 !important;
}

.tag:hover, .tag-3:hover {
    transition: background-color 0.3s ease;
    color: var(--tag-1-dark-hover) !important;
    background-color: #33485f !important;
}

.tag-2 {
    color: var(--tag-2-dark) !important;
    background-color: var(--tag-2-dark-bg);
}

.tag-2:hover {
    background-color: var(--tag-2-dark-hover);
}

.tag-3 {
    background-color: var(--box-dark-border);
}

.tag-normal {
    color: var(--tag-1-dark) !important;
    background-color: var(--tag-1-dark-hover-bg) !important;
}


.tag-rare {
    color: var(--tag-2) !important;
    background-image: linear-gradient(#40c914, #2c8f0c);
}

.tag-rare .tag-3 {
    color: var(--tag-2) !important;
    background-color: #39ac14 !important;
}

.tag-rare .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: var(--tag-2) !important;
    background-color: #45bc1f !important;
}

.tag-only {
    color: #fff8e1 !important;
    background-image: linear-gradient(#fdd835, #fbc02d);
}

.tag-only .tag-3 {
    color: #fff8e1 !important;
    background: #e2910f !important;
}

.tag-only .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: #fff8e1 !important;
    background: #e9a83f !important;
}

.tag-only .desc-1 {
    color: #fff8e1 !important;
}

.tag-inherited {
    color: var(--tag-2) !important;
    background-image: linear-gradient(#90caf9, #1e88e5);
}

.tag-inherited .tag-3 {
    color: #e3f2fd !important;
    background-color: #1976d2 !important;
}

.tag-inherited .desc-1 {
    color: #e3f2fd !important;
}

.tag-inherited .tag-3:hover {
    transition: all 0.3s ease;
    color: #e3f2fd !important;
    background-color: #1e88e5 !important;
}

.tag-epic {
    color: #fff8e1 !important;
    background-image: linear-gradient(#ff7043, #d84315);
}

.tag-epic .tag-3 {
    color: #fbe9e7 !important;
    background: #bf360c !important;
}

.tag-epic .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: #fff8e1 !important;
    background: #5e1905 !important;
}

.tag-epic .desc-1 {
    color: #fbe9e7 !important;
}

.tag-legend {
    color: #fff8e1 !important;
    background-image: linear-gradient(#ab47bc, #8e24aa);
}

.tag-legend .tag-3 {
    color: #fbe9e7 !important;
    background: #7b1fa2 !important;
}

.tag-legend .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: #fff8e1 !important;
    background-color: #ab47bc !important;
}

.tag-legend .desc-1 {
    color: #fbe9e7 !important;
}

.tag-myth {
    color: #fff8e1 !important;
    background-image: linear-gradient(#f44336, #d50000);
}

.tag-myth .tag-3 {
    color: #fbe9e7 !important;
    background: #b71c1c !important;
}

.tag-myth .tag-3:hover {
    color: #fff8e1 !important;
    background: #f44336 !important;
}

.tag-myth .desc-1 {
    color: #fbe9e7 !important;
}

.tag-info {
    background-color: rgba(144, 147, 153, 0.1);
    color: #909399;
    border: 1px solid rgba(144, 147, 153, 0.2);
}

.tag-primary {
    background-color: rgba(0, 173, 255, 0.1);
    color: #00adff;
    border: 1px solid rgba(0, 173, 255, 0.2);
}

.tag-warning {
    background-color: rgba(230, 162, 60, 0.1);
    color: #e6a23c;
    border: 1px solid rgba(230, 162, 60, 0.2);
}

.tag-success {
    background-color: rgba(103, 194, 58, 0.1);
    color: #67c23a;
    border: 1px solid rgba(103, 194, 58, 0.2);
}

.tag-danger {
    background-color: #373039;
    color: #f56c6c;
    border: 1px solid #76444a;
}

/*desc*/
.desc-1 {
    color: var(--desc-1-dark) !important;
}

.desc-2 {
    color: var(--desc-2-dark);
}

.table-1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border-color: gray;
    color: #fff
}

.table-1 tr:nth-child(2n) {
    background-color: #001d25;
}

.table-1 tr:hover {
    background-color: #001d25;
    box-shadow: 6px 6px 6px rgba(158, 144, 158, .3) inset;
}

.table-1 td {
    border-top: 1px solid #393f4e;
}

/*table add*/
.table-add td input, textarea, select {
    color: #d1d5d9;
    border: 1px solid #393f4e;
    background-color: #18222d;
}

.table-add td input:focus, textarea:focus, select:focus {
    border: 1px solid #3e5874 !important;
    background-color: #001d25;
}

/*msg*/
.msg-primary, .msg-warning {
    border-left: 5px solid #d5a320db;
    border-bottom: 1px solid var(--box-dark-border);
    color: var(--msg-1);
}

/*btn*/
.btn-info {
    background: linear-gradient(to bottom, #99abc5 0, #697585 100%);
    border: 1px solid #697585;
}
.btn-info:hover {
    background-image: linear-gradient(#99abc5 0, #697585 60%);
}

.btn-warning {
    background-color: #fc0;
    color: #532b17;
    text-shadow: 0 1px 1px rgb(255 255 255 / 60%);
    /*box-shadow: 0 1px 2px rgb(233 175 0 / 60%);*/
    border: 1px solid rgba(200, 150, 0, .8);
    border-bottom-color: rgba(80, 80, 90, .35);
}

/* input*/
.input {
    color: var(--white-3);
}

.input input, .input select, .input textarea {
    color: #ABAAB0;
    background-color: #001d25;
    border: 1px solid #001d25;
}

.input input:focus, .input select:focus, .input textarea:focus {
    border: 1px #3e5874 solid;
}

.input input:focus, input:focus-visible {
    border: 1px solid var(--input-1-border);
}

/*nav*/
.sub-nav {
    background-color: var(--bg-2-dark);
    border-bottom: 1px solid var(--box-dark-border);
}


/* --------------------part -------------------*/


.top-right-mobile-menu {
    background-color: var(--box-dark-bg);
    box-shadow: 0 2px 25px rgba(0, 0, 0, .2);
}

/*color*/
.color-gray {
    color: var(--gray-1) !important;
}

.color-blue {
    color: var(--blue-1) !important;
}

.color-green {
    color: var(--green-1) !important;
}

.color-red {
    color: var(--red-1) !important;
}

.color-white-4 {
    color: var(--white-2) !important;
}

.bg-color-dark {
    background-color: var(--black-2);
}

.color-box-color-bg {
    color: var(--box-bg);
}

.th-1, .td-1, .td-1-desc {
    border-right: 1px solid var(--box-dark-border);
    border-bottom: 1px solid var(--box-dark-border);
}

.th-1 {
    color: var(--white-2)
}

.td-1 {
    color: var(--box-dark);
}

.td-1-desc {
    color: var(--gray-1);
}

/*text*/


.content-1 {
    color: var(--box-dark);
    border-bottom: 1px solid var(--box-dark-border);
}


/*---------------------other-------------------*/
.money {
    background: linear-gradient(to bottom, #606c88 0, #3f4c6b 100%);
    color: var(--box-dark);
}

.money:hover {
    color: #f6f6f6;
    background: linear-gradient(to bottom, #4d5466 0, #22303f 100%);
}


::placeholder {
    color: var(--gray-2);
}

/*---------------------layout------------------------------*/

/*page2*/
.page {
    padding: 10px;
    background-image: url(/resource/image/shadow_light.png);
    background-size: 20px 20px;
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.page span:nth-last-child(1), .page span:nth-last-child(2) {
    font-size: 13px;
    color: var(--gray-2);
}

.GPageLink {
    display: inline-block;
    font-weight: 400;
    line-height: 12px;
    padding: 2px 5px;
    background-color: var(--box-dark-bg);
    border-radius: var(--box-border-radius);
    border: 1px solid var(--box-dark-border);
    font-size: 12px;
    margin: 0 5px;
    box-shadow: var(--elevation-box-shadow-1);
}

.GPageLink:hover {
    color: #d1d5d9;
    background-color: var(--tag-1-dark-bg);
    border: 1px solid #393f4e;
}

.GPageSpan, .current {
    color: #d1d5d9;
    background-color: var(--tag-1-dark-bg);
    border: 1px solid #393f4e;
}

/* wrapper*/
#wrapper {
    background-color: var(--bg-3-dark);
}

#footer {
    border-top: 1px solid rgba(0, 0, 0, .22);
    background-color: var(--box-dark-bg);
    color: var(--gray-2);
}

/*element ui*/
.el-dialog {
    background-color: var(--box-dark-bg);
}

.el-dialog__title {
    color: var(--white-3)
}


/*element ui pagination style rewrite*/
.el-pagination {
    margin-top: 1px;
    padding: 5px !important;
    font-size: 14px;
    line-height: 120%;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid var(--color-border-1);
}

.el-scrollbar {
    background-color: #001d25;
    box-shadow: none;
}

.el-pagination--small span:not([class*=suffix]) {
    margin-left: 12px;
}

.el-select__popper.el-popper[role=tooltip] {
    background: var(--el-color-white);
    border: 1px solid #292b2d;
    box-shadow: var(--el-box-shadow-light);
}

.el-select-dropdown__item:hover {
    background-color: #18222d;
}

.el-select-dropdown__item.selected {
    color: var(--el-color-primary);
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #18222d;
}

.el-input__inner {
    background-color: #001d25;
    outline: none;
    box-shadow: none;
    border-radius: 15px;
}

.el-input__inner:hover, .el-select .el-input__inner:focus {
    box-shadow: none !important;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    background-color: #001d2552;
    color: var(--el-text-color-regular);
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #212f3e;
    color: #1876ca;
}

.el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev:disabled {
    color: var(--el-text-color-placeholder);
    background-color: #001d25;
}

.el-pagination--small span:not([class*=suffix]), .el-input__inner {
    color: #d2d2d2;
}