[v-cloak] {
    display: none !important;
}

/* element ui */
.el-dialog {
    border-radius: 12px !important;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .1) inset !important;
    opacity: .96 !important;
    min-width: 300px;
}

button {
    transition: all 0.6s ease !important;
    display: inline-flex !important;
}


.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details ul {
    margin-top: 12px;
    border-collapse: collapse;
}

.details ul li {
    margin: 6px 0;
    padding-left: 6px;
    text-align: right;
}

.details ul li label {
    min-width: 224px;

    display: flex;
}

.details ul li label span {
    min-width: 54px;
    display: inline-block;
}

.details ul li input {
    margin-left: 3px;
    width: 136px;
}

.details ul li select {
    margin-left: 3px;
    width: 156px;
    border: 1px solid rgba(204, 204, 204, 0);
}

.el-tag {
    white-space: break-spaces !important;
    max-width: 156px;
    height: auto !important;
    padding: 3px 9px !important;
    line-height: 1.1 !important;
    text-align: left;
}
