html {
    background-color: var(--white-01);
}

a {
    background-color: rgba(255, 0, 0, 0);
}

a:active, a:link, a:visited {
    color: var(--gray-02);
}

h2 {
    border-bottom: 1px solid var(--white-04);
}

hr {
    color: var(--white-04);
    background-color: var(--white-04);
}

/*------set ---------------------*/
.bg-1 {
    background-color: var(--white-01);
}

.bg-2 {
    background-color: var(--white-02);
}

.bg-3 {
    background-color: var(--white-04);
}


/*form*/
.form, .form-group input {
    color: var(--black-01);
}


.form-group input {
    border: 1px solid var(--white-04);
    background-color: var(--white-01);
}

/*box*/
.box {
    color: var(--steelblue-03);
    background-color: var(--white-01);
    border-bottom: 1px solid var(--white-04);
}

/*cell*/
.cell {
    border-bottom: 1px solid var(--white-04);
    color: var(--steelblue-03);
}


.cell-hover:hover {
    background-color: var(--white-03);
    box-shadow: var(--cell-hover-shadow);
}

.cell-hover:hover .desc-1 {
    color: var(--steelblue-05);
}

.cell h1 {
    color: var(--black-01);
}

.cell-flag {
    color: var(--silver-03);
    border-right: 1px solid var(--white-04);
}

.cell-tools {
    background: var(--cell-tools-bg);
}

/*link*/
.link-1 {
    color: var(--gray-02) !important;
}

.link-1:hover {
    color: var(--silver-03) !important;
}

.link-2 {
    color: var(--steelblue-03) !important;
}

.link-2:hover {
    color: var(--steelblue-03) !important;
    background-color: var(--white-02) !important;
}

.link-2-active {
    color: var(--white-01) !important;
    background-color: var(--steelblue-05) !important;
}

.link-2-active:hover {
    color: var(--white-01) !important;
    background-color: var(--steelblue-05) !important;
}

.link-3 {
    color: var(--gray-02);
}

.link-3:hover {
    color: var(--steelblue-05);
}

.link-4:hover {
    color: var(--steelblue-02);
}

.link-5 {
    color: var(--steelblue-07) !important;
    text-shadow: 0 1px 0 var(--white-01);
}

.link-5:hover {
    color: var(--black-01) !important;
    background-color: var(--link-5-hover-bg);
}

.link-6 {
    border-bottom: 3px solid var(--black-01) !important;
}

.link-7:hover {
    color: var(--steelblue-05) !important;
    border-bottom: 3px solid var(--white-03);
}

/*tag*/
.tag-2 {
    color: var(--white-01) !important;
    background-color: var(--gray-04);
}

.tag-2:hover {
    background-color: var(--gray-03);
}

.tag, .tag-3 {
    color: var(--silver-03) !important;
    background-color: var(--white-02) !important;
}

.tag:hover, .tag-3:hover, .tag-normal {
    color: var(--gray-01) !important;
    background-color: var(--white-04) !important;
}

.tag-normal {
    color: var(--silver-03) !important;
    background-image: linear-gradient(var(--white-03), var(--white-01)) !important;
}

.tag-rare {
    color: var(--white-01) !important;
    background-image: linear-gradient(var(--green-01), var(--green-06));
}

.tag-rare .tag-3 {
    color: var(--white-01) !important;
    background-color: var(--green-06) !important;
}

.tag-rare .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: var(--white-01) !important;
    background-color: var(--green-06) !important;
}

.tag-inherited {
    color: var(--white-01) !important;
    background-image: linear-gradient(var(--blue-04), var(--blue-04));
}

.tag-inherited .tag-3 {
    color: var(--blue-03) !important;
    background-color: var(--blue-01) !important;
}

.tag-inherited .desc-1 {
    color: var(--blue-02) !important;
}

.tag-inherited .tag-3:hover {
    transition: all 0.3s ease;
    color: var(--blue-02) !important;
    background-color: var(--blue-01) !important;
}

.tag-only {
    color: var(--yellow-02) !important;
    background-color: var(--yellow-01);
}

.tag-only .tag-3 {
    color: var(--yellow-02) !important;
    background: var(--yellow-01) !important;
}

.tag-only .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: var(--yellow-02) !important;
    background: var(--yellow-01) !important;
}

.tag-only .desc-1 {
    color: var(--yellow-02) !important;
}

.tag-epic {
    color: var(--brown-03) !important;
    background-image: linear-gradient(var(--brown-01), var(--brown-02));
}

.tag-epic .tag-3 {
    color: var(--brown-03) !important;
    background: var(--brown-02) !important;
}

.tag-epic .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: var(--brown-03) !important;
    background: var(--brown-04) !important;
}

.tag-legend {
    color: #fff8e1 !important;
    background-image: linear-gradient(var(--purple-01), var(--purple-02));
}

.tag-legend .tag-3 {
    color: var(--purple-03) !important;
    background: var(--purple-02) !important;
}

.tag-legend .tag-3:hover {
    transition: background-color 0.3s ease-in-out;
    color: var(--purple-04) !important;
    background-color: var(--purple-02) !important;
}

.tag-myth {
    color: #fff8e1 !important;
    background-image: linear-gradient(#f44336, #d50000);
}

.tag-myth .tag-3 {
    color: #fbe9e7 !important;
    background: #b71c1c !important;
}

.tag-myth .tag-3:hover {
    color: #fff8e1 !important;
    background: #f44336 !important;
}

.tag-info {
    background-color: #f4f4f5 !important;
    color: #909399 !important;
    border: 1px solid #e9e9eb !important;
}

.tag-primary {
    background-color: var(--blue-02) !important;
    color: var(--blue-01) !important;
    border: 1px solid var(--blue-03) !important;
}

.tag-warning {
    background-color: var(--yellow-02) !important;
    color: var(--yellow-01) !important;
    border: 1px solid var(--yellow-03) !important;
}

.tag-success {
    background-color: var(--green-02) !important;
    color: var(--green-01) !important;
    border: 1px solid var(--green-03) !important;
}

.tag-danger {
    background-color: var(--red-02) !important;
    color: var(--red-01) !important;
    border: 1px solid var(--red-03) !important;
}

.tag-blue {
    background-color: var(--blue-02) !important;
    color: var(--blue-01) !important;
}

.btn-info {
    color: var(--steelblue-03) !important;
    background-color: var(--white-01);
    text-shadow: 0 1px 0 var(--white-01);
    box-shadow: 0 1px 0 rgba(66, 66, 77, .1);
    border: 1px solid rgba(80, 80, 90, .2);
    border-bottom-color: rgba(80, 80, 90, .35);
}

.btn-info:hover {
    background-image: linear-gradient(#fff, #e2e2e2);
}

.btn-warning {
    background-color: #fc0;
    color: #532b17;
    text-shadow: 0 1px 1px rgb(255 255 255 / 60%);
    box-shadow: 0 1px 2px rgb(233 175 0 / 60%);
    border: 1px solid rgba(200, 150, 0, .8);
    border-bottom-color: rgba(80, 80, 90, .35);
}

.btn-warning:hover {
    background-color: #ffdf00;
    color: #402112;
    text-shadow: 0 1px 1px rgb(255 255 255 / 70%);
    box-shadow: 0 1px 2px rgb(233 175 0 / 50%);
    border: 1px solid #c89600;
}

/*desc*/
.desc-1 {
    color: var(--silver-01) !important;
}

.desc-2 {
    color: var(--silver-03);
    text-shadow: 0 1px 0 var(--white-01);
}

/*table*/
.table-1 tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.table-1 tr:hover {
    background-color: #eeeeee;
    box-shadow: 6px 6px 6px rgba(224, 224, 224, 0.9) inset
}

.table-1 td {
    border-top: 1px solid #ccc;
}

/*table add*/
.table-add td input, textarea, select {
    border: 1px solid #ccc;
}

.table-add td input:focus, textarea:focus, select:focus {
    border: 1px solid #a6a6b0 !important;
}

.msg-primary, .msg-warning {
    color: #333;
}

.msg-primary {
    background-color: #f3faff;
    border-left: 5px solid #c7e8ff;
    border-bottom: 1px solid var(--white-04);
}

.msg-warning {
    background-color: #ffffc0;
    border-left: 5px solid #fff000;
    border-bottom: 1px solid var(--white-04);
}

/* input*/
.input input, .input textarea, .input select {
    color: var(--silver-02);
    background-color: var(--white-02);
    border: 1px solid var(--white-01);
}

.input input:focus, input:focus-visible {
    border: 1px solid var(--silver-02);
}

/*nav*/
.sub-nav {
    background-color: var(--white-02);
    border-bottom: 1px solid var(--white-04);
}


/* --------------------part -------------------*/

.top-right-mobile-menu {
    background-color: var(--white-01);
    box-shadow: 0 2px 25px rgba(0, 0, 0, .2);
}

/*color*/
.color-gray {
    color: var(--silver-03) !important;
}

.color-blue {
    color: var(--blue-01) !important;
}

.color-green {
    color: var(--green-06) !important;
}

.color-red {
    color: var(--red-01) !important;
}

.color-white-1 {
    color: var(--white-01) !important;
}

.bg-color-dark {
    background-color: var(--steelblue-07);
}

.color-box-color-bg {
    color: var(--white-01);
}


/*table*/
.th-1, .td-1, .td-1-desc {
    border-right: 1px solid var(--white-04);
    border-bottom: 1px solid var(--white-04);
    text-shadow: 0 1px 0 #fff;
    background: linear-gradient(top, #f5f5f5 0, #e2e2e2 100%);
}

.th-1 {
    text-shadow: 0 1px 0 #fff;
    background: linear-gradient(top, #f5f5f5 0, #e2e2e2 100%);
}

.td-1 {
    color: var(--black-01);
}

.td-1-desc {
    color: var(--silver-03);
}


.content-1 {
    color: var(--black-01);
    border-bottom: 1px solid var(--white-04);
}


.active:hover {
    background-color: #445;
    color: #fff !important;
}

.logo {
    color: var(--black-01) !important;
}

/*---------------------other-------------------*/
.money {
    background: #f5f5f5;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.money:hover {
    color: var(--silver-03);
    background: var(--white-02);
}

::placeholder {
    color: var(--silver-01);
}

/*正文背景选择*/
.cell .desc div > label {
    color: var(--silver-03);
}

/*---------------------layout------------------------------*/
.page span:nth-last-child(1), .page span:nth-last-child(2) {
    color: var(--silver-03);
}

.GPageLink {
    background-color: var(--white-01);
    border: 1px solid var(--white-04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.GPageLink:hover {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.GPageSpan, .current {
    background-color: #f0f0f0;
    border: 1px solid #bbb;
}

/* wrapper*/
#wrapper {
    background-color: var(--white-04);
}

#footer {
    border-top: 1px solid rgba(0, 0, 0, .22);
    background-color: var(--white-01);
    color: var(--silver-01);
}