/*base*/
html {
    background-color: var(--white-001);
}

a {
    background-color: transparent;
}

a:active, a:link, a:visited {
    color: var(--gray-003);
}

h2 {
    border-bottom: 1px solid var(--white-006);
}

hr {
    color: var(--white-006);
    background-color: var(--white-006);
}


blockquote {
    color: var(--gray-001);
    border-left: 0.25em solid var(--gray-001);
}

/*box*/
.box {
    color: var(--steelblue-03);
    background-color: var(--white-001);
    border-bottom: 1px solid var(--white-006);
}

/*cell*/
.cell, .cell-content {
    border-bottom: 1px solid var(--white-006);
    color: var(--black-01);
}

.cell-content pre {
    background-color: var(--white-002);
}

.cell-hover:hover {
    background-color: var(--white-004);
    box-shadow: var(--cell-hover-shadow);
}

.cell h1 {
    color: var(--black-01);
}

.cell-flag {
    color: var(--gray-003);
    border-right: 1px solid var(--white-006);
}

.cell-tools {
    background: linear-gradient(to bottom, var(--white-004) 0, var(--white-010) 100%);
}

.cell-tools span:not(.GPageSpan) {
    text-shadow: 0 1px 0 var(--white-001);
    font-size: 11px;
    color: var(--gray-002);
}

/*link*/
.link-1 {
    color: var(--dusk-001) !important;
}

.link-1:hover {
    color: var(--silver-05) !important;
}

.link-2 {
    color: var(--steelblue-03) !important;
}

.link-2:hover {
    color: var(--black-01) !important;
    background-color: var(--white-002) !important;
}

.link-2-active {
    color: var(--white-001) !important;
    background-color: var(--steelblue-09) !important;
}

.link-2-active:hover {
    color: var(--white-001) !important;
    background-color: var(--steelblue-10) !important;
}

.link-3 {
    color: var(--gray-003) !important;
}

.link-3:hover {
    color: var(--dusk-002) !important;
}

.link-4:hover {
    color: var(--steelblue-02) !important;
}

.link-5 {
    color: var(--steelblue-07) !important;
    text-shadow: 0 1px 0 var(--white-001);
}

.link-5:hover {
    color: var(--black-01) !important;
    background-color: var(--gray-004);
}

.link-6 {
    border-bottom: 3px solid var(--black-01) !important;
}

.link-7:hover {
    color: var(--steelblue-05) !important;
    border-bottom: 3px solid var(--white-004) !important;
}

/*tag*/
.tag, .tag-3 {
    color: var(--gray-003) !important;
    background-color: var(--white-002) !important;
}

.tag-2 {
    color: var(--white-001) !important;
    background-color: var(--silver-04);
}

.tag-2:hover {
    background-color: var(--silver-03);
}

.tag:hover, .tag-3:hover {
    color: var(--gray-002) !important;
    background-color: var(--white-006) !important;
}

.tag-info {
    background-color: var(--white-002) !important;
    color: var(--gray-002) !important;
    border: 1px solid var(--white-005) !important;
}

.tag-info:hover {
    background-color: var(--gray-002) !important;
    color: var(--white-002) !important;
}

.tag-primary {
    background-color: var(--blue-01) !important;
    color: var(--blue-03) !important;
    border: 1px solid var(--blue-02) !important;
}

.tag-primary:hover {
    background-color: var(--blue-03) !important;
    color: var(--blue-01) !important;
}

.tag-warning {
    background-color: var(--yellow-01) !important;
    color: var(--yellow-06) !important;
    border: 1px solid var(--yellow-02) !important;
}

.tag-warning:hover {
    background-color: var(--yellow-06) !important;
    color: var(--yellow-01) !important;
}

.tag-success {
    background-color: var(--green-01) !important;
    color: var(--green-03) !important;
    border: 1px solid var(--green-02) !important;
}

.tag-success:hover {
    background-color: var(--green-03) !important;
    color: var(--green-01) !important;
}

.tag-brown {
    background-color: var(--brown-01) !important;
    color: var(--brown-02) !important;
    border: 1px solid var(--brown-03) !important;
}

.tag-brown:hover {
    background-color: var(--brown-02) !important;
    color: var(--brown-01) !important;
}

.tag-purple {
    background-color: var(--purple-01) !important;
    color: var(--purple-02) !important;
    border: 1px solid var(--purple-03) !important;
}

.tag-purple:hover {
    background-color: var(--purple-02) !important;
    color: var(--purple-01) !important;
}

.tag-danger {
    background-color: var(--red-01) !important;
    color: var(--red-03) !important;
    border: 1px solid var(--red-02) !important;
}

.tag-danger:hover {
    background-color: var(--red-03) !important;
    color: var(--red-01) !important;
}

.tag-blue {
    background-color: var(--blue-01) !important;
    color: var(--blue-03) !important;
}


/*color*/
.color-gray {
    color: var(--gray-003) !important;
}

.color-blue {
    color: var(--blue-03) !important;
}

.color-green {
    color: var(--green-04) !important;
}

.color-red {
    color: var(--red-03) !important;
}

.color-white-1 {
    color: var(--white-001) !important;
}

/*theme*/
.theme-info {
    color: var(--gray-001) !important;
    background-color: var(--white-012) !important;
}


.theme-success {
    background-color: var(--green-01) !important;
    color: var(--green-03) !important;
}

.theme-primary {
    background-color: var(--blue-01) !important;
    color: var(--blue-03) !important;
}

.theme-warning {
    background-color: var(--yellow-01) !important;
    color: var(--yellow-06) !important;
}

.theme-brown {
    background-color: var(--brown-01) !important;
    color: var(--brown-02) !important;
}

.theme-purple {
    background-color: var(--purple-01) !important;
    color: var(--purple-02) !important;
}

.theme-danger {
    background-color: var(--red-01) !important;
    color: var(--red-03) !important;
}

.color-desc {
    color: var(--white-010);
}

/*msg*/
.msg-primary, .msg-warning {
    color: var(--dusk-008);
}

.msg-primary {
    background-color: var(--blue-01);
    border-left: 5px solid var(--blue-02);
    border-bottom: 1px solid var(--white-006);
}

.msg-warning {
    background-color: var(--yellow-03);
    border-left: 5px solid var(--yellow-04);
    border-bottom: 1px solid var(--white-006);
}

.bg-dark {
    background-color: var(--steelblue-08);
}

/*btn*/
.btn-info {
    color: var(--steelblue-06) !important;
    background-color: var(--white-001);
    text-shadow: 0 1px 0 var(--white-001);
    box-shadow: 0 1px 0 var(--dusk-007);
    border: 1px solid var(--dusk-009);
    border-bottom-color: var(--dusk-005);
}

.btn-info:hover {
    background-image: linear-gradient(var(--white-001), var(--white-006));
}

.btn-warning {
    background-color: var(--yellow-05);
    color: var(--brown-08) !important;
    text-shadow: 0 1px 1px var(--silver-02);
    box-shadow: 0 1px 2px var(--yellow-08);
    border: 1px solid var(--yellow-09);
    border-bottom-color: var(--dusk-005);
}

.btn-warning:hover {
    background-color: var(--yellow-04);
    color: var(--brown-07);
    text-shadow: 0 1px 1px var(--silver-02);
    box-shadow: 0 1px 2px var(--yellow-10);
    border: 1px solid var(--yellow-07);
}


/*table*/
.table-1 tr:nth-child(2n) {
    background-color: var(--white-002);
}

.table-1 tr:hover {
    background-color: var(--white-004);
    box-shadow: 6px 6px 6px var(--white-009) inset
}

.table-1 td {
    border-top: 1px solid var(--white-010);
}

/*table add*/
.table-add {
    color: var(--dusk-008) !important;
}

.table-add td input, textarea, select {
    border: 1px solid var(--white-006);
    color: var(--dusk-008);
}

.table-add td input:focus, textarea:focus, select:focus {
    border: 1px solid var(--silver-05) !important;
    background-color: var(--white-004);
}

/* input*/
.input {
    color: var(--dusk-008);
}

.input input, .input textarea, .input select {
    color: var(--silver-05);
    background-color: var(--white-002);
    border: 1px solid var(--white-001);
}

.input input:focus, input:focus-visible {
    border: 1px solid var(--silver-05);
}

/*other*/

.logo {
    color: var(--black-01) !important;
}

.GPageLink {
    background-color: var(--white-001);
    border: 1px solid var(--white-006);
    box-shadow: 0 1px 1px var(--black-02);
}

.GPageSpan, .GPageLink:hover {
    color: var(--gray-003);
    background-color: var(--white-002);
    border: 1px solid var(--white-011);
}

.GPageSpan:hover, .GPageLink:hover {
    color: var(--dusk-002);
}

/*layout*/
#sub-nav {
    background-color: var(--white-003);
}

#wrapper {
    background-color: var(--white-006);
}

#footer {
    border-top: 1px solid var(--black-02);
    background-color: var(--white-001);
    color: var(--silver-01);
}