<!DOCTYPE html>
<html lang="zh">
<head>
    {{include "/app/1.meta.html" .}}
    <style>
        textarea {
            width: 497px !important;
            height: 208px;
        }

        .year, .month, .week, .checkbox {
            width: 10px;
        }

        .date, .level {
            width: 60px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <!--top模块-->
    {{include "/app/2.top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div class="wrapper-left">
                <!--导航栏模块-->
                {{include "/app/3.nav.html" .}}
                <div class="box no-bottom-border">
                    {{include "/app/4.basePageInfo.html" .}}
                    <!-- 搜索栏-->
                    <div class="cell">
                        <el-button :disabled="batchDelDisabled" type="danger" @click="onBatchDel(list.filter(i => i.delCheckBox === true).map(i => i.id))" size="small" plain>批量删除</el-button>
                        <el-button class="mr-12" type="primary" plain size="small" @click="showDetails(1)">添加</el-button>
                        {{include "/app/5.search.html" .}}
                    </div>
                </div>
                <!--数据模块-->
                <div class="box no-bottom-border data">
                    <table class="table-1" v-loading="loading" :element-loading-spinner="svg" element-loading-text="Loading..." element-loading-background="rgba(0, 0, 0, 0.3)" style="width: 100%">
                        <tbody>
                        <!--表头-->
                        <tr>
                            <th class="checkbox">
                                <el-checkbox @change="batchDelCheckChange" label="" size="large"/>
                            </th>
                            <th class="year">年</th>
                            <th class="month">月</th>
                            <th class="week">星期</th>
                            <th class="date">日期</th>
                            <th class="level">等级</th>
                            <th>主要事件</th>
                            <th>标记</th>
                            <th class="operation">操作</th>
                        </tr>
                        <!--数据-->
                        <tr v-for="i in list">
                            <td>
                                <el-checkbox @change="delBoxChange" v-model="i.delCheckBox" label="" size="large"/>
                            </td>
                            <!--year-->
                            <td>
                                <el-tag size="small" type="info" plain v-if="year(i.happen_date)%5===0" v-text="year(i.happen_date)"></el-tag>
                                <el-tag size="small" type="success" plain v-if="year(i.happen_date)%5===1" v-text="year(i.happen_date)"></el-tag>
                                <el-tag size="small" type="primary" plain v-if="year(i.happen_date)%5===2" v-text="year(i.happen_date)"></el-tag>
                                <el-tag size="small" type="warning" plain v-if="year(i.happen_date)%5===3" v-text="year(i.happen_date)"></el-tag>
                                <el-tag size="small" type="danger" plain v-if="year(i.happen_date)%5===4" v-text="year(i.happen_date)"></el-tag>
                            </td>

                            <!--money-->
                            <td>
                                <el-tag size="small" type="info" plain v-if="month(i.happen_date)%5===1" v-text="month(i.happen_date)"></el-tag>
                                <el-tag size="small" type="success" plain v-if="month(i.happen_date)%5===2" v-text="month(i.happen_date)"></el-tag>
                                <el-tag size="small" type="primary" plain v-if="month(i.happen_date)%5===3" v-text="month(i.happen_date)"></el-tag>
                                <el-tag size="small" type="warning" plain v-if="month(i.happen_date)%5===4" v-text="month(i.happen_date)"></el-tag>
                                <el-tag size="small" type="danger" plain v-if="month(i.happen_date)%5===0" v-text="month(i.happen_date)"></el-tag>
                            </td>
                            <!--money-->
                            <td>
                                <el-tag size="small" type="info" plain v-if="week(i.happen_date)%5===1" v-text="week(i.happen_date)"></el-tag>
                                <el-tag size="small" type="success" plain v-if="week(i.happen_date)%5===2" v-text="week(i.happen_date)"></el-tag>
                                <el-tag size="small" type="primary" plain v-if="week(i.happen_date)%5===3" v-text="week(i.happen_date)"></el-tag>
                                <el-tag size="small" type="warning" plain v-if="week(i.happen_date)%5===4" v-text="week(i.happen_date)"></el-tag>
                                <el-tag size="small" type="danger" plain v-if="week(i.happen_date)%5===0" v-text="week(i.happen_date)"></el-tag>
                            </td>
                            <td v-text="i.happen_date" @click="showDetails(2,i.id)"></td>
                            <td>
                                <el-tag size="small" plain v-if="i.level==1" type="info">普通</el-tag>
                                <el-tag size="small" plain v-else-if="i.level==2" type="success">稀有</el-tag>
                                <el-tag size="small" plain v-else-if="i.level==3" type="primary">传承</el-tag>
                                <el-tag size="small" plain v-else-if="i.level==4" type="warning">唯一</el-tag>
                                <el-tag size="small" plain v-else-if="i.level==5" type="danger">史诗</el-tag>
                            </td>
                            <td v-text="i.main_things" @click="showDetails(2,i.id)"></td>
                            <td v-text="i.tag" @click="showDetails(2,i.id)"></td>
                            <td>
                                <el-button-group>
                                    <el-button type="primary" plain size="small" @click="showDetails(2,i.id)">编辑</el-button>
                                    <el-button type="success" plain size="small" @click="onBatchDel([i.id])">删除</el-button>
                                </el-button-group>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <el-pagination :currentPage="search.page" :page-size="search.size" :page-sizes="[1,2,5,15,30,50,100, 200, 300, 400]" small="small" background="background" layout="total, sizes, prev, pager, next, jumper" :total="total" @current-change="getList" @size-change="sizeChange"/>
                </div>
            </div>
        </div>
    </div>
    <!--弹框-->
    {{include "/app/8.footer_no_dialog.html" .}}
    <el-dialog v-model="detailsVisible" :title="detailsTitle" width="36%">
        <div class="details">
            <ul>
                <li v-for="i in pageConf.fields">
                    <label v-if="i.type!='select'
                    && i.field!='id'
                    && i.field!='created_at'
                    && i.field!='updated_at'
                    && i.type!='operate'
                    && !i.editHide==1" class="input">
                        <span v-text="i.label"></span>
                        <textarea rows="6" v-if="i.type!='select' && i.type==='textarea'" v-model="details[i.field]"> </textarea>
                        <input :disabled="i.editDisabled?true:false" v-else-if="i.type!='select'" v-model="details[i.field]" autocomplete="off" @keyup.enter="onSubmit()">
                    </label>
                </li>
            </ul>
            <ul>
                <li v-for="i in pageConf.fields">
                    <label v-if="i.type=='select' && !i.editHide==1" class="input">
                        <span v-text="i.label"></span>
                        <select v-model="details[i.field]" @change="getList()" :disabled="i.editDisabled?true:false">
                            <option v-for="j in i.options" :value="j.value" v-text="j.label"></option>
                        </select>
                    </label>
                </li>
            </ul>
        </div>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="detailsVisible = false" size="small" plain>取消</el-button>
                <el-button type="primary" @click="onSubmit()" size="small" plain>提交</el-button>
            </div>
        </template>
    </el-dialog>
</div>
</body>
{{include "/app/z.footerJs.html" .}}
<script>
    function retnWF3(date) {//JS判断的switch方法
        var wstr = "";
        var day = date.getDay();
        switch (day) {
            case 0: wstr = "7"; break;
            case 1: wstr = "1"; break;
            case 2: wstr = "2"; break;
            case 3: wstr = "3"; break;
            case 4: wstr = "4"; break;
            case 5: wstr = "5"; break;
            case 6: wstr = "6"; break;
        }
        return wstr;
    }

    const app = Vue.createApp({
        data() {
            return {
                pageConf: {
                    name: "node",
                    desc: "这里是node页面可以对数据进行相应的操作。",
                    urlPrefix: "/node/",
                    icon: "{{.data.icon}}",
                    fields: [
                        {type: 'delCheckBox', editHide: 1},
                        // {field: "id", label: "ID"},
                        // {field: "uname", label: "用户名", editHide: 1,},
                        {field: "happen_date", label: "日期", search: 1},
                        {
                            field: "level",
                            label: "等级",
                            search: 1,
                            type: 'select',
                            options: [{value: "", label: "请选择"}, {value: "1", label: "普通", type: "info"}, {value: "2", label: "稀有", type: "success"}, {value: "3", label: "传承", type: "primary"}, {value: "4", label: "唯一", type: "warning"}, {value: "5", label: "史诗", type: "danger"},]
                        },
                        {field: "main_things", label: "主要事件", search: 1, type: 'textarea'},
                        // {field: "other_info", label: "其他信息", search: 1, type: 'textarea'},
                        {field: "created_at", label: "创建日期", notShow: 1},
                        {field: "tag", label: "标记", search: 1},
                        // {field: "updated_at", label: "更新时间"},
                        {label: "操作", type: "operate"}
                    ]
                },
                search: {page: 1, size: 15, status: '', level: ''}, // config & search
                list: [], loading: false, total: 0, totalPage: 0, // data
                details: {status: ''}, detailsVisible: false, detailsTitle: '添加操作', showType: 0 // 1 add 2 update, // details
            }
        },
        async created() {
            document.title = this.pageConf.name
            this.getList()
        },
        methods: {
            sizeChange(size) {
                this.search.size = size;
                this.getList();
            },
            year(i) {
                return new Date(i).getFullYear()
            },
            month(i) {
                return new Date(i).getMonth() + 1
            },
            week(i) {
                return retnWF3(new Date(i));
            },
            async getList(page) {
                this.loading = true;
                if (page) {
                    this.search.page = page;
                }
                let res = await $.get(`${this.pageConf.urlPrefix}`, this.search);
                const {currPage, totalCount, totalPage, list} = res.data;
                this.search.page = currPage;
                this.total = totalCount
                this.list = list;
                this.totalPage = totalPage;
                this.loading = false
            },
            async showDetails(type, id) {
                this.detailsVisible = true
                this.showType = type
                this.details = {status: 1, type: 1}
                if (type === 2) {
                    this.detailsTitle = '修改操作'
                    let res = await $.get(`${this.pageConf.urlPrefix}` + id)
                    this.details = res.data
                    this.details.created_at = new Date(res.data.created_at).toISOString().split('T')[0]
                } else {
                    this.details.level = '1'
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType === 1) {
                    res = await $.post(`${this.pageConf.urlPrefix}`, this.details)
                } else {
                    res = await $.put(`${this.pageConf.urlPrefix}`, this.details)
                }
                if (res.code === 0) {
                    noticeOk('Success')
                    this.detailsVisible = false
                    await this.getList(this.search.page)
                } else {
                    noticeError(res.msg)
                }
            },
            async onBatchDel(ids) {
                if (confirm("确定删除？")) {
                    let res = await $.delete(`${this.pageConf.urlPrefix}/batch?ids[]=` + ids.join('&ids[]='));
                    if (res.code === 0) {
                        await this.getList(this.search.page)
                        noticeOk('Success')
                        this.detailsVisible = false
                        this.list.forEach(i => i.delCheckBox = false)
                    } else {
                        noticeError(res.msg)
                    }
                }
            },
            batchDelCheckChange(v) {
                this.list.forEach(i => i.delCheckBox = v)
            },
            delBoxChange(i) {
                i.delCheckBox = !i.delCheckBox
            },
        },
        computed: {
            batchDelDisabled() {
                return this.list.filter(i => i.delCheckBox === true).length === 0
            }
        },
    })
    app.config.warnHandler = () => null
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>