<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {{include "/app/meta.html" .}}
    <title>Dict</title>
</head>
<body>
<div id="app" v-cloak>
    {{include "/app/top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div id="main">
                {{include "/app/nav.html" .}}
                <div class="box" id="page-title">
                    <div class="box-title">
                        {{include "/app/box_title.html" .}}
                    </div>
                    <form id="search" class="box-action">
                        <el-button type="primary" plain size="small" @click="showDetails(1)">添加</el-button>
                        <label class="input">K<input type="text" name="k" v-model="search.k" autocomplete="off" @keyup.enter="getList()"></label>
                        <label class="input">v<input type="text" name="v" v-model="search.v" autocomplete="off" @keyup.enter="getList()"></label>
                        <label class="input">desc<input type="text" name="desc" v-model="search.desc" autocomplete="off" @keyup.enter="getList()"></label>
                    </form>
                </div>
                <div class="box" id="data">
                    <table id="table" v-loading="loading" :element-loading-spinner="svg" element-loading-text="Loading..." element-loading-background="rgba(0, 0, 0, 0.3)" style="width: 100%">
                        <thead>
                        <tr>
                            <th width="40">ID</th>
                            <th width="80">分组</th>
                            <th width="80">K</th>
                            <th width="80">V</th>
                            <th width="80">描述</th>
                            <th width="80">类型</th>
                            <th width="80">状态</th>
                            <th width="160">创建时间</th>
                            <th width="160">更新时间</th>
                            <th width="190">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in list">
                            <td v-text="item.id">
                            <td>
                                <el-tag type="info" v-if="item.group==1">系统</el-tag>
                                <el-tag type="primary" v-else-if="item.group==2">网站</el-tag>
                                <el-tag type="info" v-else=>其他</el-tag>
                            </td>
                            <td v-text="item.k">
                            <td v-text="item.v">
                            <td v-text="item.desc">
                            <td>
                                <el-tag type="info" v-if="item.type==1">TEXT</el-tag>
                                <el-tag type="primary" v-else-if="item.type==2">IMG</el-tag>
                                <el-tag type="info" v-else-if="item.type=3">HTML</el-tag>
                            <td>
                                <el-tag v-if="item.status==1">启用</el-tag>
                                <el-tag type="danger" v-if="item.status==2">禁用</el-tag>
                            </td>
                            <td v-text="item.created_at">
                            <td v-text="item.updated_at">
                            <td class="table-action">
                                <el-button-group>
                                    <el-button type="primary" plain size="small" @click="showDetails(2,item.id)">编辑</el-button>
                                    <el-button type="success" plain size="small" @click="del(item.id)">删除</el-button>
                                </el-button-group>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    {{include "/app/pagination.html" .}}
                </div>
                {{include "/app/nav_bottom.html" .}}
            </div>

        </div>
    </div>
    <el-dialog v-model="detailsVisible" :title="detailsTitle" width="36%">
        <div class="details">
            <ul>
                <li><label class="input">K<input v-model="details.k"></label></li>
                <li><label class="input">v<textarea v-model="details.v"></textarea></label></li>
                <li><label class="input">desc<input v-model="details.desc"></label></li>
            </ul>
            <ul>
                <li>
                    <label class="input">GROUP<select v-model="details.group">
                        <option label="系统" :value="1"></option>
                        <option label="网站" :value="2"></option>
                        <option label="其他" :value="2"></option>
                    </select></label>
                </li>
                <li>
                    <label class="input">类型<select v-model="details.type">
                        <option label="TEXT" :value="1"></option>
                        <option label="IMG" :value="2"></option>
                        <option label="HTML" :value="3"></option>
                    </select></label>
                </li>
                <li>
                    <label class="input">状态<select v-model="details.status">
                        <option label="正常" :value="1"></option>
                        <option label="关闭" :value="2"></option>
                    </select></label>
                </li>
            </ul>
        </div>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="detailsVisible = false" size="small" plain>取消</el-button>
                <el-button type="primary" @click="onSubmit()" size="small" plain>提交</el-button>
            </div>
        </template>
    </el-dialog>
    {{include "/app/footer.html" .}}
</div>
</body>
<!-- import JavaScript -->
<script>
    const app = Vue.createApp({
        data() {
            return {
                detailsVisible: false,
                detailsTitle: '',
                list: JSON.parse('{{json .list}}'),
                details: {},
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "Dict",
                    desc: "这里是Dict管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/dict',
                },
                loading: false,
                total: 0,
                search: {page: 1, size: 15, status: ''},
                menus: JSON.parse(localStorage.getItem('menus')),
                dark: Cookies.get('dark'),
            }
        },
        watch: {
            dark() { // dark 变动后刷新一下从服务获取dark的css
                location.reload()
            }
        },
        created() {
            this.getList();
        },
        methods: {
            setDark() {
                Cookies.set('dark', this.dark);
            },
            sizeChange(size) {
                this.search.size = size;
                this.getList();
            },
            async getList(page) {
                this.search.page = page;
                this.loading = true;
                let res = await $.get(`${this.page.urlPrefix}/list`, this.search);
                const {currPage, totalCount, list} = res.data;
                this.search.page = currPage;
                this.total = totalCount
                this.list = list;
                this.loading = false
            },
            async del(id) {
                if (confirm("确定删除？")) {
                    let res = await $.delete(`${this.page.urlPrefix}/del?id=` + id);
                    if (res.code === 0) {
                        await this.getList()
                        noticeOk('Success')
                        this.detailsVisible = false
                    } else {
                        noticeError(res.msg)
                    }
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)

                }
                if (res.code === 0) {
                    noticeOk('Success')
                    this.detailsVisible = false
                    await this.getList()
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.detailsVisible = true
                this.showType = type
                this.details = {}
                this.detailsTitle = '添加操作'
                if (this.showType == 2) {
                    this.detailsTitle = '修改操作'
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
            },
        }
    })
    app.config.warnHandler = () => null
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>