<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="Content-Type" content="text/html;charset=utf-8">
    <title>代码生成</title>
    <link rel="stylesheet" href="/admin/resource/css/element-plus.css"/>
    <link href="/admin/resource/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/resource/css/font-awesome.min.css">
    <link rel="Shortcut Icon" href="/admin/cat.jpg" type="image/x-icon"/>
    <style>
        [v-cloak] {
            display: none;
        }

        .details li .input {
            display: flex !important;
            align-items: flex-start;
            justify-content: flex-end;
        }

        /* element ui */
        .el-dialog {
            border-radius: 12px !important;
            box-shadow: 0 6px 6px rgba(0, 0, 0, .1) inset !important;
            opacity: .96 !important;
            min-width: 300px;
        }

        .details {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .details ul {
            margin-top: 12px;
            border-collapse: collapse;
        }

        .details ul li {
            margin: 6px 0;
            padding-left: 6px;
            text-align: right;
        }

        .details ul li label {
            min-width: 224px;
            display: flex;
        }

        .details ul li label span {
            min-width: 54px;
            display: inline-block;
        }

        .details ul li input {
            margin-left: 3px;
            width: 136px;
        }

        .details ul li select {
            margin-left: 3px;
            width: 156px;
            border: 1px solid rgba(204, 204, 204, 0);
        }

        .table-item {
            display: block;
            cursor: pointer;
            border-radius: 12px;
            padding: 3px 12px;
            transition: all 0.5s ease;
        }

        .table-item:hover {
            text-decoration: none !important;
        }

        .table-list {
            position: absolute;
            top: 108px;
            left: -13%;
            max-height: 666px;
            overflow-y: hidden;
        }

        .table-list:hover {
            overflow-y: auto;
        }
    </style>
    {{if eq .Cookie.dark 1}}
    <link href="/admin/resource/css/dark.css" rel="stylesheet">
    <style>
        .table-item:hover, .table-item-active {
            background-color: #253761;
            color: #00a0e9;
        }

        /*element ui*/
        .el-dialog {
            background-color: var(--steelblue-06);
        }

        .el-dialog__title {
            color: var(--silver-01)
        }

        .el-scrollbar {
            background-color: var(--steelblue-08);
            box-shadow: none;
        }

        .el-pagination--small span:not([class*=suffix]) {
            margin-left: 12px;
        }

        .el-select__popper.el-popper[role=tooltip] {
            background: var(--el-color-white);
            border: 1px solid #292b2d;
            box-shadow: var(--el-box-shadow-light);
        }

        .el-select-dropdown__item:hover {
            background-color: var(--steelblue-06);
        }

        .el-select-dropdown__item.selected {
            color: var(--el-color-primary);
        }

        .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
            background-color: var(--steelblue-06);
        }

        .el-input__inner {
            background-color: var(--steelblue-08);
            outline: none;
            box-shadow: none;
            border-radius: 15px;
        }

        .el-input__inner:hover, .el-select .el-input__inner:focus {
            box-shadow: none !important;
        }

        .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
            background-color: #001d2552;
            color: var(--el-text-color-regular);
        }

        .el-pagination.is-background .el-pager li:not(.disabled).active {
            background-color: #212f3e;
            color: #1876ca;
        }

        .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev:disabled {
            color: var(--el-text-color-placeholder);
            background-color: #001d25;
        }

        .el-pagination--small span:not([class*=suffix]), .el-input__inner {
            color: #d2d2d2;
        }
    </style>
    {{else}}
    <link href="/admin/resource/css/white.css" rel="stylesheet">
    <style>
        .table-item:hover, .table-item-active {
            background-color: #f2f2f4;
            color: #00a0e9;
            font-weight: 500;
        }
    </style>
    {{end}}
</head>
<body>
<div id="app" v-cloak>
    {{include "/part/top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div id="wrapper-left" style="position: relative">
                <!--选择数据表-->
                <div class="box table-list">
                    <label class="input">
                        <span class="tag-info">请选择数据表</span>
                        <div v-model="genConf.T1">
                            <a class="mt-5 table-item " v-for="i,index in tables" :value="i" v-text="i" @click="getFields(i,index)" :class="[index==assistant.tableItemActive?'table-item-active':'']"></a>
                        </div>
                    </label>
                </div>
                {{include "/part/nav.html" .}}
                <div class="box no-bottom-border">
                    <div class="cell flex bg-dark color-white-1">
                        <img class=" s-icon-large mr-12" :src="pageConf.icon?pageConf.icon:'/resource/image/golang.png'" alt="Financial">
                        <div class="flex-1">
                            <div class="flex-between">
                                <div><a class="color-blue" href="{{.Config.home}}">FREE KEY</a> &nbsp;›&nbsp; 代码生成</div>
                            </div>
                            <div class="fs-13 mt-5">这里是代码生成页面</div>
                        </div>
                    </div>
                    <!--基本配置-->
                    <div class="cell">
                        <div class="mt-10">
                            <div class="flex-center">
                                <span class="tag-danger">基础配置</span>
                                <div>
                                    <label class="input">生成类型<select v-model="genConf.GenType">
                                        <option value="0">CURD</option>
                                        <option value="1">静态页面</option>
                                    </select></label>
                                    <label class="input" v-show="confShow()">展示状态 <select v-model="genConf.ShowStatus">
                                        <option value="0">是</option>
                                        <option value="1">否</option>
                                    </select></label>
                                </div>
                            </div>
                            <div class="flex-baseline">
                                <span class="tag-info">菜单信息</span>
                                <div class="flex-1">
                                    <label class="input">一级菜单
                                        <input v-model="genConf.MenuLevel1" list="menus">
                                        <datalist id="menus">
                                            <option v-for="i in menus" :value="i" v-text="i"></option>
                                        </datalist>
                                    </label>
                                    <label class="input">页面菜单 <input v-model="genConf.MenuLevel2"></label>
                                    <label class="input" v-show="confShow()">页面Logo <input v-model="genConf.MenuLogo"></label>
                                </div>
                            </div>
                            <div class="flex-baseline">
                                <span class="tag-primary">基本信息</span>
                                <div class="flex-1">
                                    <label class="input">页面分组 <input v-model="genConf.HtmlGroup"></label>
                                    <label class="input">结构体 <input v-model="genConf.StructName"></label>
                                    <label class="input" v-show="confShow()">页面名称 <input v-model="genConf.PageName"></label>
                                    <label class="input" v-show="confShow()">说明 <input v-model="genConf.PageDesc"></label>
                                    <label class="input" v-show="confShow()">页面图标 <input v-model="genConf.icon"></label>
                                    <label class="input" v-show="confShow()">排序规则 <input v-model="genConf.OrderBy"></label>
                                </div>
                            </div>
                            <div class="flex-center" v-show="confShow()">
                                <span class="tag-warning">关联查询</span>
                                <div class="flex-1">
                                    <label class="input">T1 <input v-model="genConf.T1"></label>
                                    <label class="input">T2 <input v-model="genConf.T2"></label>
                                    <label class="input">T3 <input v-model="genConf.T3"></label>
                                    <label class="input">T4 <input v-model="genConf.T4"></label>
                                    <label class="input">T5 <input v-model="genConf.T5"></label>
                                    <label class="input">T6 <input v-model="genConf.T6"></label>
                                    <label class="input">查询字段 <input v-model="genConf.QueryField"></label>
                                </div>
                            </div>
                            <div class="flex-center" v-show="confShow()">
                                <span class="tag-success">操作按钮</span>
                                <div>
                                    <label class="input">添加按钮 <select v-model="genConf.AddBtn">
                                        <option value="0">是</option>
                                        <option value="1">否</option>
                                    </select></label>
                                    <label class="input">修改按钮 <select v-model="genConf.UpdateBtn">
                                        <option value="0">是</option>
                                        <option value="1">否</option>
                                    </select></label>
                                    <label class="input">删除按钮 <select v-model="genConf.DelBtn">
                                        <option value="0">是</option>
                                        <option value="1">否</option>
                                    </select></label>
                                </div>
                            </div>
                            <input class="btn-warning mr-12" type="button" @click="submitGenCode()" value="生成代码">
                            <input v-show="confShow()" class="btn-info " @click="addRow()" type="button" value="添加一行">
                        </div>
                    </div>
                </div>
                <!--Fields-->
                <div class="box no-bottom-border">
                    <table class="table-1">
                        <tbody>
                        <tr>
                            <th>字段</th>
                            <th>标题</th>
                            <th>查询时字段名</th>
                            <th>备注</th>
                            <th>字段类型</th>
                            <th>展示</th>
                            <th>编辑时禁用</th>
                            <th>编辑时展示</th>
                            <th>是否必须</th>
                            <th>查询类型</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="i in fields">
                            <td v-text="i.Name"></td>
                            <td v-text="i.Label"></td>
                            <td v-text="i.QueryName"></td>
                            <td v-text="i.Comment"></td>
                            <td v-text="i.FieldType"></td>
                            <td>
                                <span v-if="i.Hide==0" class="tag-info">是</span>
                                <span v-else class="tag-warning">否</span>
                            </td>
                            <td>
                                <span v-if="i.Disabled==0" class="tag-info">否</span>
                                <span v-else class="tag-warning">是</span>
                            </td>
                            <td>
                                <span v-if="i.EditHide==0" class="tag-info">是</span>
                                <span v-else class="tag-warning">否</span>
                            </td>
                            <td>
                                <span v-if="i.Required==0" class="tag-info">否</span>
                                <span v-else class="tag-warning">是</span>
                            </td>
                            <td>
                                <span v-if="i.SearchType==0" class="tag-info">不查询</span>
                                <span v-else-if="i.SearchType==1" class="tag-primary">=</span>
                                <span v-else-if="i.SearchType==2" class="tag-primary">like</span>
                                <span v-else-if="i.SearchType==3" class="tag-primary">></span>
                                <span v-else-if="i.SearchType==4" class="tag-primary"><</span>
                                <span v-else-if="i.SearchType==5" class="tag-primary">>=</span>
                                <span v-else-if="i.SearchType==6" class="tag-primary"><=</span>
                                <span v-else-if="i.SearchType==7" class="tag-primary">!=</span>
                                <span v-else-if="i.SearchType==8" class="tag-primary">日期</span>
                                <span v-else-if="i.SearchType==9" class="tag-primary">日期(一天开始到结束)=</span>
                            </td>
                            <td>
                                <a class="tag-info mr-3" href="#" @click="showFieldDetails(i)"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                                <a class="tag-danger" href="#" @click="removeRow(i)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Field detail-->
                <el-dialog v-model="dialogVisible" title="编辑" width="36%">
                    <div class="details">
                        <ul>
                            <li><label class="input">字段名称 <input v-model="fieldDetail.Name" @keyup.enter="dialogVisible=false"></label></li>
                            <li><label class="input">标题 <input v-model="fieldDetail.Label" @keyup.enter="dialogVisible=false"> </label></li>
                            <li><label class="input">备注<input v-model="fieldDetail.Comment" @keyup.enter="dialogVisible=false"></label></li>
                            <li><label class="input">排序<input type="number" v-model="fieldDetail.Index" @keyup.enter="dialogVisible=false"></label></li>
                            <li><label class="input">查询字段<input v-model="fieldDetail.QueryName" @keyup.enter="dialogVisible=false"> </label>
                                <span class="tag-info">
                                    多表查询时，入参时的字段。eg: select t1.*, t2.ip
                                    from u_user t1
                                    left join u_login_log t2 on t1.id = t2.uid
                                    where t2.ip = 333
                                    这种情况下，查询字段为ip,字段名称为 t2.ip
                                </span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label class="input">字段类型 <select v-model="fieldDetail.FieldType">
                                    <option :value="'text'">文本</option>
                                    <option :value="'textarea'">文本域</option>
                                    <option :value="'select'">选项</option>
                                    <option :value="'number'">数字</option>
                                    <option :value="'img'">图片</option>
                                </select></label>
                            </li>
                            <li v-show="this.fieldDetail.FieldType==='select'">
                                <div class="input" style="display: flex;">
                                    <span>字段选项</span>
                                    <div style="flex:1">
                                        <div v-for="(i,index) in fieldDetail.Options">
                                            <input style="width: 52px" title="Name" placeholder="Name" v-model="fieldDetail.Options[index].Name">
                                            <input style="width: 52px" title="Value" placeholder="Value" v-model="fieldDetail.Options[index].Value">
                                            <select class="mr-3 mt-3" title="el-tag's type" style="width: 90px" placeholder="Type" v-model="fieldDetail.Options[index].Type">
                                                <option :value="'tag-info'">tag-info</option>
                                                <option :value="'tag-success'">tag-success</option>
                                                <option :value="'tag-primary'">tag-primary</option>
                                                <option :value="'tag-warning'">tag-warning</option>
                                                <option :value="'tag-brown'">tag-brown</option>
                                                <option :value="'tag-purple'">tag-warning</option>
                                                <option :value="'tag-danger'">tag-danger</option>
                                            </select>
                                            <a href="#" class=" tag-inherited" @click="addFieldOption(index)">+</a>
                                            <a href="#" class="tag-rare" @click="removeFieldOption(index)">-</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><label class="input">查询类型 <select v-model="fieldDetail.SearchType">
                                <option :value="0">不查询</option>
                                <option :value="1">=</option>
                                <option :value="2">like</option>
                                <option :value="3">></option>
                                <option :value="4"><</option>
                                <option :value="5">>=</option>
                                <option :value="6"><=</option>
                                <option :value="7">!=</option>
                                <option :value="8">date</option>
                                <option :value="9">date(start to end)</option>
                            </select></label>
                            </li>
                            <li>
                                <label class="input">编辑时展示
                                    <select v-model="fieldDetail.EditHide">
                                        <option :value="0">是</option>
                                        <option :value="1">否</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <label class="input">编辑时禁用
                                    <select v-model="fieldDetail.Disabled">
                                        <option :value="0">否</option>
                                        <option :value="1">是</option>
                                    </select>
                                </label>
                            </li>
                            <li><label class="input">展示 <select v-model="fieldDetail.Hide">
                                <option :value="0">是</option>
                                <option :value="1">否</option>
                            </select></label></li>
                            <li><label class="input">是否必须 <select v-model="fieldDetail.Required">
                                <option :value="1">是</option>
                                <option :value="0">否</option>
                            </select></label></li>
                        </ul>
                    </div>
                    <template #footer>
                        <div class="dialog-footer">
                            <input class="btn-info mr-12" @click="dialogVisible = false" type="button" value="取消">
                            <input class="btn-warning" @click="this.dialogVisible = false" type="button" value="确定">
                        </div>
                    </template>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/resource/js/vue.js"></script>
<script src="/resource/js/element-plus.js"></script>
{{include "/part/endJs.html" .}}
<script>
    const app = Vue.createApp({
        data() {
            return {
                pageConf: {
                    name: "代码生成",
                    desc: '这里是代码生成页面',
                    icon: "{{.data.icon}}",
                },
                assistant: {
                    tableItemActive: -1,
                },
                dialogVisible: false,
                tables: [],
                fields: [
                    {
                        Name: '',
                        Label: '', //  label is empty, use name
                        Comment: '',
                        FieldType: '', // select number text date datetime
                        QueryName: '',
                        Index: 0,
                        EditHide: 0,
                        Disabled: 0,
                        Hide: 0,
                        SelectType: 0, // 0 no,1 = ,2 like,3 >, 4 <, 5>=,6 <=,7 !=,8 date,9 date(start to end)
                        Required: 0,
                        Options: [
                            {
                                Name: '',
                                Value: '',
                                Type: 'tag-info', // primary info success warning danger
                            }
                        ]
                    }
                ],
                fieldDetail: {},
                genConf: {
                    T1: '', T2: '', T3: '', T4: '', T5: '', T6: '',
                    Icon: '',
                    StructName: '',
                    HtmlGroup: '',
                    PageName: '',
                    PageDesc: '',
                    UrlPrefix: '',
                    AddBtn: 0,
                    UpdateBtn: 0,
                    DelBtn: 0,
                    ShowStatus: 0,
                    OrderBy: '',
                    QueryField: '',
                    GenType: 0,
                },
                menus: [],
            }
        },
        watch: {
            fields: {
                handler(val) {
                    this.fields = val.sort((a, b) => a.Index - b.Index)
                },
                deep: true
            },
            fieldDetail: {
                handler(val) {
                    console.log(typeof val.Options)
                }
            }
        },
        created() {
            this.fields = []
            this.getTables()
            this.getMenus()
        },
        methods: {
            confShow() {
                return this.genConf.GenType == 0
            },
            async getMenus() {
                let res = await $.get("/admin/menu/level1")
                this.menus = res.data
            },
            async getTables() {
                let res = await $.get('/gen/tables')
                this.tables = res.data
            },
            async getFields(table, index) {
                this.genConf = {
                    T1: '', T2: '', T3: '', T4: '', T5: '', T6: '',
                    Icon: '',
                    StructName: '',
                    HtmlGroup: '',
                    PageName: '',
                    PageDesc: '',
                    UrlPrefix: '',
                    AddBtn: 0,
                    UpdateBtn: 0,
                    DelBtn: 0,
                    ShowStatus: 0,
                    OrderBy: '',
                    QueryField: '',
                    GenType: 0,
                }
                this.assistant.tableItemActive = index
                if (table === '') {
                    return
                }
                this.genConf.T1 = table
                let res = await $.get('/gen/fields', {table: table})
                if (res.code !== 0) {
                    alert(res.msg)
                    return
                }
                this.fields = []
                for (let i in res.data) {
                    let d = res.data[i]
                    d.Label = d.Comment ? d.Comment : d.Name
                    d.FieldType = 'text'
                    d.QueryName = d.Name
                    d.EditHide = 0
                    d.Hide = 0
                    d.Disabled = 0
                    d.SearchType = 0
                    d.Required = 0
                    d.Options = [{Name: '正常', Value: '1', Type: 'tag-info'}, {Name: '禁用', Value: '2', Type: 'tag-danger'},]
                    switch (d.Name) {
                        case "created_at":
                        case "updated_at":
                        case "id":
                        case "pwd":
                            d.EditHide = 1
                            break
                        case "status":
                            d.FieldType = 'select'
                            break
                    }
                    switch (d.Name) {
                        case "pwd":
                        case "password":
                            d.Hide = 1
                            break
                    }
                    this.fields.push(d)
                }
                let t = this.genConf.T1
                this.genConf.PageDesc = `这里是${t.substring(t.indexOf('_') + 1)}页面可以对数据进行相应的操作。`
                this.genConf.HtmlGroup = t.substring(0, t.indexOf('_'));
                this.genConf.StructName = t.substring(t.indexOf('_') + 1);
                this.genConf.PageName = t.substring(t.indexOf('_') + 1);
                this.genConf.OrderBy = "t1.id desc"
                this.genConf.QueryField = "t1.*"
            },
            async submitGenCode() {
                for (let i = 0; i < this.fields.length; i++) {
                    let arr = []
                    if (typeof this.fields[i].Options === "object") {
                        this.fields[i].Options.forEach(j => arr.push(j.Value + ":" + j.Name + ":" + j.Type))
                        this.fields[i].Options = arr.join(",")
                    }
                }
                let data = {'genConf': this.genConf, 'fields': this.fields}
                let res = await $.post("/gen", data)
                if (res.code !== 0) {
                    alert(res.msg)
                } else {
                    alert('代码生成成功')
                }
            },
            showFieldDetails(i) {
                this.fieldDetail = i
                this.dialogVisible = true
                if (typeof this.fieldDetail.Options == "string") {
                    this.fieldDetail.Options = [
                        {Name: '正常', Value: "1", Type: "tag-info"},
                        {Name: '禁用', Value: "2", Type: "tag-danger"},
                    ]
                }
            },
            addRow() {
                this.fields.push(
                    {
                        Name: '',
                        Label: '', //  label is empty, use name
                        Comment: '',
                        FieldType: 'text', // select number text date datetime
                        QueryName: '',
                        Index: this.fields.length,
                        EditHide: 0,
                        Disabled: 0,
                        Hide: 0,
                        SearchType: 0, // 0 no,1 = ,2 like,3 >, 4 <, 5>=,6 <=,7 !=,8 date,9 date(start to end)
                        Options: [
                            {
                                Name: '',
                                Value: '',
                                Type: 'tag-info', // primary info success warning danger
                            }
                        ]
                    }
                )
            },
            removeRow(i) {
                this.fields.map((item, index) => {
                    if (item.Name === i.Name) {
                        this.fields.splice(index, 1)
                    }
                })
            },
            addFieldOption(index) {
                if (typeof this.fieldDetail.Options == "string") {
                    this.fieldDetail.Options = []
                }
                this.fieldDetail.Options.splice(index + 1, 0, {
                    Name: '',
                    Value: '',
                    Type: 'tag-info', // primary info success warning danger
                })
            },
            removeFieldOption(i) {
                if (typeof this.fieldDetail.Options == "string") {
                    this.fieldDetail.Options = []
                }
                if (this.fieldDetail.Options.length === 1) {
                    alert('至少要有一个选项')
                    return
                }
                this.fieldDetail.Options.map((item, index) => {
                    if (i === index) {
                        this.fieldDetail.Options.splice(index, 1)
                    }
                })
            },
        }
    })
    app.config.warnHandler = () => null
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>