<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{include "/app2/1.meta.html" .}}
</head>
<body>
<div id="app" v-cloak>
    {{include "/app2/2.top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div class="wrapper-left">
                {{include "/app2/3.nav.html" .}}
                <div class="box no-bottom-border">
                    {{include "/app2/4.basePageInfo.html" .}}
                    <div class="cell">
                        <el-button class="mr-12" type="primary" plain size="small" @click="getTables()">查询数据表</el-button>
                        <div class="mt-10">
                            <el-tag type="info" size="small">基本信息</el-tag>
                            <label class="input">分组 <input v-model="genConf.HtmlGroup"></label>
                            <label class="input">结构体 <input v-model="genConf.StructName"></label>
                            <label class="input">页面名称 <input v-model="genConf.PageName"></label>
                            <label class="input">说明 <input v-model="genConf.PageDesc"></label>
                            <label class="input">查询字段 <input v-model="genConf.QueryField"></label>
                            <label class="input">排序规则 <input v-model="genConf.OrderBy"></label>
                            <br>
                            <el-tag type="warning" size="small">关联查询</el-tag>
                            <label class="input">T1 <input v-model="genConf.Table"></label>
                            <label class="input">T2 <input v-model="genConf.T2"></label>
                            <label class="input">T3 <input v-model="genConf.T3"></label>
                            <label class="input">T4 <input v-model="genConf.T4"></label>
                            <label class="input">T5 <input v-model="genConf.T5"></label>
                            <label class="input">T6 <input v-model="genConf.T6"></label>
                            <br>
                            <el-tag type="success" size="small">操作按钮</el-tag>
                            <label class="input">添加按钮 <select v-model="genConf.AddBtn">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select></label>
                            <label class="input">修改按钮 <select v-model="genConf.UpdateBtn">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select></label>
                            <label class="input">删除按钮 <select v-model="genConf.DelBtn">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select></label>
                        </div>
                    </div>
                </div>
                <div class="box no-bottom-border">
                    <table class="table-1">
                        <tbody>
                        <tr>
                            <th>字段</th>
                            <th>标题</th>
                            <th>备注</th>
                            <th>字段类型</th>
                            <th>展示</th>
                            <th>编辑时隐藏</th>
                            <th>查询类型</th>
                            <th>查询时字段名</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="i in fields">
                            <td v-text="i.Name"></td>
                            <td v-text="i.Label"></td>
                            <td v-text="i.Comment"></td>
                            <td v-text="i.FieldType"></td>
                            <td>
                                <el-tag v-if="i.NotShow==0" size="small" type="info">是</el-tag>
                                <el-tag v-else size="small" type="warning">否</el-tag>
                            </td>
                            <td>
                                <el-tag v-if="i.EditHide==0" size="small" type="info">否</el-tag>
                                <el-tag v-else size="small" type="warning">是</el-tag>
                            </td>
                            <td>
                                <el-tag v-if="!i.SelectType" size="small" type="info">不查询</el-tag>
                                <el-tag v-else-if="i.SelectType==1" size="small" type="info">=</el-tag>
                                <el-tag v-else-if="i.SelectType==2" size="small" type="info">like</el-tag>
                                <el-tag v-else-if="i.SelectType==3" size="small" type="info">></el-tag>
                                <el-tag v-else-if="i.SelectType==4" size="small" type="info"><</el-tag>
                                <el-tag v-else-if="i.SelectType==5" size="small" type="info">>=</el-tag>
                                <el-tag v-else-if="i.SelectType==6" size="small" type="info"><=</el-tag>
                                <el-tag v-else-if="i.SelectType==7" size="small" type="info">!=</el-tag>
                                <el-tag v-else-if="i.SelectType==8" size="small" type="info">日期</el-tag>
                                <el-tag v-else-if="i.SelectType==9" size="small" type="info">日期(一天开始到结束)=</el-tag>
                            </td>
                            <td v-text="i.QueryName"></td>
                            <td class="table-action">
                                <el-button-group>
                                    <el-button type="primary" plain size="small" @click="showFieldDetails(item)">编辑</el-button>
                                    <el-button type="success" plain size="small" @click="del(item)">删除</el-button>
                                </el-button-group>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <el-dialog v-model="dialogVisible" title="选择数据表" width="26%">
        <div class="details">
            <ul>
                <li>
                    <label class="input">
                        <span>数据表</span>
                        <select v-model="genConf.Table" @change="getFields()">
                            <option value="">请选择</option>
                            <option v-for="i in tables" :value="i" v-text="i"></option>
                        </select>
                    </label>
                </li>
            </ul>
        </div>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="dialogVisible = false" size="small" plain>取消</el-button>
                <el-button type="primary" @click="getFields()" size="small" plain>确定</el-button>
            </div>
        </template>
    </el-dialog>
</div>
</body>
{{include "/app2/8.footer_no_dialog.html" .}}
{{include "/app2/z.footerJs.html" .}}
<script>
    const app = Vue.createApp({
        data() {
            return {
                pageConf: {
                    name: "代码生成",
                    desc: '这里是代码生成页面',
                    icon: "{{.data.icon}}",
                },
                tables: [],
                dialogVisible: false,
                fields: [
                    {
                        Name: '',
                        Label: '', //  label is empty, use name
                        Comment: '',
                        FieldType: '', // select number text date datetime
                        EditHide: 0,
                        NotShow: 0,
                        SelectType: 0, // 0 no,1 = ,2 like,3 >, 4 <, 5>=,6 <=,7 !=
                        QueryName: '',
                        Sort: 0,
                        Options: [
                            {
                                Name: '',
                                Value: '',
                                Type: '', // primary info success warning danger
                            }
                        ]
                    }
                ],
                genConf: {
                    Table: '',
                    StructName: '',
                    HtmlGroup: '',
                    PageName: '',
                    PageDesc: '',
                    UrlPrefix: '',
                    AddBtn: 0,
                    UpdateBtn: 0,
                    DelBtn: 0,
                    T2: '',
                    T3: '',
                    T4: '',
                    T5: '',
                    T6: '',
                    OrderBy: '',
                    QueryField: '',
                }
            }
        },
        created() {
            this.fields = []
        },
        methods: {
            async getTables() {
                let res = await $.get('/gen/tables')
                this.tables = res.data
                this.dialogVisible = true
            },
            async getFields() {
                this.dialogVisible = false
                let res = await $.get('/gen/fields', {table: this.genConf.Table})
                if (res.code !== 0) {
                    noticeError(res.msg)
                    return
                }
                this.fields = []
                for (let i in res.data) {
                    let d = res.data[i]
                    d.Label = d.Comment ? d.Comment : d.Name
                    d.FieldType = 'text'
                    d.EditHide = 0
                    d.NotShow = 0
                    d.SearchType = 0
                    this.fields.push(d)
                }
                let t = this.genConf.Table
                this.genConf.PageDesc = `这里是${t}页面可以对数据进行相应的操作。`
                this.genConf.HtmlGroup = t.substring(0, t.indexOf('_'));
                this.genConf.StructName = t.substring(t.indexOf('_') + 1);
                this.genConf.PageName = t.substring(t.indexOf('_') + 1);
                this.genConf.OrderBy = "t1.id desc"
                this.genConf.QueryField = "t1.*"
            }
        }
    })
    app.config.warnHandler = () => null
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>