<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="Content-Type" content="text/html;charset=utf-8">
    {{include "/app/meta.html" .}}
    <title>Menu</title>
</head>
<body>
{{include "/app/top.html" .}}
<div id="wrapper" v-cloak>
    <div class="w">
        <div id="main">
            {{include "/app/nav.html" .}}
            <div class="box" id="page-title">
                <div class="box-title">
                    <img src="/resource/image/golang.png" width="64" alt="Menu">
                    <div>
                        <div class="breadcrumb">
                            <a href="/"> ADMIN</a>
                            <span class="chevron">&nbsp;›&nbsp;</span>
                            <span v-text="page.name"></span>
                        </div>
                        <div class="intro" v-text="page.desc"></div>
                    </div>
                </div>
                <form action="{{.c.PageUrl}}" method="get" id="search">
                    <div class="box-action">
                        <input type="button" class="button" value="添加" @click="showDetails(1)">
                        <span>PID</span> <input v-model="searchData.pid" autocomplete="off" @keyup.enter="onSearch">
                        <span>菜单名</span> <input v-model="searchData.name" autocomplete="off" @keyup.enter="onSearch">
                    </div>
                </form>
            </div>
            <div class="box" id="data" v-show="showType==0">
                <table id="table">
                    <tbody>
                    <tr>
                        <th width="40">ID</th>
                        <th>PID</th>
                        <th>角色名</th>
                        <th>菜单名</th>
                        <th>类型</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="item in list">
                        <td v-text="item.id">
                        <td v-text="item.pid">
                        <td v-text="item.name">
                        <td v-text="item.path">
                        <td v-text="filterType(item.type)">
                        <td v-text="item.sort">
                        <td v-text="filterStatus(item.status)">
                        <td class="table-action">
                            <a href="#" @click="showDetails(2,item.id)">编辑</a>
                            <a href="#" @click="del(item.id)">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {{include "/app/pagination.html" .}}
            </div>
            <form class="box details-form" v-show="showType==1||showType==2">
                <ul>
                    <h2>基本信息</h2>
                    <li><input hidden name="id"></li>
                    <li><span>PID</span><input autocomplete="off" type="number" v-model="details.pid"></li>
                    <li><span>名称</span><input autocomplete="off" name="name" v-model="details.name"></li>
                    <li><span>路径</span><input autocomplete="off" name="path" v-model="details.path"></li>
                    <li><span>排序</span><input autocomplete="off" type="number" step="0.01" v-model="details.sort"></li>
                    <li>
                        <span>类型</span>
                        <select name="type" v-model="details.type">
                            <option>请选择</option>
                            <option value="2">分组</option>
                            <option value="1">菜单</option>
                        </select>
                    </li>
                    <li>
                        <span>状态</span>
                        <select name="status" v-model="details.status">
                            <option>请选择</option>
                            <option value="1">启用</option>
                            <option value="2">禁用</option>
                        </select>
                    </li>
                </ul>
                <div class="form-action">
                    <input type="button" class="button" value="返回" @click="showMain()">
                    <input type="button" class="button" value="提交" @click="onSubmit()">
                </div>
            </form>
        </div>
        <div id="right-bar">
            <div class="box">
                {{include "/app/nav_right.html" .}}
            </div>
        </div>
    </div>
</div>
{{include "/app/footer.html" .}}
</body>
<script>
    Vue.createApp({
        data() {
            return {
                list: JSON.parse('{{json .list}}'),
                details: {},
                searchData: {
                    pid: '{{.Query.pid}}',
                    name: '{{.Query.name}}',
                },
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "Menu",
                    desc: "这里是角色菜单权限管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/menu',
                }
            }
        },
        methods: {
            del(id) {
                if (confirm("确定删除？")) {
                    $.delete(`${this.page.urlPrefix}/del?id=` + id, (res) => {
                        if (res.code === 0) {
                            noticeOk('Success')
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        } else {
                            noticeError(res.msg)
                        }
                    });
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)

                }
                if (res.code === 0) {
                    noticeOk('Success')
                    setTimeout(() => location.reload(), 1000)
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.showType = type
                this.details = {}
                if (this.showType == 2) {
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
            },
            showMain() {
                this.showType = 0
            },
            onSearch() {
                this.searchData.page = 1
                location.href = `${this.page.urlPrefix}/list?` + $.param(this.searchData)
            },
            filterStatus(s) {
                return +s == 1 ? "启用" : "禁用"
            },
            filterType(s) {
                return +s == 1 ? "菜单" : "分组"
            },
        }
    }).mount('#wrapper')
</script>

</html>