<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <link rel="stylesheet" href="/resource/css/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<div id="app" v-cloak>
    <div class="nav">
        <a href="#" id="logo" class="waves-effect waves-light  btn-flat">Ciel</a>
        <ul class="box">
            <li>
                <span>系统</span>
                <ul>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">菜单</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">API</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">角色</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>系统</span>
                <ul>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">菜单</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">API</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">角色</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>系统</span>
                <ul>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">菜单</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">API</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">角色</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>系统</span>
                <ul>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">菜单</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">API</a>
                    </li>
                    <li class="waves-effect waves-light btn-flat">
                        <div style="background-image: url('/resource/image/golang.png');"></div>
                        <a href="#">角色</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="top">
            <div class="top-title-section">
                <img src="/resource/image/golang.png">
                <div>
                    <div>
                        <a href="/">CIEL ADMIN</a>
                        <span class="chevron">&nbsp;›&nbsp;</span>
                        Menu
                    </div>
                    <div>
                        这里是Menu管理页面,可以对菜单进行添加,修改,删除等操作。
                    </div>
                </div>
            </div>
            <form class="top-action">
                <a href="#" class="waves-effect waves-light btn-flat">添加</a>
                <label>名称<input type="text"></label>
                <label>URL<input type="text"></label>
            </form>
        </div>
        <div class="main">

        </div>
    </div>
    <div class="footer"></div>
</div>
<!--<iframe width="950" height="534"-->
<!--        src="https://www.youtube.com/embed/8sJk9AE82kc" title="YouTube video player" frameborder="0"-->
<!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--        allowfullscreen>-->
<!--</iframe>-->
</body>
<!-- import JavaScript -->
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/element-plus"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                list: JSON.parse('{{json .list}}'),
                details: {},
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "Menu",
                    desc: "这里是角色菜单权限管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/menu',
                }
            }
        },
        methods: {
            del(id) {
                if (confirm("确定删除？")) {
                    $.delete(`${this.page.urlPrefix}/del?id=` + id, (res) => {
                        if (res.code === 0) {
                            noticeOk('Success')
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        } else {
                            noticeError(res.msg)
                        }
                    });
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)

                }
                if (res.code === 0) {
                    noticeOk('Success')
                    setTimeout(() => location.reload(), 1000)
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.showType = type
                this.details = {}
                if (this.showType == 2) {
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
            },
            showMain() {
                this.showType = 0
            },
        }
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>