<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css"/>
    <link rel="stylesheet" href="/resource/css/apple.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="nav">
        <div class="box box-bg-1 nav-title ">
            <img src="/resource/image/golang.png" alt="">
            <section>
                <a href="#">Ciel</a>
                <p>Welcome admin</p>
            </section>
        </div>
        <ul>
            {{range .Session.adminInfo.Menus}}
            <li class="box box-bg-1">
                <span class="box-title">{{.name}}</span>
                <ul>
                    {{range .Children}}
                    <li>
                        <img src="/resource/image/golang.png" alt="">
                        <a href="{{.path}}" class="hr">{{.name}}</a>
                    </li>
                    {{end}}
                </ul>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="page">
        <div class="box box-bg-2 page-header">
            <div class="page-header-info">
                <img class="page-log" src="/resource/image/golang.png" alt="img">
                <div>
                    <div>
                        <a href="/">CIEL ADMIN</a>
                        <span class="chevron">&nbsp;›&nbsp;</span>
                        Menu
                    </div>
                    <div class="title-desc">
                        这里是Menu管理页面,可以对菜单进行添加,修改,删除等操作。
                    </div>
                </div>
            </div>
        </div>
        <div class="main box box-bg-2">
            <form class="page-header-action">
                <el-button type="primary" plain size="small" @click="showDetails(1)">添加</el-button>
                <label class="input">名称<input type="text"></label>
                <label class="input">地址<input type="text"></label>
                <label class="input">状态<select>
                    <option value="">请选择</option>
                    <option value="">类型2</option>
                    <option value="">类型3</option>
                </select></label>
            </form>
            <table>
                <thead>
                <tr>
                    <th width="40">ID</th>
                    <th>PID</th>
                    <th>角色名</th>
                    <th>菜单名</th>
                    <th>类型</th>
                    <th>排序</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td v-text="item.id">
                    <td v-text="item.pid">
                    <td v-text="item.name">
                    <td v-text="item.path">
                    <td>
                        <el-tag v-if="item.type==1" type="info" size="small">菜单</el-tag>
                        <el-tag v-if="item.type==2" type="warning" size="small">分组</el-tag>
                    </td>
                    <td v-text="item.sort">
                    <td>
                        <el-tag v-if="item.status==1">启用</el-tag>
                        <el-tag type="danger" v-if="item.status==2">禁用</el-tag>
                    </td>
                    <td class="table-action">
                        <el-button-group>
                            <el-button type="primary" plain size="small" @click="showDetails(2,item.id)">编辑</el-button>
                            <el-button type="success" plain size="small" @click="del(item.id)">删除</el-button>
                        </el-button-group>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer">
                {{.page}}
                <form method="get" class="pagination-form">
                    <label class="input">
                        <select name="size"
                                style="padding: 3px 8px;"
                                class="select"
                                onchange=" location.href = '{{.c.PageUrl}}?' + $('#search').serialize()+`&size=`+$(this).val();">
                            <option value="15">分页</option>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="100">200</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
    </div>
    <div class="footer"></div>
    <el-dialog v-model="outerVisible" title="菜单操作" width="30%">
        <div class="details">
            <ul>
                <li><label class="input">名称<input type="text" v-model="details.name"></label></li>
                <li><label class="input">路径<input type="text" v-model="details.path"></label></li>
                <li><label class="input">路径<input type="text" v-model="details.pid"></label></li>
                <li><label class="input">排序<input type="number" v-model="details.sort"></label></li>
            </ul>
            <ul>
                <li>
                    <label class="input">类型<select v-model="details.type">
                        <option label="菜单" :value="1"></option>
                        <option label="分组" :value="2"></option>
                    </select></label>
                </li>
                <li>
                    <label class="input">状态<select v-model="details.status">
                        <option label="正常" :value="1"></option>
                        <option label="关闭" :value="2"></option>
                    </select></label>
                </li>
            </ul>
        </div>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="outerVisible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit()">提交</el-button>
            </div>
        </template>
    </el-dialog>
</div>
</body>
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/element-plus"></script>
<script src="/resource/js/notify.min.js"></script>
<script src="/resource/js/app.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                outerVisible: false,
                list: JSON.parse('{{json .list}}'),
                details: {},
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "Menu",
                    desc: "这里是角色菜单权限管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/menu',
                }
            }
        },
        methods: {
            del(id) {
                if (confirm("确定删除？")) {
                    $.delete(`${this.page.urlPrefix}/del?id=` + id, (res) => {
                        if (res.code === 0) {
                            noticeOk('Success')
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        } else {
                            noticeError(res.msg)
                        }
                    });
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)

                }
                if (res.code === 0) {
                    this.outerVisible = false
                    noticeOk('Success')
                    setTimeout(() => location.reload(), 1000)
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.outerVisible = true
                this.showType = type
                this.details = {}
                if (this.showType == 2) {
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
            },
            showMain() {
                this.showType = 0
            },
        }
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>