<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <link rel="stylesheet" href="/resource/css/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<div id="app" v-cloak>
    <div class="top">
        <div class="w">
            <a href="#" id="logo" class="waves-effect waves-light   btn-flat">Ciel</a>
            <button class="waves-effect waves-light light-blue-text  btn-flat menu">
                ADMIN
                <ul class="menu-sub collection">
                    <li class="collection-item"><a href="#">修改密码</a></li>
                    <li class="collection-item"><a href="#">退出</a></li>
                </ul>
            </button>
        </div>
    </div>
    <div class="wrapper">
        <div class="left">
            123
        </div>
        <div class="main"></div>
    </div>
    <div class="footer"></div>
</div>
<!--<iframe width="950" height="534"-->
<!--        src="https://www.youtube.com/embed/8sJk9AE82kc" title="YouTube video player" frameborder="0"-->
<!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--        allowfullscreen>-->
<!--</iframe>-->
</body>
<!-- import JavaScript -->
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/element-plus"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                list: JSON.parse('{{json .list}}'),
                details: {},
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "Menu",
                    desc: "这里是角色菜单权限管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/menu',
                }
            }
        },
        methods: {
            del(id) {
                if (confirm("确定删除？")) {
                    $.delete(`${this.page.urlPrefix}/del?id=` + id, (res) => {
                        if (res.code === 0) {
                            noticeOk('Success')
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        } else {
                            noticeError(res.msg)
                        }
                    });
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)

                }
                if (res.code === 0) {
                    noticeOk('Success')
                    setTimeout(() => location.reload(), 1000)
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.showType = type
                this.details = {}
                if (this.showType == 2) {
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
            },
            showMain() {
                this.showType = 0
            },
        }
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>