<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #app {
            display: flex;
        }

        #left {
            width: 10%;
            background-color: #f5f5f5;
            float: left;
        }

        #right {
            width: 80%;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <top>
    </top>
    <div id="left">
    </div>
    <div id="right">
    </div>

</div>
</body>
<!-- import JavaScript -->
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/element-plus"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                list: JSON.parse('{{json .list}}'),
                details: {},
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "Menu",
                    desc: "这里是角色菜单权限管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/menu',
                }
            }
        },
        methods: {
            del(id) {
                if (confirm("确定删除？")) {
                    $.delete(`${this.page.urlPrefix}/del?id=` + id, (res) => {
                        if (res.code === 0) {
                            noticeOk('Success')
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        } else {
                            noticeError(res.msg)
                        }
                    });
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)

                }
                if (res.code === 0) {
                    noticeOk('Success')
                    setTimeout(() => location.reload(), 1000)
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.showType = type
                this.details = {}
                if (this.showType == 2) {
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
            },
            showMain() {
                this.showType = 0
            },
        }
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>