<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {{include "/app/meta.html" .}}
    <title>RoleApi</title>
</head>
<body>
<div id="app" v-cloak>
    {{include "/app/top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div id="main">
                <div class="box" id="page-title">
                    <div class="box-title">
                        {{include "/app/box_title.html" .}}
                    </div>
                    <form id="search" class="box-action">
                        <el-button type="info" plain size="small" @click="goto('/role/path')">返回</el-button>
                        <el-button type="primary" plain size="small" @click="showDetails(1)">添加</el-button>
                    </form>
                </div>
                <div class="box" id="data">
                    <table id="table">
                        <thead>
                        <tr>
                            <th width="40">ID</th>
                            <th>角色名</th>
                            <th>URL</th>
                            <th>分组</th>
                            <th>方法</th>
                            <th>DESC</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in list">
                            <td v-text="item.id">
                            <td v-text="item.r_name">
                            <td v-text="item.url">
                            <td v-text="item.group">
                            <td v-text="item.method">
                            <td v-text="item.desc">
                            <td class="table-action">
                                <el-button-group>
                                    <el-button type="success" plain size="small" @click="del(item.id)">删除</el-button>
                                </el-button-group>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {{include "/app/pagination.html" .}}
                </div>
            </div>

        </div>
    </div>
    <el-dialog v-model="detailsVisible" :title="detailsTitle" width="36%">
        <form class="details details-form">
            <ul>
                <li><label class="input">角色ID<input type="text" value="{{.Query.rid}}" name="rid"></label></li>
                <li><label class="input">API<select name="aid[]" id="aid-select" multiple style="height: 230px"></select></label></li>
            </ul>
        </form>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="detailsVisible = false" size="small" plain>取消</el-button>
                <el-button type="primary" @click="onSubmit()" size="small" plain>提交</el-button>
            </div>
        </template>
    </el-dialog>
    {{include "/app/footer.html" .}}
</div>
</body>
<!-- import JavaScript -->
<script>
    const app = Vue.createApp({
        data() {
            return {
                detailsVisible: false,
                detailsTitle: '',
                details: {},
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "RoleApi",
                    desc: "这里是RoleApi管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/roleApi',
                },
                list: [],
                loading: false,
                total: 0,
                search: {page: 1, size: 15, rid: '{{.Qeury.rid}}'},
            }
        },
        created() {
            this.getList();
        },
        methods: {
            goto(url) {
                location.href = url;
            },
            sizeChange(size) {
                this.search.size = size;
                this.getList();
            },
            async getList(page) {
                this.search.page = page;
                this.loading = true;
                let res = await $.get(`${this.page.urlPrefix}/list`, this.search);
                const {currPage, totalCount, list} = res.data;
                this.search.page = currPage;
                this.total = totalCount
                this.list = list;
                this.loading = false
            },
            async del(id) {
                if (confirm("确定删除？")) {
                    let res = await $.delete(`${this.page.urlPrefix}/del?id=` + id);
                    if (res.code === 0) {
                        await this.getList()
                        noticeOk('Success')
                        this.detailsVisible = false
                    } else {
                        noticeError(res.msg)
                    }
                }
            },

            async onSubmit() {
                let data = $(".details-form").serialize()
                $.post(`${this.page.urlPrefix}/post`, data, async (res) => {
                    if (res.code === 0) {
                        noticeOk('Success')
                        this.detailsVisible = false
                        await this.getList()
                    } else {
                        noticeError(res.msg)
                    }
                });
            },
            async showDetails(type, id) {
                this.detailsVisible = true
                this.showType = type
                this.details = {}
                this.detailsTitle = '添加操作'
                $.get('/role/noapis?rid={{.Query.rid}}', function (res) {
                    if (res.data) {
                        let options = ''
                        res.data.forEach(item => {
                            options += `<option value='${item.id}'>${item.group}-${item.method}-${item.url}- ${item.desc}</option>`
                        })
                        $('#aid-select').html(options)
                    }
                })
            },
        }
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>