<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
    {{include "/app/meta.html" .}}
</head>
<body>
<div id="app" v-cloak>
    <div class="nav">
        {{include "/app/nav.html" .}}
    </div>
    <div class="page">
        <div class="box box-bg-2 page-header">
            {{include "/app/page-header.html" .}}
        </div>
        <div class="main box box-bg-2">
            <form class="page-header-action" id="search">
                <el-button type="primary" plain size="small" @click="showDetails(1)">添加</el-button>
            </form>
            <table>
                <thead>
                <tr>
                    <th width="40">ID</th>
                    <th>名称</th>
                    <th width="160">创建时间</th>
                    <th width="160">更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td v-text="item.id">
                    <td v-text="item.name"></td>
                    <td v-text="item.created_at">
                    <td v-text="item.updated_at">
                    <td class="table-action">
                        <el-button-group>
                            <el-button type="success" size="small" @click="goto('/roleMenu/list?rid='+item.id)">Menu</el-button>
                            <el-button type="warning" size="small" @click="goto('/roleApi/list?rid='+item.id)">API</el-button>
                            <el-button type="primary" plain size="small" @click="showDetails(2,item.id)">编辑</el-button>
                            <el-button type="success" plain size="small" @click="del(item.id)">删除</el-button>
                        </el-button-group>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer">
                {{include "/app/pagination2.html" .}}
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <el-dialog v-model="detailsVisible" :title="detailsTitle" width="30%">
        <div class="details">
            <ul>
                <li><label class="input">名称<input v-model="details.name"></label></li>
            </ul>
        </div>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="detailsVisible = false" size="small" plain>取消</el-button>
                <el-button type="primary" @click="onSubmit()" size="small" plain>提交</el-button>
            </div>
        </template>
    </el-dialog>
</div>
</body>
{{include "/app/footerjs.html" .}}
<script>
    const app = Vue.createApp({
        data() {
            return {
                detailsVisible: false,
                detailsTitle: '',
                list: JSON.parse('{{json .list}}'),
                details: {},
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "Role",
                    desc: "这里是Role管理页面,可以对菜单进行添加,修改,删除等操作。",
                    urlPrefix: '/role',
                }
            }
        },
        methods: {
            goto(url) {
                location.href = url;
            },
            async del(id) {
                if (confirm("确定删除？")) {
                    let res = await $.delete(`${this.page.urlPrefix}/del?id=` + id);
                    if (res.code === 0) {
                        this.detailsVisible = false
                        noticeOk('Success')
                        setTimeout(() => location.reload(), 1000)
                    } else {
                        noticeError(res.msg)
                    }
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)
                }
                if (res.code === 0) {
                    this.detailsVisible = false
                    noticeOk('Success')
                    setTimeout(() => location.reload(), 1000)
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.showType = type
                this.details = {}
                this.detailsTitle = '添加操作'
                if (this.showType == 2) {
                    this.detailsTitle = '修改操作'
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
                this.detailsVisible = true
            },
        }
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>