<!DOCTYPE html>
<html lang="zh">
<head>
    {{include "/app/1.meta.html" .}}
</head>
<body>
<div id="app" v-cloak>
    <!--top模块-->
    {{include "/app/2.top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div class="wrapper-left">
                <!--导航栏模块-->
                {{include "/app/3.nav.html" .}}
                <div class="box no-bottom-border">
                    {{include "/app/4.basePageInfo.html" .}}
                    <!-- 搜索栏-->
                    <div class="cell">
                        <el-button class="mr-12" type="primary" plain size="small" @click="uploadVisible=true">上传图片</el-button>
                        {{include "/app/5.search.html" .}}
                    </div>
                </div>
                <!--数据模块-->
                <div class="box no-bottom-border">
                    <table class="table-1" v-loading="loading" :element-loading-spinner="svg" element-loading-text="Loading..." element-loading-background="rgba(0, 0, 0, 0.3)" style="width: 100%">
                        <tbody>
                        <!--表头-->
                        <tr>
                            <th v-for="i in pageConf.fields">
                                <span v-if="!i.notShow" v-text="i.label"></span>
                            </th>
                        </tr>
                        <!--数据-->
                        <tr v-for="i in list">
                            <td v-for="j in pageConf.fields">
                                <!--根据不同的字段类型展示不同的结果-->
                                <!--filter not show field-->
                                <div v-if="!j.notShow">
                                    <div v-if="j.type==='img'"><a v-if="i[j.field]!=''" :href="'{{$.Config.server.imgPrefix}}'+i[j.field]" target="_blank"> <img class="s-icon" :src="'{{$.Config.server.imgPrefix}}'+i[j.field]" alt="not fond"> </a> <span v-else class="tag-normal">暂无图片</span></div>
                                    <div v-else-if="j.type=='select'">
                                        <el-tag size="small" :type="k.type" v-for="k in j.options" v-show="i[j.field]==k.value" v-text="k.label"></el-tag>
                                    </div>
                                    <div v-else-if="j.type=='operate'">
                                        <el-button-group>
                                            <el-button type="primary" plain size="small" @click="showDetails(2,i.id)">编辑</el-button>
                                            <el-button type="success" plain size="small" @click="onDel(i.id)">删除</el-button>
                                        </el-button-group>
                                    </div>
                                    <span v-else v-text="i[j.field]"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <el-pagination :currentPage="search.page" :page-size="search.size" :page-sizes="[1,2,5,15,30,50,100, 200, 300, 400]" small="small" background="background" layout="total, sizes, prev, pager, next, jumper" :total="total" @current-change="getList" @size-change="sizeChange"/>
                </div>
            </div>
        </div>
    </div>
    <!--弹框-->
    {{include "/app/7.footer.html" .}}

    <el-dialog v-model="uploadVisible" :title="detailsTitle" width="36%">
        <div class="details">
            <ul>
                <li><label class="input">文件<input style="width:220px" type="file" id="file" name="file" multiple></label></li>
            </ul>
            <ul>
                <li>
                    <label class="input">分组<select name="group" v-model="details.group">
                        <option :value="1">头像</option>
                        <option :value="2">图片</option>
                        <option :value="3">文件</option>
                        <option :value="4">其他</option>
                    </select></label>
                </li>
            </ul>
        </div>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="uploadVisible = false" size="small" plain>取消</el-button>
                <el-button type="primary" @click="uploadFile()" size="small" plain>提交</el-button>
            </div>
        </template>
    </el-dialog>
</div>
</body>
{{include "/app/z.footerJs.html" .}}
<script>
    const app = Vue.createApp({
        data() {
            return {
                pageConf: {
                    name: "file",
                    desc: "这里是file页面可以对数据进行相应的操作。",
                    urlPrefix: "/file/",
                    icon: "{{.data.icon}}",
                    fields: [
                        {field: "id", label: "ID"},
                        {field: "url", label: "文件名", search: 1},
                        {field: "url", label: "预览", type: "img", editHide: 1},
                        {field: "group", label: "分组", search: 1, type: 'select', options: [{value: "", label: "请选择"}, {value: "4", label: "其他", type: "info"}, {value: "1", label: "头像", type: "success"}, {value: "2", label: "图片", type: "warning"}, {value: "3", label: "文件", type: "primary"},]},
                        {field: "status", label: "状态", search: 1, type: 'select', options: [{value: "", label: "请选择"}, {value: "1", label: "正常", type: "success"}, {value: "2", label: "禁用", type: "danger"},]},
                        {field: "created_at", label: "创建时间"},
                        {field: "updated_at", label: "更新时间"},
                        {label: "操作", type: "operate"}
                    ]
                },
                search: {page: 1, size: 15, status: '',group:''}, // config & search
                list: [], loading: false, total: 0, totalPage: 0, // data
                details: {status: '', group: 4}, detailsVisible: false, detailsTitle: '添加操作', showType: 0, // 1 add 2 update, // details
                uploadVisible: false,
            }
        },
        async created() {
            document.title = this.pageConf.name
            this.getList()
        },
        methods: {
            sizeChange(size) {
                this.search.size = size;
                this.getList();
            },
            async getList(page) {
                this.loading = true;
                if (page) {
                    this.search.page = page;
                }
                let res = await $.get(`${this.pageConf.urlPrefix}`, this.search);
                const {currPage, totalCount, totalPage, list} = res.data;
                this.search.page = currPage;
                this.total = totalCount
                this.list = list;
                this.totalPage = totalPage;
                this.loading = false
            },
            async showDetails(type, id) {
                this.detailsVisible = true
                this.showType = type
                this.details = {status: 1, type: 1}
                if (type === 2) {
                    this.detailsTitle = '修改操作'
                    let res = await $.get(`${this.pageConf.urlPrefix}` + id)
                    this.details = res.data
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType === 1) {
                    res = await $.post(`${this.pageConf.urlPrefix}`, this.details)
                } else {
                    res = await $.put(`${this.pageConf.urlPrefix}`, this.details)
                }
                if (res.code === 0) {
                    noticeOk('Success')
                    this.detailsVisible = false
                    await this.getList(this.search.page)
                } else {
                    noticeError(res.msg)
                }
            },
            async onDel(id) {
                if (confirm("确定删除？")) {
                    let res = await $.delete(`${this.pageConf.urlPrefix}` + id);
                    if (res.code === 0) {
                        await this.getList(this.search.page)
                        noticeOk('Success')
                        this.detailsVisible = false
                    } else {
                        noticeError(res.msg)
                    }
                }
            },
            getFiles() {
                let data = new FormData()
                let files = $('#file')[0].files
                for (let i = 0; i, files.length; i++) {
                    let item = files[i]
                    if (!item) {
                        return data
                    }
                    data.append('file', item)
                }
                return data
            },
            uploadFile() {
                let data = this.getFiles();
                let g = $('.details select[name="group"]').val()
                if (g == null) {
                    noticeWarning('请选择分组')
                    return
                }
                data.append("group", g)
                $.ajax({
                    url: '/file/upload',
                    type: 'post',
                    cache: false,
                    data: data,
                    processData: false,
                    contentType: false,
                }).done(res => {
                    const {code, msg} = res
                    if (code === 0) {
                        noticeOk(msg)
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    } else {
                        noticeError(msg)
                    }
                })
            }
        }
    })
    app.config.warnHandler = () => null
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>