<!DOCTYPE html>
<html lang="zh">
<head>
    {{include "/app/1.meta.html" .}}
</head>
<body>
<div id="app" v-cloak>
    <!--top模块-->
    {{include "/app/2.top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div class="wrapper-left">
                <!--导航栏模块-->
                <div class="box no-bottom-border">
                    {{include "/app/4.basePageInfo.html" .}}
                    <!-- 搜索栏-->
                    <div class="cell">
                        <el-button class="mr-12" type="info" plain size="small" onclick="location.href='/role/path'">返回</el-button>
                        <el-button class="mr-12" type="primary" plain size="small" @click="showDetails(1)">添加</el-button>
                        {{include "/app/5.search.html" .}}
                    </div>
                </div>
                <!--数据模块-->
                <div class="box no-bottom-border">
                    <table class="table-1" v-loading="loading" :element-loading-spinner="svg" element-loading-text="Loading..." element-loading-background="rgba(0, 0, 0, 0.3)" style="width: 100%">
                        <tbody>
                        <!--表头-->
                        <tr>
                            <th v-for="i in pageConf.fields">
                                <span v-if="!i.notShow" v-text="i.label"></span>
                            </th>
                        </tr>
                        <!--数据-->
                        <tr v-for="i in list">
                            <td v-for="j in pageConf.fields">
                                <!--根据不同的字段类型展示不同的结果-->
                                <!--filter not show field-->
                                <div v-if="!j.notShow">
                                    <div v-if="j.type==='img'"><a v-if="i[j.field]!=''" :href="'{{$.Config.server.imgPrefix}}'+i[j.field]" target="_blank"> <img class="s-icon" :src="'{{$.Config.server.imgPrefix}}'+i[j.field]" alt="not fond"> </a> <span v-else class="tag-normal">暂无图片</span></div>
                                    <div v-else-if="j.type=='select'">
                                        <el-tag size="small" :type="k.type" v-for="k in j.options" v-show="i[j.field]==k.value" v-text="k.label"></el-tag>
                                    </div>
                                    <div v-else-if="j.type=='operate'">
                                        <el-button-group>
                                            <el-button type="success" plain size="small" @click="onDel(i.id)">删除</el-button>
                                        </el-button-group>
                                    </div>
                                    <span v-else v-text="i[j.field]" @click="showDetails(2,i.id)"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <el-pagination :currentPage="search.page" :page-size="search.size" :page-sizes="[1,2,5,15,30,50,100, 200, 300, 400]" small="small" background="background" layout="total, sizes, prev, pager, next, jumper" :total="total" @current-change="getList" @size-change="sizeChange"/>
                </div>
            </div>
        </div>
    </div>
    <!--弹框-->
    {{include "/app/8.footer_no_dialog.html" .}}
    <el-dialog v-model="detailsVisible" :title="detailsTitle" width="36%">
        <div class="details">
            <ul>
                <li><label class="input"><span>角色ID</span><input type="text" v-model="details.rid" name="rid"></label></li>
                <li><label class="input"><span>API</span><select v-model="details.aid" name="aid[]" id="aid-select" multiple style="height: 519px;width: 382px"></select></label></li>
            </ul>
        </div>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="detailsVisible = false" size="small" plain>取消</el-button>
                <el-button type="primary" @click="onSubmit()" size="small" plain>提交</el-button>
            </div>
        </template>
    </el-dialog>

</div>
</body>
{{include "/app/z.footerJs.html" .}}
<script>
    const app = Vue.createApp({
        data() {
            return {
                pageConf: {
                    name: "角色禁用API",
                    desc: "这里是角色禁用API页面,对角色禁用的相关API在此进行管理",
                    urlPrefix: "/roleApi/",
                    icon: "{{.data.icon}}",
                    fields: [
                        {field: "id", label: "ID"},
                        {field: "r_name", label: "角色"},
                        {field: "group", label: "分组"},
                        {field: "url", label: "URL"},
                        {field: "method", label: "方法"},
                        {field: "desc", label: "说明"},
                        {label: "操作", type: "operate"}
                    ]
                },
                search: {page: 1, size: 15, status: ''}, // config & search
                list: [], loading: false, total: 0, totalPage: 0, // data
                details: {status: '', rid: "{{.Query.rid}}", aid: []}, detailsVisible: false, detailsTitle: '添加操作', showType: 0 // 1 add 2 update, // details
            }
        },
        async created() {
            document.title = this.pageConf.name
            this.getList()
        },
        methods: {
            sizeChange(size) {
                this.search.size = size;
                this.getList();
            },
            async getList(page) {
                this.loading = true;
                if (page) {
                    this.search.page = page;
                }

                this.search.rid = "{{.Query.rid}}";
                let res = await $.get(`${this.pageConf.urlPrefix}`, this.search);
                const {currPage, totalCount, totalPage, list} = res.data;
                this.search.page = currPage;
                this.total = totalCount
                this.list = list;
                this.totalPage = totalPage;
                this.loading = false
            },
            async showDetails(type, id) {
                this.detailsVisible = true
                this.showType = type
                this.details = {rid: '{{.Query.rid}}', aid: []}
                let res = await $.get('/role/noapis?rid={{.Query.rid}}')
                if (res.data) {
                    let options = ''
                    res.data.forEach(item => {
                        options += `<option value='${item.id}'>${item.group}-${item.method}- ${item.desc}</option>`
                    })
                    $('#aid-select').html(options)
                }
            },
            async onSubmit() {
                let res = {}
                res = await $.post(`${this.pageConf.urlPrefix}`, this.details)
                if (res.code === 0) {
                    noticeOk('Success')
                    this.detailsVisible = false
                    await this.getList(this.search.page)
                } else {
                    noticeError(res.msg)
                }
            },
            async onDel(id) {
                if (confirm("确定删除？")) {
                    let res = await $.delete(`${this.pageConf.urlPrefix}` + id);
                    if (res.code === 0) {
                        await this.getList(this.search.page)
                        noticeOk('Success')
                        this.detailsVisible = false
                    } else {
                        noticeError(res.msg)
                    }
                }
            },
        }
    })
    app.config.warnHandler = () => null
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>