<script src="/resource/js/js.cookie.min.js"></script>
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="/resource/js/base.js"></script>
<script>
    $(function () {
        let ws = new WebSocket('{{.Config.server.wsUrl}}')
        try {
            ws.onopen = function () {
                console.log('连接成功')
            }
            ws.onclose = function () {
                if (ws) {
                    ws.close()
                    ws = null
                }
                console.log('连接关闭')
            }
            ws.onerror = function () {
                if (ws) {
                    ws.close()
                    ws = null
                }
                console.log('连接关闭')
            }
            ws.onmessage = function ({}) {
                let utterance = new SpeechSynthesisUtterance('你有一条新消息');
                speechSynthesis.speak(utterance);
                msgNum.attr("data", +msgNum.attr("data") + 1).change()
            }
        } catch (e) {
            alert(e.message)
        }
    })
</script>

