<div class="cell-tools flex-baseline">
    {{.page}}
    <form action="{{.path}}" method="get">
        <input name="page" value="1" hidden>
        <label class="input">
            <select name="size" onchange="this.form.submit()">
                <option value="10">页面大小</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
        </label>
    </form>

</div>
