<div id="top">
    <div class="w flex-center">
        <a href="{{.Config.home}}" class="logo mr-auto ">{{.Config.server.name}}</a>
        <div class="top-pc fs-15 top-right">
            <a class="btn-warning msg-num" href="/adminMessage/path?{{toUrlParams $.Query}}" data="0" style="display: none">您有1条新的消息</a>
            {{if .Session.adminInfo}}
            <a class="link-1 ">{{.Session.adminInfo.Admin.uname}}</a>
            <a class="link-1" onclick="updatePwd()">修改密码</a>
            <a class="link-1" onclick="logout()">登出</a>
            {{else}}
            <a href="/login" class="link-1">登录</a>
            {{end}}
            {{if eq .Cookie.dark 1}}
            <a href="#" onclick="setDark(0)"><img src="/resource/image/toggle-dark.png" height="10" alt="dark"></a>
            {{else}}
            <a href="#" onclick="setDark(1)"><img src="/resource/image/toggle-light.png" height="10" alt="light"></a>
            {{end}}
        </div>
        <div class="top-mobile ">
            <!--点击图标-->
            {{if .Session.adminInfo}}
            <a href="#" class="link-1">{{.Session.adminInfo.Admin.uname}}</a>
            {{else}}
            <img style="width: 30px;" src="/resource/image/ellipse_light.png" alt="More">
            {{end}}

            <!--下拉菜单框-->
            <div class="box top-mobile-menu ">

                {{if .Session.adminInfo}}
                <div class="cell fs-16">
                    <a class="link-1 block " href="{{.Config.home}}">首页</a>
                    <a class="link-1 block " href="#" onclick="updatePwd()">修改密码</a>
                </div>
                <div class="cell ">
                    <a class="link-1 block " onclick="logout()">登出</a>
                </div>
                {{else}}
                <div class="cell">
                    <a href="/login" class="login link-1">登录</a>
                </div>
                {{end}}
                <div class="cell no-bottom-border">
                    {{if eq .Cookie.dark 1}}
                    <a href="#" class="block" onclick="setDark(0)"><img src="/resource/image/toggle-dark.png" height="10" alt="dark"></a>
                    {{else}}
                    <a href="#" class="block" onclick="setDark(1)"><img src="/resource/image/toggle-light.png" height="10" alt="light"></a>
                    {{end}}
                </div>
            </div>

        </div>
    </div>
</div>