<meta charset="UTF-8">
<meta name="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" href="/resource/css/toastr.min.css"/>
<link rel="stylesheet" href="/resource/css/element-plus.css"/>
<link href="/resource/css2/base.css" rel="stylesheet">
<link href="/resource/css2/other.css" rel="stylesheet">
{{if eq .Cookie.dark 1}}
<link href="/resource/css2/dark.css" rel="stylesheet">
<link rel="stylesheet" href="/resource/css2/dark-element/button.css"/>
<link rel="stylesheet" href="/resource/css2/dark-element/tag.css"/>
{{else}}
<link href="/resource/css2/white.css" rel="stylesheet">
{{end}}
