<div class="w flex-center top"><a href="/" class="logo mr-auto">FREE KEY</a>
    <div class="top-pc fs-15 top-right">
        {{if .Session.adminInfo}}
        <a class="link-1 " href="#">{{.Session.adminInfo.Admin.uname}}</a>
        <a class="link-1" href="#" onclick="updatePwd()">修改密码</a>
        <a class="link-1" href="#" onclick="logout()">登出</a>
        {{else}}
        <a href="/login" class="login link-1">登录</a>
        {{end}}
        {{if eq .Cookie.dark 1}}
        <a href="#" onclick="setDark(0)" class="light-toggle"><img src="/resource/image/toggle-dark.png" height="10" alt="Light"></a>
        {{else}}
        <a href="#" onclick="setDark(1)" class="light-toggle"><img src="/resource/image/toggle-light.png" height="10" alt="Light"></a>
        {{end}}
    </div>
</div>
