<div class="cell-tools pagination flex-center">
    <!--total-->
    <span class="desc-2 mr-12" v-text="'Total:'+total"></span>
    <label class="input mr-12">
        <select v-model="search.size" @change="getList()">
            <option v-for="i in [1,2,5,10,15,20,30,50,100,200]" :value="i" v-text="i+'/page'"></option>
        </select>
    </label>
    <!--分页-->
    <div class="pagination-item mr-12">
        <div v-if="totalPage<8">
            <a class="link-2 mr-3" v-for="i in totalPage" v-text="i" :class="{'link-2-active':i===search.page}" @click="getList(i)"></a>
        </div>
        <div v-else>
            <a class="link-2 mr-3" v-text="1" :class="{'link-2-active':1===search.page}" @click="getList(1)"></a>
            <a class="link-2 mr-3" v-text="mid-1" :class="{'link-2-active':mid-1===search.page}" @click="getList(mid-1)"></a>
            <a class="link-2 mr-3" v-text="mid" :class="{'link-2-active':mid===search.page}" @click="getList(mid)"></a>
            <a class="link-2 mr-3" v-text="mid+1" :class="{'link-2-active':mid+1===search.page}" @click="getList(mid+1)"></a>
            <a class="link-2 mr-3" v-text="totalPage" :class="{'link-2-active':totalPage===search.page}" @click="getList(totalPage)"></a>
            <label class="input "><input style="width: 32px" type="number" v-model="search.page" @keyup.enter="getList()"></label>
        </div>
    </div>
    <div>
        <botton class="btn desc-1 mr-3" href="#" @click="search.page-- && getList()" :disabled="search.page<=1">❮</botton>
        <botton class="btn desc-1" href="#" @click="search.page++ && getList()" :disabled="search.page>=totalPage">❯</botton>
    </div>
</div>