{{include "/app2/8.footer_no_dialog.html" .}}
<el-dialog v-model="detailsVisible" :title="detailsTitle" width="36%">
    <div class="details">
        <ul>
            <li v-for="i in pageConf.fields">
                <label v-if="i.type!='select'
                    && i.field!='id'
                    && i.field!='created_at'
                    && i.field!='updated_at'
                    && i.type!='operate'
                    && !i.editHide==1" class="input">
                    <span v-text="i.label"></span>
                    <input :disabled="i.editDisabled?true:false" v-if="i.type!='select'" v-model="details[i.field]" autocomplete="off" @keyup.enter="getList()">
                </label>
            </li>
        </ul>
        <ul>
            <li v-for="i in pageConf.fields">
                <label v-if="i.type=='select' && !i.editHide==1" class="input">
                    <span v-text="i.label"></span>
                    <select v-model="details[i.field]" @change="getList()">
                        <option v-for="j in i.options" :value="j.value" v-text="j.label"></option>
                    </select>
                </label>
            </li>
        </ul>
    </div>
    <template #footer>
        <div class="dialog-footer">
            <el-button @click="detailsVisible = false" size="small" plain>取消</el-button>
            <el-button type="primary" @click="onSubmit()" size="small" plain>提交</el-button>
        </div>
    </template>
</el-dialog>

