<div id="footer">
    <div class="w">
        <div class="footer-utils  flex-center">
            <!--                <a class="mr-12" href="#" title="还没写呢">关于</a>-->
            <!--                <a class="mr-12" href="#" title="这个也还没有哦">帮助文档</a>-->
            <a class="mr-12" href="/sys/path?path=/sys/utils/server.html">服务端工具</a>
            <a class="mr-12" href="/sys/path?path=/sys/utils/html.html">HTML</a>
            <a class="mr-12" href="/sys/path?path=/sys/utils/css.html">CSS</a>
            <a class="mr-12" href="/sys/path?path=/sys/utils/js.html">JavaScript</a>
            <!--            <li><a href="#">音乐</a></li>-->
            <!--            <li><a href="#">电影</a></li>-->
            <!--            <li><a href="#">阅读</a></li>-->
            <!--                        <li><a href="#">英语</a></li>-->
        </div>
        <div class="mt-10 ">
            <p class="fs-13">感觉还没熟悉，重头再来，熟能生巧。</p>
            <p class="fs-12">越简单的事情越难做到。</p>
            <p class="fs-12">少则得，多则惑。 </p>
        </div>
    </div>
</div>
