.tag-4:hover {
    background-color: rgb(237 237 239)
}
/*单词练习*/
.practice-box {
    border: 1px solid var(--white-005);
}

.practice-option, .practice-option-error, .practice-option-success, .practice-option-info {
    border: 1px solid var(--dusk-003);
}

.practice-option:hover {
    background-color: var(--yellow-02);
}

.practice-option-error {
    background-color: var(--red-08);
    color: var(--white-002);
}

.practice-option-success {
    background-color: var(--green-08);
    color: var(--white-002);
}

.practice-option-info {
    color: var(--dusk-003);
}

/*练习进度*/
.practice-progress-all, .practice-progress-current {
    background-color: var(--gray-008);
}

.practice-progress-current {
    background-color: var(--green-09);
}

.practice-notice {
    background-color: var(--red-06);
    color: var(--red-08);
}