.progress-all {
    background-color: #3c464d;
}

.input-practice {
    background-color: var(--dusk-001);
    color: var(--white-003);
}

.input-practice-error, .input-practice-error:focus-visible {
    background-color: var(--red-05) !important;
    outline-color: var(--red-03) !important;
    color: var(--red-03) !important;
}


/*单词练习*/
.practice-box {
    border: 1px solid var(--steelblue-05);
}

.practice-option, .practice-option-error, .practice-option-success, .practice-option-info {
    border: 1px solid var(--dusk-003);
}

.practice-option:hover {
    background-color: var(--dusk-001);
}

.practice-option-error {
    background-color: var(--red-08);
    color: var(--white-002);
}

.practice-option-success {
    background-color: var(--green-08);
    color: var(--white-002);
}

.practice-option-info {
    color: var(--dusk-003);
}

/*练习进度*/
.practice-progress-all, .practice-progress-current {
    background-color: var(--steelblue-03);
}

.practice-progress-current {
    background-color: var(--green-08);
}

.practice-notice {
    background-color: var(--steelblue-05);
    color: var(--red-08);
}
