<nav class="w  nav-style-1">
    <ul>
        <li><a href="/">Home</a>
            <ul>
                <li><a href="https://google.com" target="_blank">google</a></li>
                <li><a href="https://github.com" target="_blank">github</a></li>
                <li><a href="https://v2ex.com" target="_blank">v2ex</a></li>
            </ul>
        </li>
        {{range .Session.adminInfo.Menus}}
        <li><a href="/">{{.name}}</a>
            <ul>
                {{range .Children}}
                <li><a href="{{.path}}">{{.name}}</a></li>
                {{end}}
            </ul>
        </li>
        {{end}}
        {{if .Session.adminInfo}}
        <li class="profile"><a href="#">admin</a>
            <ul>
                <li><a href="/admin/logout">Logout</a></li>
                <li><a href="#" onclick="handleUpdatePwd()">Update Password</a></li>
            </ul>
        </li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{end}}
    </ul>
</nav>
<script>

</script>