<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="Content-Type" content="text/html;charset=utf-8">
    {{include "/app/meta.html" .}}
    <title>日记</title>
</head>
<body>
<div id="app" v-cloak>
    {{include "/app/top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div id="main">
                {{include "/app/nav.html" .}}
                <div class="box" id="page-title">
                    <div class="box-title">
                        <img src="/resource/image/golang.png" width="64" alt="日记">
                        <div>
                            <div class="breadcrumb">
                                <a href="/"> ADMIN</a>
                                <span class="chevron">&nbsp;›&nbsp;</span>
                                <span v-text="page.name"></span>
                            </div>
                            <div class="intro" v-text="page.desc"></div>
                        </div>
                    </div>
                    <form action="{{.c.PageUrl}}" method="get" id="search">
                        <div class="box-action">
                            <input type="button" class="button" value="添加" @click="showDetails(1)">
                            <span>ID</span> <input v-model="searchData.id" autocomplete="off" @keyup.enter="onSearch">
                        </div>
                    </form>
                </div>
                <div class="box" id="data" v-show="showType==0">
                    <table id="table">
                        <tbody>
                        <tr>
                            <th width="40">ID</th>
                            <th>ID</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="item in list">
                            <td v-text="item.id">
                            <td v-text="filterStatus(item.status)">
                            <td class="table-action">
                                <a href="#" @click="showDetails(2,item.id)">编辑</a>
                                <a href="#" @click="del(item.id)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {{include "/app/pagination.html" .}}
                </div>
                <form class="box details-form" v-show="showType==1||showType==2">
                    <ul>
                        <h2>基本信息</h2>
                        <li><input hidden name="id"></li>
                        <li><span>ID</span><input autocomplete="off" type="number" v-model="details.id"></li>
                        <li>
                            <span>状态</span>
                            <select name="status" v-model="details.status">
                                <option>请选择</option>
                                <option value="1">启用</option>
                                <option value="2">禁用</option>
                            </select>
                        </li>
                    </ul>
                    <div class="form-action">
                        <input type="button" class="button" value="返回" @click="showMain()">
                        <input type="button" class="button" value="提交" @click="onSubmit()">
                    </div>
                </form>
            </div>
            <div id="right-bar">
                <div class="box">
                    {{include "/app/nav_right.html" .}}
                </div>
            </div>
        </div>
    </div>
    {{include "/app/footer.html" .}}
</div>
</body>
<script>
    Vue.createApp({
        data() {
            return {
                list: JSON.parse('{{json .list}}'),
                details: {},
                searchData: {
                    id: '{{.Query.id}}',
                },
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "日记",
                    desc: "",
                    urlPrefix: '/diary',
                }
            }
        },
        methods: {
            del(id) {
                if (confirm("确定删除？")) {
                    $.delete(`${this.page.urlPrefix}/del?id=` + id, (res) => {
                        if (res.code === 0) {
                            noticeOk('Success')
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        } else {
                            noticeError(res.msg)
                        }
                    });
                }
            },
            async onSubmit() {
                let res = {}
                if (this.showType == 1) {
                    res = await $.post(`${this.page.urlPrefix}/post`, this.details)
                } else {
                    res = await $.put(`${this.page.urlPrefix}/put`, this.details)

                }
                if (res.code === 0) {
                    noticeOk('Success')
                    setTimeout(() => location.reload(), 1000)
                } else {
                    noticeError(res.msg)
                }
            },
            async showDetails(type, id) {
                this.showType = type
                this.details = {}
                if (this.showType == 2) {
                    let res = await $.get(`${this.page.urlPrefix}/getById?id=` + id)
                    this.details = res.data
                }
            },
            showMain() {
                this.showType = 0
            },
            onSearch() {
                this.searchData.page = 1
                location.href = `${this.page.urlPrefix}/list?` + $.param(this.searchData)
            },
            filterStatus(s) {
                return +s == 1 ? "启用" : "禁用"
            },
        }
    }).mount('#app')
</script>
</html>