<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">

    <meta name="Content-Type" content="text/html;charset=utf-8">
    {{include "/app/meta.html" .}}
    <title>ADMIN</title>
</head>
<body>
<div id="app">
    {{include "/app/top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div id="main">
                {{include "/app/nav.html" .}}
                <h2>Hello </h2>
                <p>Welcome to system </p>
            </div>
        </div>
    </div>
</div>
</body>
{{include "/app/footer.html" .}}
<script>
    current = $("a[href='/menu/path']")
    $("#secondary-tabs a[data='" + current.attr("data") + "']").show()
    $("#tabs a[data='" + current.attr("data") + "']").addClass("tab-current")
</script>
</html>