<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">

    <meta name="Content-Type" content="text/html;charset=utf-8">
    {{include "/app/meta.html" .}}
    <title>ADMIN</title>
</head>
<body>
<div id="app">
    {{include "/app/top.html" .}}
    <div id="wrapper">
        <div class="w">
            <div id="main">
                {{include "/app/nav.html" .}}
                <div class="box" id="page-title">
                    <div class="box-title">
                        {{include "/app/box_title.html" .}}
                    </div>
                </div>
                <div class="box" id="news" v-loading="loading">
                    <div class="news-cell" v-for="i in list">
                        <el-tooltip
                                effect="light"
                                :content="content(i)"
                                :show-after="300"
                                raw-content
                                placement="bottom-start">
                            <a class="news-title" v-text="parseTitle(i.title)[1]" target="_blank" :href="parseUrl(i.link)"></a>
                        </el-tooltip>
                        <div class="news-time">
                            <span class="news-node" v-text="parseTitle(i.title)[0]"></span>
                            &nbsp;•&nbsp;
                            <a class="author-info" :href="i.author.uri" target="_blank" v-text="i.author.name"></a>
                            &nbsp;•&nbsp;
                            <span v-text="timeago(i.published)"></span>
                        </div>
                    </div>
                </div>
                {{include "/app/nav_bottom.html" .}}
            </div>
        </div>
    </div>
</div>
</body>
{{include "/app/footer.html" .}}
<script>
    current = $("#secondary-tabs a[href='/']")
    $("#secondary-tabs a[data='" + current.attr("data") + "']").show()
    $("#tabs a[data='" + current.attr("data") + "']").addClass("tab-current")

    const app = Vue.createApp({
        data() {
            return {
                list: [],
                page: {
                    name: "v2ex",
                    desc: "V2EX新闻资讯",
                },
                menus: JSON.parse(localStorage.getItem('menus')), dark: Cookies.get('dark'),
            }
        },
        watch: {
            dark() { // dark 变动后刷新一下从服务获取dark的css
                location.reload()
            }
        },
        created() {
            this.getList()
        },
        methods: {
            setDark() {
                Cookies.set('dark', this.dark);
            },
            timeago(t) {
                return jQuery.timeago(t)
            },
            parseUrl(data) {
                for (let i in data) {
                    if (i == '-href') {
                        return data[i]
                    }
                }
            },
            parseTitle(title) {
                let res = []
                let i = title.indexOf(']');
                let t = title.slice(i + 1) // title
                let a = title.slice(0, i)
                res.push(a.replace('[', '')) // node
                res.push(t) // title
                return res

            },
            content(data) {
                let res = ""
                for (let i in data.content) {
                    if (i == "#text") {
                        res = data.content[i]
                    }
                }
                return res
            },
            async getList() {
                this.loading = true
                let url = `https://www.v2ex.com/index.xml`
                const res = await $.get("/rss/fetch?url=" + url)
                this.loading = false
                if (res.code == 0) {
                    this.list = res.data.entry
                } else {
                    noticeError(res.msg)
                }
            }
        }
    })
    app.use(ElementPlus)
    app.mount("#app")
</script>
</html>