<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{include "/app/meta.html" .}}
</head>
<body>
<div id="app" v-cloak>
    <div class="nav">
        {{include "/app/nav.html" .}}
    </div>
    <div class="page">
        <div class="box box-bg-2 page-header">
            {{include "/app/page-header.html" .}}
        </div>
        <div class="main box box-bg-2">
            <form class="page-header-action" id="search"></form>
        </div>
        <div class="footer"></div>
    </div>
</div>
</body>
{{include "/app/footerjs.html" .}}
<script>
    const app = Vue.createApp({
        data() {
            return {
                detailsVisible: false,
                showType: 0, // 0 main 1 add 2update
                page: {
                    name: "首页",
                    desc: "欢迎。",
                    urlPrefix: '/',
                }
            }
        },
        methods: {}
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</html>