<body>
<header>
    <meta charset="utf-8">
</header>
<main>
    <b>Login</b>
    <br>
    <br>
    <form id="login-form">
        <label>username:</label>
        <input name="uname" type="text" placeholder="请输入用户名"> <br>
        <label style="margin-top: 6px;display: inline-block">password:</label>
        <input name="pwd" type="password" placeholder="请输入密码">
        <br>
        <br>
        <button id="login-btn" type="button">login</button>
    </form>
    <br>
    <br>
    {{include "/app/z.other_info.html" .}}
</main>
<script src="/resource/js/jquery-3.6.0.min.js"></script>
<script src="/resource/js/toastr.min.js"></script>
<script>
    $(function () {
        $("#login-btn").click(function () {
            $.post("/admin/login", $("#login-form").serialize(), async function (data) {
                if (data.code === 0) {
                    alert('Success')
                    window.location.href = "{{.Config.home}}";
                } else {
                    alert(data.msg)
                }
            });
        });
    });
</script>
</body>